Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Updated total test count number
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

update .ptfConfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Merged PR 5737338: Make sure cluster works before run SWNRegistration cases
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNRegistration.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Remove Code RepititionImplement AES-256-GCM and AES-256-CCM in ProtoSDK
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/MS-SMB2/Common/Smb2CryptoInfo.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  ProtoSDK/MS-SMB2/Smb2Consts.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5615538: Added FSCTL_MARK_HANDLE tests
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-FSCC/Messages/FsccFsctlMarkHandleRequestPacket.cs
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_MARK_HANDLE.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5737408: Add implementation of storage
  ProtocolTestManager/PTMService/Abstractions/Database/IRepository.cs
  ProtocolTestManager/PTMService/Abstractions/Database/IRepositoryPool.cs
  ProtocolTestManager/PTMService/Abstractions/Storage/IStorageNode.cs
  ProtocolTestManager/PTMService/Abstractions/Storage/IStoragePool.cs
  ProtocolTestManager/PTMService/PTMService/Database/Extensions.cs
  ProtocolTestManager/PTMService/PTMService/Database/Repository.cs
  ProtocolTestManager/PTMService/PTMService/Database/RepositoryPool.cs
  ProtocolTestManager/PTMService/PTMService/PTMService.sln
  ProtocolTestManager/PTMService/PTMService/Storage/Extensions.cs
  ProtocolTestManager/PTMService/PTMService/Storage/Options.cs
  ProtocolTestManager/PTMService/PTMService/Storage/Storage.csproj
  ProtocolTestManager/PTMService/PTMService/Storage/StorageNode.cs
  ProtocolTestManager/PTMService/PTMService/Storage/StoragePool.cs
  ProtocolTestManager/PTMService/PTMService/UnitTest/Database/DatabaseTest.cs
  ProtocolTestManager/PTMService/PTMService/UnitTest/Storage/StorageTest.cs
  ProtocolTestManager/PTMService/PTMService/UnitTest/UnitTest.csproj
Due: none

fix scripts for linux
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Modify-ConfigFileNode.ps1
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5660391: Fail earlier when basic share doesn't exist for ioctl, rsvd and sqos detection
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/IoctlCodeDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/RsvdDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/SqosDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
Due: none

Changed to new script locations.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Merged PR 5719250: Add new cases to query normalized name
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add PR Checklist
  .azuredevops/pull_request_template/branches/main.md
Due: none

Update style
  .azuredevops/pull_request_template/branches/main.md
Due: none

Update pull request check list
  .azuredevops/pull_request_template/branches/main.md
Due: none

Merged PR 5742169: Add CA share on PTM GUI for connection detection.
  ProtocolTestManager/Deploy/Product.wxs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Information.cs
Due: none

Merged PR 5747374: [GitHub PR Validation] Changed script paths to their new locations.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Merged PR 5642275: Add Group node and update parameters' name for the rdp client pft configuration
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Client/src/Adapter/IRdpSutControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/SUTControlProtocolHandler.cs
  TestSuites/RDP/Client/src/Adapter/PtfPropUtility.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/ClientRoleCaptureCode.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEDISP/RdpedispAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEFS/RdpefsAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEGFX/RdpegfxAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEUSB/Config.cs
  TestSuites/RDP/Client/src/Adapter/RDPEUSB/RdpeusbAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEVOR/RdpegtAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEVOR/RdpevorAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/S2_OrientationChange.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxH264CodecTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxSurfaceToCacheToSurfaceTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/S1_Connection.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S2_DataTransfer.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEVOR/RdpevorTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 5747380: [S360] Fix building issues of some test suites.
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/MS-ADTS-LDAP/MS-ADTS-LDAP.csproj
  TestSuites/BranchCache/src/MS-PCCRC_Tool/Source/MS-PCCRC_TestTool/MS-PCCRC_TestTool.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 5742320: Implement the action of install test suite
  ProtocolTestManager/PTMService/Abstractions/Abstractions.csproj
  ProtocolTestManager/PTMService/Abstractions/IScopedService.cs
  ProtocolTestManager/PTMService/Abstractions/IScopedServiceFactory.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/PTMService/Common/Entities/TestSuiteInstallation.cs
  ProtocolTestManager/PTMService/PTMService/Common/Types/TestSuiteInstallMethod.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/Extensions.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/PTMKernelService.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/PTMKernelService.csproj
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/PTMKernelService_TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/PTMKernelService/Utility.cs
  ProtocolTestManager/PTMService/PTMService/PTMService.sln
  ProtocolTestManager/PTMService/PTMService/PTMService/Configurations/KnownStorageNodeItem.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Controllers/PTMServiceControllerBase.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Controllers/TestSuiteManagementController.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/PTMService/PTMService/Program.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/ScopedService.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/ScopedServiceFactory.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Startup.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/appsettings.json
  ProtocolTestManager/PTMService/PTMService/Storage/Extensions.cs
  ProtocolTestManager/PTMService/PTMService/Storage/StoragePool.cs
  ProtocolTestManager/PTMService/PTMService/UnitTest/Storage/StorageTest.cs
Due: none

Implement Full Session Key for AES-256 and maintain Session Key (16 bytes) for AES-126
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/MS-SMB2/Common/Smb2CryptoInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5742003: Add common components and Update SelectTestSuite page
  .gitignore
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/package.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/actions/TestSuiteConfigurationAction.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/actions/TestSuitesActions.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/LoadingPanel.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/StepPanel.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/TestSuiteInfo.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/UseWindowSize.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/css/testsuiteinfo.css
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/model/Configuration.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/pages/SelectConfiguration.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/pages/SelectTestSuite.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/pages/TestSuiteInstruction.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/pages/TestSuiteRunWizard.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/reducers/TestSuiteConfigurationReducer.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/reducers/TestSuitesReducer.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/services/Configurations.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/services/index.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/Controllers/TestSuiteConfigurationController.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Add missed parameter
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Implement Encryption key logic for dialect 311 and AES256
  ProtoSDK/MS-SMB2/Common/Smb2CryptoInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Updated Smb2CryptoInfo.cs
  ProtoSDK/MS-SMB2/Common/Smb2CryptoInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5724556: Update Network Direct NDK Link
  README.md
Due: none

Revert config file changes
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/CommonAlgorithmTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/DirectoryAccess_FindAllFiles.cs
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactor code based on PR comments
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revert config settings
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revert IP address change
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

fix typo
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Format code
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Merged PR 5757914: Revert 'Added FSCTL_MARK_HANDLE tests'
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-FSCC/Messages/FsccFsctlMarkHandleRequestPacket.cs
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_MARK_HANDLE.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding more details to TDS for FileInfo_Set_FileBasicInformation
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Add 7 to total test cases to resolve conflicting merge
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

code refactoer
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add TDS for new FileInfo_Set_FileBasicInformation test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
