Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Merged PR 8467479: Fixed contrast accessibility issues
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/configureAdapter.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
Due: none

Merged PR 8486765: Fix Split String Bug
  TestSuites/RDP/Server/src/Adapter/TestConfig.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

remove attrib
  TestSuites/RDP/Server/Setup/Scripts/Modify-ConfigFileNode.ps1
  TestSuites/RDP/Server/Setup/Scripts/Set-Parameter.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 8564254: Update TS_UD_CS_CORE, TS_UD_SC_CORE and earlyCapabilityFlags_Values.
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/ClientRoleCaptureCode.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 8573813: Updated fluentui/react to fix build issue
  ProtocolTestManager/PTMService/PTMService/ClientApp/.env
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
Due: none

Merged PR 8574400: version change
  AssemblyInfo/SharedAssemblyInfo.cs
Due: none

Merged PR 8574846: version number changes
  AssemblyInfo/.version
  AssemblyInfo/resource.h
Due: none

Merged PR 8585692: Fix to resolve bug with RDPEUDP socket connection on multiple auto-detect attempts.
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPDetector.cs
Due: none

Merged PR 8592911: Fix Deprecated Options on Build
  TestSuites/FileServer/src/build.ps1
  TestSuites/MS-WSP/src/build.ps1
  TestSuites/RDP/Client/src/build.ps1
  TestSuites/RDP/Server/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Directory entry AllocationSize values are implementation-specific #298
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

add excluded case
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes RDPServer WaitForSUTControlAdapterReady.ps1.
  TestSuites/RDP/Server/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Fixes GitHubPR-Regression.yml.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Fixes.
  TestSuites/RDP/Server/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add SUTOperationNeeded TestCategory.
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 8722676: Mitigated npm-audit issues
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
Due: none

Merged PR 8736386: Added delete feature for test runs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/SelectedTestCasesAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
Due: none

Merged PR 8806422: Upgrade PTM Service to .NET 7
  ProtocolTestManager/PTMService/Abstractions/Abstractions.csproj
  ProtocolTestManager/PTMService/Common/Common.csproj
  ProtocolTestManager/PTMService/Database/Database.csproj
  ProtocolTestManager/PTMService/DatabaseMigration/DatabaseMigration.csproj
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.csproj
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/Storage/Storage.csproj
  ProtocolTestManager/PTMService/UnitTest/UnitTest.csproj
  ProtocolTestManager/PtmCli/PtmCli.csproj
Due: none

Merged PR 8815679: Upgrade PTM Service dependencies to .NET 7
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  ProtocolTestManager/ptmtestlogger/PTMTestLogger.csproj
Due: none

Merged PR 8884650: Enable support for block aligned file systems (for small files)
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 8884648: Verify file short name only on filesystems that support it
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes BranchCache.
  TestSuites/BranchCache/src/MS-PCCRC_Tool/Source/MS-PCCRC_TestTool/MS-PCCRC_TestTool.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/BranchCache/src/build.ps1
Due: none

Fixes FSA AlternateDataStreamTestCases.cs.
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStreamTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes SMBD.
  ProtoSDK/MS-SMBD/Smbd.csproj
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Fixes RDPServer.
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Fixes SharedAssemblyInfo.cs for ProtocolTestManager\Common\Common.csproj use netstandard2.0 TargetFramework.
  AssemblyInfo/SharedAssemblyInfo.cs
Due: none

Remove ADFamily src UpgradeLog.htm.
  TestSuites/ADFamily/src/UpgradeLog.htm
Due: none

Fixes BitConverter.GetBytes ambiguous issue.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/Smb2TransportAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes RDPClient.
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: none

Update RDPToolSet.
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/CodecToolSet.Core.csproj
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Tests/CodecToolSet.Tests.csproj
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/RDPToolSet.Web.csproj
Due: pipelines/github/RDPToolSet-GitHubPR-Build.yml

Fixes WSP.
  ProtoSDK/MS-WSP/Wsp.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Fixes ShareUtil to .net 7.0.
  TestSuites/FileServer/ShareUtil/ShareUtil/ShareUtil.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update RDPSUTControlAgent nuget packages.
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

Keep Target framework as previous -windows.
  TestSuites/BranchCache/src/MS-PCCRC_Tool/Source/MS-PCCRC_TestTool/MS-PCCRC_TestTool.csproj
Due: none

Use System.Net.Quic2.dll
  ProtoSDK/TransportStack/Quic/System.Net.Quic.dll
  ProtoSDK/TransportStack/Quic/System.Net.Quic.pdb
  ProtoSDK/TransportStack/Quic/System.Net.Quic2.deps.json
  ProtoSDK/TransportStack/Quic/System.Net.Quic2.dll
  ProtoSDK/TransportStack/Quic/System.Net.Quic2.pdb
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
  ProtoSDK/TransportStack/Socket/QuicServerConnection.cs
  ProtoSDK/TransportStack/Socket/QuicServerListener.cs
  ProtoSDK/TransportStack/Socket/QuicServerTransport.cs
  ProtoSDK/TransportStack/TransportStack.csproj
  ProtoSDK/TransportStack/Utilities/QuicReceiveLoopVisitor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update TransportStack.csproj.
  ProtoSDK/TransportStack/TransportStack.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
