Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Merged PR 1766: [FileServer Cluster] Faile to SESSION_SETUP ErrorCode=STATUS_USER_SESSION_DELETED
  TestSuites/FileServer/src/ServerFailover/TestSuite/AsymmetricShare.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1832: [RDPClient] Enable regression run for SUT controller adapter
  TestSuites/RDP/Client/Setup/Data/DisconnectAllAgents.bat
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Client/Setup/Scripts/ParamConfig.xml
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
  pipelines/AzureRegression.yml
  pipelines/LocalRegression.yml
Due: none

Merged PR 1836: [RDPClient] Split the S2_AutoDetect_RTTMeasure case into 2 separated reliable and lossy cases.
  TestSuites/RDP/Client/docs/MS-RDPEMT_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/docs/RDP_Overview_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/S2_AutoDetect.cs
Due: none

Fix build.
  .gitignore
  TestSuites/MS-WSP/src/Deploy/deploy.wixproj
  TestSuites/MS-WSP/src/MS-WSP_Server.sln
  TestSuites/MS-WSP/src/build.cmd
Due: none

Merged PR 1820: Add test cases for SMB2 chained compression
  ProtoSDK/MS-SMB2/Smb2Consts.cs
  ProtoSDK/MS-SMB2/Smb2Utility.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Reference PTF nuget to auto deploy ptfconfig file
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix testing with Debug configuration.
  TestSuites/MS-WSP/src/MS-WSP_Server.sln
Due: none

Merged PR 1842: Multiple attempts to get users on SDC to avoid synchronization delays that cause failure
  TestSuites/ADFamily/src/Adapter/Utilities.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2012/TraditionalcaseWin2012.cs
Due: none

Fix MSI package.
  TestSuites/MS-WSP/src/Deploy/TestSuiteMiscFiles.wxs
Due: none

Merged PR 1771: FileServerFailover_ScaleOutFileServer fail randomly
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1844: C# SUT Control Agent configurable
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Program.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlListener.cs
Due: none

Process unhandled EOF symbol in last block for LZ77 Huffman decompression
  ProtoSDK/MS-XCA/LZ77Huffman/LZ77HuffmanDecompressor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Avoid invoke the disconnect method from a null Smb2FunctionalClient object.
  TestSuites/FileServer/src/SMB2/TestSuite/IOCTL/CopyOffload.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1838: Update NRPC test suite to align with latest doc
  TestSuites/ADFamily/src/Adapter/MS-NRPC/ServerRoleCaptureCode.cs
Due: none

Merged PR 1840: Detect RDMA adapter capabilities in SMBD PTM plugin
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/CheckSMBDFeature.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/DetectionInfo.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/SMBDClient.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/SMBDDetector.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/SMBDValueDetector.cs
Due: none

Fix DRSR regression failure
  TestSuites/ADFamily/src/TestSuite/MS-DRSR/Failures/DrsReplicaSyncFailures.cs
  TestSuites/ADFamily/src/TestSuite/MS-DRSR/Failures/DrsrKCCFailures.cs
Due: none

Fix DRSR data types
  ProtoSDK/MS-DRSR/Client/DrsrRpcStubFormatString.cs
  ProtoSDK/MS-DRSR/DrsrAutoGeneratedTypes.cs
  TestSuites/ADFamily/src/Adapter/MS-DRSR/NativeRpcAdapter/NativeTypes.cs
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/ms-drsr.h
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/ms-drsr.idl
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/ms-drsr_c.c
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1854: [WSPEnhancement] Add new test cases for CPMCiState, CPMConnect, WspMessageHeader.
  ProtoSDK/MS-WSP/Client/WspClient.cs
  ProtoSDK/MS-WSP/DataTypes.cs
  ProtoSDK/MS-WSP/Messages/CPMCiStateInOut.cs
  ProtoSDK/MS-WSP/WspMessageHeader.cs
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCiState.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMConnect.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspMessageHeader.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Remove usage of Path.Combine in FileServer test cases
  TestSuites/FileServer/src/Common/TestSuite/CommonTestBase.cs
  TestSuites/FileServer/src/SMB2/TestSuite/AppInstanceId/AppInstanceIdWithLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Replay/Replay.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/AsymmetricShare.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverBasic.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNAsyncNotification.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1829: [RDPServer] Fix RDPEDYC test cases.
  ProtoSDK/MS-RDPBCGR/StaticVirtualChannel.cs
  ProtoSDK/MS-RDPEDYC/Client/Rdpbcgr_DVCClientTransport.cs
  ProtoSDK/MS-RDPEDYC/Client/RdpedycClient.cs
  ProtoSDK/MS-RDPEDYC/PduBuilder.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Fix a few typos
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/Model/CreateFile/CreateFile.cord
  TestSuites/FileServer/src/FSAModel/Model/OpenFile/OpenFile.cord
  TestSuites/FileServer/src/FSAModel/Model/OpenFile/OpenFile.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

If the FQDN is not fetched by reverse DNS lookup, then use the SutComputerName directly as part of the SPN.
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Updated Create-TestAccount.ps1 for License header
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update wording according to cr comments.
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1863: [WSPEnhancement] Add new test cases for CPMGetQueryStatus and CPMGetQueryStatusEx.
  ProtoSDK/MS-WSP/Messages/CPMGetQueryStatusExIn.cs
  ProtoSDK/MS-WSP/Messages/CPMGetQueryStatusExOut.cs
  ProtoSDK/MS-WSP/Messages/CPMGetQueryStatusIn.cs
  ProtoSDK/MS-WSP/Messages/CPMGetQueryStatusOut.cs
  ProtoSDK/MS-WSP/WSP.csproj
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCiState.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMConnect.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetQueryStatus.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetQueryStatusEx.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMSetBindings.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspCommonTestBase.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspMessageHeader.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1618: Make clientRequestedProtocols optional
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientContext.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerSessionContext.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_ReceiveMethod.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1852: [RDPClient] S3_Tunneling_StaticVirtualChannel_PositiveTest failed when compression enabled
  ProtoSDK/MS-RDPEDYC/DynamicVirtualChannel.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

add missed licence header
  ProtoSDK/Messages/Attributes.cs
  ProtoSDK/Messages/Combination.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1871: FileServer kerb auth typo issue
  TestSuites/FileServer/Setup/Scripts/ParamConfig.xml
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1862: [WSPEnhancement] Add test cases for CPMCreateQuery related to localized sorting and RowsetProperties.
  ProtoSDK/MS-WSP/Messages/CPMGetRowsOut.cs
  ProtoSDK/MS-WSP/Structures/CTableVariant.cs
  ProtoSDK/MS-WSP/WspConsts.cs
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale1.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale2.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale3.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale4.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale5.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Locale/locale6.doc
  TestSuites/MS-WSP/Setup/Data/Test/test127.doc
  TestSuites/MS-WSP/Setup/Data/Test/test13.doc
  TestSuites/MS-WSP/src/Adapter/IWspAdapter.cs
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_RowsetProperties.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspCommonTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Update Comments
  ProtoSDK/Messages/Attributes.cs
  ProtoSDK/Messages/Combination.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove method comments
  ProtoSDK/Messages/Attributes.cs
  ProtoSDK/Messages/Combination.cs
  ProtoSDK/Messages/Condition.cs
  ProtoSDK/Messages/Requirement.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add more test cases for CPMCreateQuery
  TestSuites/MS-WSP/Setup/Data/CreateQuery_FileNameNotEqual/1
  TestSuites/MS-WSP/Setup/Data/CreateQuery_FileNameNotEqual/2
  TestSuites/MS-WSP/Setup/Data/CreateQuery_FileNameNotEqual/test
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Update comments.
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
Due: none

Merged PR 1608: Add handling of disconnection for RdpemtClient and under-layer
  ProtoSDK/MS-RDPEMT/Client/RdpemtClient.cs
  ProtoSDK/MS-RDPEMT/RdpemtTransport.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/ISecureChannel.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpTLSChannel.cs
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.cs
  TestSuites/RDP/Server/src/Adapter/RDPEMT/RdpemtAdapter.cs
  TestSuites/RDP/Server/src/Adapter/TestConfig.cs
  TestSuites/RDP/Server/src/TestSuite/RDPEMT/S1_MultitransportConnectionInitiationTest.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Remove Make in NegotiateTestCase
  TestSuites/FileServer/src/SMB2Model/TestSuite/NegotiateTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Refine according to pr comments
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Fix a bug in comment
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Update logs.
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
