Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs

Merged PR 5094108: Ignore three special test cases because they are not supported in dotnet core
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5099448: Add missing quote in sh
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5094569: Add execute permission to sh batch
  TestSuites/FileServer/src/Batch/RunAllTestCases.sh
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.sh
  common/RunTestCasesByBinariesAndFilter.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove autocapture config
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove autocapture folder
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5094086: Add test case discover for dotnet core test suite
  ProtocolTestManager/Common/Common.csproj
  ProtocolTestManager/Common/TestCaseInfo.cs
  ProtocolTestManager/Deploy/Product.wxs
  ProtocolTestManager/Deploy/ProtocolTestManagerInstaller.wixproj
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/StringResource.Designer.cs
  ProtocolTestManager/Kernel/StringResource.resx
  ProtocolTestManager/Kernel/TestSuite/ITestSuite.cs
  ProtocolTestManager/Kernel/TestSuite/TestSuite.cs
  ProtocolTestManager/Kernel/TestSuite/TestSuiteFromCore.cs
  ProtocolTestManager/Kernel/TestSuite/TestSuiteFromFramework.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/ProtocolTestManager.sln
  ProtocolTestManager/TestCaseDiscover/Program.cs
  ProtocolTestManager/TestCaseDiscover/TestCaseDiscover.csproj
  ProtocolTestManager/UI/UI.csproj
  ProtocolTestManager/build.cmd
  ProtocolTestManager/buildtest.cmd
Due: none

Merged PR 5032406: new ptmtestlogger
  ptmtestlogger/DataType.cs
  ptmtestlogger/PTMTestLogger.cs
  ptmtestlogger/PTMTestLogger.csproj
  ptmtestlogger/Properties/Resources.Designer.cs
  ptmtestlogger/Properties/Resources.resx
  ptmtestlogger/Resources/functions.js
  ptmtestlogger/Resources/index.html
  ptmtestlogger/Resources/testcase.html
  ptmtestlogger/TxtToJSON.cs
Due: none

Move location
  ProtocolTestManager/PTMTestLogger/DataType.cs
  ProtocolTestManager/PTMTestLogger/PTMTestLogger.cs
  ProtocolTestManager/PTMTestLogger/PTMTestLogger.csproj
  ProtocolTestManager/PTMTestLogger/Properties/Resources.Designer.cs
  ProtocolTestManager/PTMTestLogger/Properties/Resources.resx
  ProtocolTestManager/PTMTestLogger/Resources/functions.js
  ProtocolTestManager/PTMTestLogger/Resources/index.html
  ProtocolTestManager/PTMTestLogger/Resources/testcase.html
  ProtocolTestManager/PTMTestLogger/TxtToJSON.cs
Due: none

Updated Auth_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Upload HVRS to GitHub
  TestSuites/FileServer/docs/[MS-HVRS].pdf
Due: none

Merged PR 5101170: Update the function and add more description
  ProtoSDK/Common/DtypSecurityStructures.cs
  ProtoSDK/Common/DtypUtility.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5106040: Fix issue of date time serialization
  ProtocolTestManager/PTMTestLogger/DataType.cs
  ProtocolTestManager/PTMTestLogger/PTMTestLogger.csproj
  ProtocolTestManager/PTMTestLogger/Properties/Resources.Designer.cs
  ProtocolTestManager/PTMTestLogger/Properties/Resources.resx
  ProtocolTestManager/PTMTestLogger/Resources/functions.js
  ProtocolTestManager/PTMTestLogger/TxtToJSON.cs
Due: none

Merged PR 5106054: Fix issue of date time serialization
  ptmtestlogger/DataType.cs
  ptmtestlogger/PTMTestLogger.csproj
  ptmtestlogger/Properties/Resources.Designer.cs
  ptmtestlogger/Properties/Resources.resx
  ptmtestlogger/Resources/functions.js
  ptmtestlogger/TxtToJSON.cs
Due: none

Remove useless batch files.
  TestSuites/FileServer/src/Batch/Domain_RunAllTestCases.cmd
  TestSuites/FileServer/src/Batch/Domain_RunBVTTestCases.cmd
  TestSuites/FileServer/src/Batch/RefreshTestConfig.cmd
  TestSuites/FileServer/src/Batch/Workgroup_RunAllTestCases.cmd
  TestSuites/FileServer/src/Batch/Workgroup_RunBVTTestCases.cmd
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove unused scripts
  TestSuites/FileServer/src/Batch/RunTestCasesByCategory.cmd
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5114545: Add support to test engine for dotnet core test suite
  ProtocolTestManager/Deploy/Product.wxs
  ProtocolTestManager/Deploy/ProtocolTestManagerInstaller.wixproj
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/StringResource.Designer.cs
  ProtocolTestManager/Kernel/StringResource.resx
  ProtocolTestManager/Kernel/TestEngine/HtmlResultChecker.cs
  ProtocolTestManager/Kernel/TestEngine/Logger.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngineCore.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngineFramework.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PTMTestLogger/PTMTestLogger.csproj
  ProtocolTestManager/ProtocolTestManager.sln
  ProtocolTestManager/build.cmd
  ProtocolTestManager/buildtest.cmd
Due: none

Merged PR 5119500: Update version to 4.20.9.0
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 5119513: Add assembly info for product name
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
  ProtoSDK/RDMA/Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rdma.rc
  TestSuites/ADFamily/src/MS-FRS2/FRS2Stubs/IMS_FRS2_RpcAdapter_RpcStubs.rc
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/IMS_DRSR_RpcAdapter_RpcStubs.rc
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Update file server user guide
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Merged PR 5119549: Update version to 4.20.9.0
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 5119631: Remove PtmCli from deploy
  ProtocolTestManager/Deploy/Product.wxs
  ProtocolTestManager/Deploy/ProtocolTestManagerInstaller.wixproj
Due: none

Merged PR 5119809: Optimize UI logic and fix issue
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteFamilies.cs
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml.cs
Due: none

Update according to cr comments
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

update batch and build for rdp
  TestSuites/RDP/Client/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
  TestSuites/RDP/Client/src/Batch/CommonRunSingleCase.cmd
  TestSuites/RDP/Client/src/Batch/CommonRunTestCase.cmd
  TestSuites/RDP/Client/src/Batch/Rdpbcgr_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpbcgr_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpedisp_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpedisp_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpegfx_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpegfx_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpei_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpei_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpemt_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpemt_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpeudp_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpeudp_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpeusb_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpeusb_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpevor_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdpevor_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdprfx_RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/Rdprfx_RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/RunAllTestCases.cmd
  TestSuites/RDP/Client/src/Batch/RunAllTestCases.ps1
  TestSuites/RDP/Client/src/Batch/RunAllTestCases.sh
  TestSuites/RDP/Client/src/Batch/RunBVTTestCases.cmd
  TestSuites/RDP/Client/src/Batch/RunTestCasesByFilter.ps1
  TestSuites/RDP/Client/src/Batch/RunTestCasesByFilter.sh
  TestSuites/RDP/Client/src/build.cmd
  TestSuites/RDP/Client/src/build.ps1
  TestSuites/RDP/Server/src/Batch/RunAllTestCases.cmd
  TestSuites/RDP/Server/src/Batch/RunAllTestCases.ps1
  TestSuites/RDP/Server/src/Batch/RunAllTestCases.sh
  TestSuites/RDP/Server/src/Batch/RunTestCasesByFilter.ps1
  TestSuites/RDP/Server/src/Batch/RunTestCasesByFilter.sh
  TestSuites/RDP/Server/src/build.cmd
  TestSuites/RDP/Server/src/build.ps1
Due: none

Add DotNetCore Local Regression yml file
  pipelines/DotNetCoreLocalRegression.yml
Due: none

Initial DotNet Core Local Regression
  pipelines/DotNetCoreLocalRegression.yml
Due: none

Add DotNetCore Local Regression yml file
  pipelines/DotNetCoreLocalRegression.yml
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Add trigger Test Suite Build step
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Remove the saving build zip file path as it is unneccessary
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Add checking out Helper repo configuration
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Format the yml file
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Update the Helper code file path
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Add build pipeline name
  pipelines/DotNetCoreLocalRegression.yml
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Transfer Build Pipeline name to script
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Transfer Build Pipeline name to script - V3
  pipelines/DotNetCoreLocalRegression.yml
Due: none

Add trigger regression build step
  pipelines/DotNetCoreLocalRegression.yml
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Change the parameter buildId to testSuiteBuildId
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

Add lastPipelineId parameter
  pipelines/local/DotNetCore-LocalRegression-steps.yml
Due: none

test
  TestSuites/RDP/Client/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
Due: none
