Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Refine according to cr comments
  ProtoSDK/MS-WSP/Structures/CAggregSpec.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization_Aggregate.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Refine according to regression result。Refine licence header.
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CheckIfShareIsAvailable.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CopyFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteFile.ps1
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4945821: [WSP Enhancement] Add test cases for CPMFreeCursorIn and CPMDisconnect
  ProtoSDK/MS-WSP/Messages/CPMFreeCursorIn.cs
  ProtoSDK/MS-WSP/Messages/CPMFreeCursorOut.cs
  ProtoSDK/MS-WSP/WSP.csproj
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMDisconnect.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMFreeCursor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Ignore the error in TreeConnect
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4933473: [ADFamily] remove the duplicated line
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioAddAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioAddAD_LDSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioCrossDomainMoveModifyDNWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDefunctWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDefunctWin2K8R2FnLevel2K3.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDynamicWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioIntraDomainModifyDNWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyAD_LDSWin2K8R2.cs
Due: none

Update according to regression result
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Use LDAP call to query user's SID
  ProtoSDK/Common/Common.csproj
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Replace Bcrypt with AesCcm & AesGcm in .NET standard 2.1
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Skip disconnecting if client is null
  TestSuites/FileServer/src/SMB2/TestSuite/IOCTL/CopyOffload.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add exception handling
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/MultipleChannel/MultipleChannelWithLeasing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update PTF package dependency
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

FlushDNS before cleanup, so that the protocol adapter can get the correct IP addresses for scale out file server.
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Refine according to cr comments
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4893115: Add extra large pointer test cases for RDPClient
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerSessionContext.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Client/docs/MS-RDPBCGR_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RDPBCGRCapSet.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RDPBCGROutput.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/RdpbcgrTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S10_FastPathOutputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest_CapabilityExchange.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 4956890: Fix Azure ADOD scripts
  TestSuites/MS-ADOD/Setup/Scripts/PostScript-Client.ps1
  TestSuites/MS-ADOD/Setup/Scripts/PostScript-PDC.ps1
Due: none

Merged PR 4863626: PTM build pipeline
  pipelines/PTMRegression.yml
Due: none

Merged PR 4979178: Port csproj of RDPClient to core3.1
  TestSuites/RDP/Client/src/RDP_Client.sln
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: none

Merged PR 4979257: Port csproj of FileServer to core3.1
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSAModel/Model/MS-FSAModel_ServerModel.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/FileServer.sln
  TestSuites/FileServer/src/FileServer_TestSuites/FileServer_TestSuites.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/Adapter/MS-SMB2Model_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2Model/Model/MS-SMB2Model_ServerModel.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4979567: FileServer netcore miss tool
  TestSuites/FileServer/ShareUtil/ShareUtil/ShareUtil.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4979646: Port csproj of Kerberos to core3.1
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/Kerberos_Server.sln
  TestSuites/Kerberos/src/TestSuite/GlobalSettings.cs
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
Due: none

Merged PR 4974427: Port BanchCache to dotbet core 3.1
  TestSuites/BranchCache/src/Adapter/Adapter.csproj
  TestSuites/BranchCache/src/BranchCache.sln
  TestSuites/BranchCache/src/COMMON/BranchCacheFrameworkAdapter/BranchCacheFrameworkAdapter.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/CommonStack.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/Extension.cs
  TestSuites/BranchCache/src/COMMON/ReqConfigUtility/ReqConfigUtility.csproj
  TestSuites/BranchCache/src/COMMON/SUTControlAdapter/SUTControlAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRC/Shared/PccrcStack/PccrcStack.csproj
  TestSuites/BranchCache/src/MS-PCCRC_Tool/Source/MS-PCCRC_TestTool/MS-PCCRC_TestTool.csproj
  TestSuites/BranchCache/src/MS-PCCRR/Client/Adapter/PccrrClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRR/Server/Adapter/PccrrServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRR/Shared/PccrrStack/PccrrStack.csproj
  TestSuites/BranchCache/src/MS-PCCRTP/Client/Adapter/PccrtpClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRTP/Server/Adapter/PccrtpServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRTP/Shared/PccrtpStack/PccrtpStack.csproj
  TestSuites/BranchCache/src/MS-PCHC/Client/Adapter/PchcClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCHC/Server/Adapter/PchcServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCHC/Shared/PchcStack/PchcStack.csproj
  TestSuites/BranchCache/src/TestSuite/HostedCacheServer/PchcServerBatchedOffer.cs
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/BranchCache/src/ms-pccrd/Client/Adapter/PccrdClientAdapter.csproj
  TestSuites/BranchCache/src/ms-pccrd/Server/Adapter/PccrdServerAdapter.csproj
  TestSuites/BranchCache/src/ms-pccrd/Shared/PccrdStack/PccrdStack.csproj
  TestSuites/BranchCache/src/ms-pccrd/Shared/WsDiscovery/WsDiscovery.csproj
Due: none

Merged PR 4969307: Port RDPServer to dotnet core 3.1
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/RDP_Server.sln
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: none

Merged PR 4974222: Port SMBD to dotnet core 3.1
  ProtoSDK/MS-SMBD/Smbd.csproj
  ProtoSDK/RDMA/Rdma.rc
  ProtoSDK/RDMA/Rdma.vcxproj
  ProtoSDK/RDMA/Rdma.vcxproj.filters
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/MS-SMBD_Server.sln
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 4984824: Add missed projects for RDPClient
  TestSuites/RDP/Client/src/RDP_Client.sln
Due: none

Add license header
  ProtocolTestManager/UI/StringResources.Designer.cs
Due: none

Merged PR 4945695: [Kerberos] Azure regression run pass rate is too low. Fix the issue
  TestSuites/Kerberos/Setup/Scripts/Configure-DC01.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-DC02.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-AP01-Postscript.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-AP02-Postscript.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-DC01-Postscript.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-DC02-Postscript.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-ENDPOINT01-Postscript.ps1
  TestSuites/Kerberos/Setup/Scripts/Kerberos-PROXY01-Postscript.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter.cs
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/ClearTrustRealmEncType.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/EnableCompoundIdentity.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/Run-TaskOnRemoteComputer.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/SetTrustRealmEncTypeAsAes.ps1
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/Adapter/ProtocolAdapter/KerberosTestClient.cs
  TestSuites/Kerberos/src/ServerLocalTestRun.testrunconfig
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/TestSuite/RC4/Rc4EncryptTest.cs
  TestSuites/Kerberos/src/TestSuite/TraditionTestBase.cs
Due: none

Merged PR 4990981: Port csproj of SMB to core3.1
  TestSuites/MS-SMB/src/Adapter/MS-SMB_ServerAdapter.csproj
  TestSuites/MS-SMB/src/MS-SMB_Server.sln
  TestSuites/MS-SMB/src/Model/MS-SMB_ServerModel.csproj
  TestSuites/MS-SMB/src/TestSuite/MS-SMB_ServerTestSuite.csproj
Due: none

Merged PR 4998462: Port csproj, vcxproj of AD to core3.1
  MessageAnalyzerLibrary/MessageAnalyzerLibrary.csproj
  MessageAnalyzerLibrary/MessageAnalyzerMonitor.cs
  TestSuites/ADFamily/src/AD_Server.sln
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Security/MS_ADTS_Security_RequirementsValidator.cs
  TestSuites/ADFamily/src/Adapter/MS-DRSR/NativeRpcAdapter/INativeRpcAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-DRSR/NativeRpcAdapter/NativeTypes.cs
  TestSuites/ADFamily/src/Adapter/MessageAnalyzerAdapter/IMessageAnalyzerAdapter.cs
  TestSuites/ADFamily/src/Adapter/MessageAnalyzerAdapter/MessageAnalyzerAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/AdapterDataTypes.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ServerControllerAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/GenerateMessages.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/Helpers.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/IFRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/IFRS2ServerControllerAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/MS-FRS2_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPParser.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPStructures.cs
  TestSuites/ADFamily/src/MS-FRS2/Decompressor/Decompressor.csproj
  TestSuites/ADFamily/src/MS-FRS2/FRS2Stubs/MS-FRS2_ServerFRS2Stubs.vcxproj
  TestSuites/ADFamily/src/MS-FRS2/FileStreamDataParser/FSCCStructures.cs
  TestSuites/ADFamily/src/MS-FRS2/FileStreamDataParser/FileStreamDataParser.csproj
  TestSuites/ADFamily/src/ResponseTrigger/ADTSPublishDCScenario_ResponseTrigger.csproj
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/IMS_DRSR_RpcAdapter_RpcStubs.vcxproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-PublishDC/MS-ADTS-PublishDC_ServerTestSuite.cs
Due: none

Merged PR 4956011: [WSP Enhancement] Add more test cases for CFullPropSpec
  ProtoSDK/MS-WSP/WspConsts.cs
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/document2.ppt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/document3.xls
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind1.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind2.bmp
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind3.mp3
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind4.mp4
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind5.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/kind6.eml
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/music1.m4a
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/music3.mp3
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/person1.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/person2.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/person3.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/video1.mp4
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/video2.mp4
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_CFullPropSpec.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Use Task to replace delegate.BeginRevoke.
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5014598: Update GetSidFromAccount function call in Auth project
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FilePermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FolderPermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Use task.waitall to replace "Sleep".
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

use Wait to replace WaitAll
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5014317: [FileServer] Modified default message status assignments.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5008724: [FileServer] Remove PowerShell SutControlAdapter in FileServer Common Adapter
  TestSuites/FileServer/docs/FileServerUserGuide.md
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CheckIfShareIsAvailable.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CopyFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteFile.ps1
  TestSuites/FileServer/src/Deploy/deploy.wixproj
  TestSuites/FileServer/src/ServerLocalTestRun.testrunconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fixes auto merge wrong for cleanup License
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-UsersAndComputers.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/EnableCompoundIdentity.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/Run-TaskOnRemoteComputer.ps1
Due: none

Remove the comment involved with PS adapter.
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4973645: [WSP Enhancement] Add cases for CPMFetchValueIn
  ProtoSDK/MS-WSP/Messages/CPMFetchValueIn.cs
  ProtoSDK/MS-WSP/Messages/CPMFetchValueOut.cs
  ProtoSDK/MS-WSP/Messages/CPMGetRowsOut.cs
  ProtoSDK/MS-WSP/Structures/CBaseStorageVariant.cs
  ProtoSDK/MS-WSP/Structures/SERIALIZEDPROPERTYVALUE.cs
  ProtoSDK/MS-WSP/WSP.csproj
  ProtoSDK/MS-WSP/WspConsts.cs
  TestSuites/MS-WSP/Setup/Data/FetchValue/document.doc
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/MessageValidator.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/MS-WSP_Server.sln
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMFetchValue.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
