Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Merged PR 15346121: [SECURITY] Bump System.Security.Cryptography.Xml from 8.0.2 to 8.0.3
  ProtoSDK/Asn1Base/Asn1Base.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 15401379: Fix detection logs not surfacing on the UI
  ProtocolTestManager/Kernel/PtfConfig/PtfConfig.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PropertyValueDetector/Logger.cs
Due: none

Merged PR 15401391: Fix Linux driver deployment on Ubuntu 24.04
  TestSuites/FileServer/azure-automation/cluster-bicep/modules/driver-computer.bicep
  TestSuites/FileServer/azure-automation/domain-bicep/modules/domain-computers.bicep
  TestSuites/FileServer/azure-automation/shared/DSC/Invoke-DriverImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/modules/workgroup-computers.bicep
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15591002: Fix Smb2OverRdmaChannelTransformSigning Test Cases
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformSigning.cs
Due: none

Merged PR 15644931: Update MS-SMBD TestSuite for fix cases failed on Linux driver.
  ProtoSDK/MS-SMBD/SmbdConnectionEndpoint.cs
  ProtoSDK/RdmaLinux/RdmaLinuxAdapter.cs
  ProtoSDK/RdmaLinux/src/rdma_wrapper.cpp
  TestSuites/MS-SMBD/src/Adapter/Smb2OverSmbdTestClient.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannel.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelRemoteInvalidation.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformSigning.cs
  TestSuites/MS-SMBD/src/TestSuite/SMBD/SmbdDataTransfer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 15659858: Scope CodeQL to csharp on DotNetCore-Build pipeline
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 15677881: [CodeQL] [SM04514] Weak hashes
  ProtocolTestManager/PTMService/PTMService/ClientApp/config/webpack/persistentCache/createEnvironmentHash.js
Due: none

Merged PR 15677863: [CodeQL] [SM04509] Use of eval
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/CodecToolSet.Core.csproj
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Tests/CodecToolSet.Tests.csproj
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/RDPToolSet.Web.csproj
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Views/GuestBook/Index.cshtml
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Views/Shared/_Layout.cshtml
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/_references.js
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/jquery-1.12.4.js
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/jquery-1.12.4.min.js
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/jquery-1.7.1.intellisense.js
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/jquery-1.7.1.js
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/jquery-1.7.1.min.js
Due: pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 15678006: [CodeQL] Encryption Suppression
  ProtoSDK/CryptoLib/Checksum/HmacMd5StringChecksum.cs
  ProtoSDK/CryptoLib/CipherTextStealingMode.cs
  ProtoSDK/CryptoLib/Crypto/AesGmacCrypto.cs
  ProtoSDK/CryptoLib/Crypto/CryptoUtility.cs
  ProtoSDK/CryptoLib/DESL.cs
  ProtoSDK/CryptoLib/KeyGenerator/AesKey.cs
  ProtoSDK/CryptoLib/LMHashManaged.cs
  ProtoSDK/FileAccessService/FileServiceUtils.cs
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/KerberosLib/Role/Client/KKDCPClient.cs
  ProtoSDK/KerberosLib/Types/BasicTypes.cs
  ProtoSDK/MS-CIFS/CifsMessageUtil.cs
  ProtoSDK/MS-NLMP/NlmpUtility.cs
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
  TestSuites/MS-ADFSPIP/src/Adapter/MockClient/MockClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 15075265: Implement MS-FSA v42.0 FileDispositionInformation specification change
  TestSuites/FileServer/docs/FileDispositionInformation_v42_Changes.md
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileDispositionInformation.cs
  TestSuites/FileServer/src/FSAModel/Model/QueryAndSetFileInformation/QueryAndSetFileInformationModel.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15744912: Fix case failed by throw InvalidOperationException on Windows client.
  TestSuites/MS-SMBD/src/Adapter/Smb2OverSmbdTestClient.cs
Due: none

Refactor CodeQL workflow for improved analysis
  .github/workflows/codeql.yml
Due: none

Merged PR 15764322: Restrict CodeQL3000 to C# in DotNetCore build pipeline
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 15301347: Add test for MS-SMB2 v86.0 LeaseV2 epoch initialization
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15813650: Restore advancedsecurity.codeql.language=csharp to scope CodeQL3000
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 15914495: Scope CodeQL3000 to C# across all 1ES build pipelines
  pipelines/1es/DotNetCore-FileServer-LinuxBuild.yml
  pipelines/1es/DotNetCore-MSBuild-Build.yml
  pipelines/1es/DotNetCore-PTMCli-Build.yml
  pipelines/1es/PTMServiceCI.yml
  pipelines/DotNetCore-PTMCli-Build.yml
Due: none

Merged PR 15926607: Updated es-metadata.yml - Classify Non-Prod
  es-metadata.yml
Due: none

Merged PR 15928768: Add custom Agency compute pipeline for WindowsProtocolTestSuites
  .azuredevops/pipelines/agency-custom-compute.yml
  .azuredevops/policies/agency-preferences.yml
  docs/custom-agency-pipeline-handover.md
Due: none

Merged PR 15941986: Enable custom Agency pipeline for all work items (pipelineTrialMode: false)
  .azuredevops/policies/agency-preferences.yml
Due: none

Merged PR 16090706: Implement the NDv2 RDMA adapter in MS-SMBD test suite
  ProtoSDK/MS-SMBD/Rdma/RdmaAbstraction.cs
  ProtoSDK/MS-SMBD/Rdma/RdmaNativeAdapters.cs
  ProtoSDK/MS-SMBD/Smbd.csproj
  ProtoSDK/MS-SMBD/SmbdClient.cs
  ProtoSDK/MS-SMBD/SmbdConnectionEndpoint.cs
  ProtoSDK/MS-SMBD/SmbdTypes.cs
  ProtoSDK/RDMA/Rdma.h
  ProtoSDK/RDMA/RdmaEndpoint.cpp
  ProtoSDK/RDMA/RdmaMemoryWindow.cpp
  ProtoSDK/RDMANdv2/RDMANdv2.h
  ProtoSDK/RDMANdv2/RDMANdv2.rc
  ProtoSDK/RDMANdv2/RDMANdv2.sln
  ProtoSDK/RDMANdv2/RDMANdv2.vcxproj
  ProtoSDK/RDMANdv2/RDMANdv2.vcxproj.filters
  ProtoSDK/RDMANdv2/RDMANdv2Adapter.cpp
  ProtoSDK/RDMANdv2/RDMANdv2CompletionQueue.cpp
  ProtoSDK/RDMANdv2/RDMANdv2Connector.cpp
  ProtoSDK/RDMANdv2/RDMANdv2Listen.cpp
  ProtoSDK/RDMANdv2/RDMANdv2MemoryWindow.cpp
  ProtoSDK/RDMANdv2/RDMANdv2Provider.cpp
  ProtoSDK/RDMANdv2/RDMANdv2QueuePair.cpp
  ProtoSDK/RDMANdv2/include/nddef.h
  ProtoSDK/RDMANdv2/include/ndioctl.h
  ProtoSDK/RDMANdv2/include/ndspi.h
  ProtoSDK/RDMANdv2/include/ndstatus.h
  ProtoSDK/RDMANdv2/include/ndsupport.h
  TestSuites/MS-SMBD/src/Adapter/Smb2OverSmbdTestClient.cs
  TestSuites/MS-SMBD/src/Adapter/SmbdAdapter.cs
  TestSuites/MS-SMBD/src/Adapter/TestConfig.cs
  TestSuites/MS-SMBD/src/MS-SMBD_Server.sln
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2MultiChannelOverRdma.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 16109906: Sign generated .RDP files to bypass April 2026 RDP security dialog (CVE-2026-26151)
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Client/Setup/Scripts/New-RdpSigningCert.ps1
  TestSuites/RDP/Client/Setup/Scripts/ParamConfig.xml
  TestSuites/RDP/Client/Setup/Scripts/Set-RdpFileSigning.ps1
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
Due: none

Merged PR 16137474: Add one-click Deploy-to-Azure button for the Workgroup FileServer environment
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Create-TestAccount.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Get-RemoteFile.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/InstallMSIAndTools.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Set-ConfigCredential.ps1
  TestSuites/FileServer/azure-automation/shared/Deploy-Helpers.psm1
  TestSuites/FileServer/azure-automation/workgroup-bicep/Publish-DscPackage.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/README.md
  TestSuites/FileServer/azure-automation/workgroup-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/workgroup-bicep/main.bicep
  TestSuites/FileServer/azure-automation/workgroup-bicep/modules/workgroup-computers.bicep
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16235292: Fix DCExternal2Ip drift + add Tier-0 template-drift guard test
  TestSuites/FileServer/azure-automation/cluster-bicep/DSC/Scripts/Tools.json
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Scripts/Tools.json
  TestSuites/FileServer/azure-automation/domain-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/domain-bicep/main.bicep
  TestSuites/FileServer/azure-automation/domain-bicep/modules/domain-controller.bicep
  TestSuites/FileServer/azure-automation/domain-bicep/phase1.bicep
  TestSuites/FileServer/azure-automation/tests/TemplateDrift.Tests.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/DSC/Scripts/Tools.json
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16245314: PTMService Live logs
  .gitignore
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Common/Types/DetectionLogChunk.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/config/webpackDevServer.config.js
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/LogPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/AutoDetectionData.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/AutoDetection.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/utils/AsyncReducerFactory.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteAutoDetectionController.cs
  ProtocolTestManager/PTMService/PTMService/Properties/launchSettings.json
  ai-docs/ptm-guide.md
Due: none

Merged PR 16250007: Live per-run logs (mid-run)
  ProtocolTestManager/Kernel/TestEngine/PipeSinkServer.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestCaseResultAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestCaseResult.ts
  ProtocolTestManager/PTMService/UnitTest/Kernel/TestEngineTests.cs
  ProtocolTestManager/ptmtestlogger/DataType.cs
  ProtocolTestManager/ptmtestlogger/PTMTestLogger.cs
  ProtocolTestManager/ptmtestlogger/PTMTestLogger.csproj
  ProtocolTestManager/ptmtestlogger/Properties/Resources.Designer.cs
  ProtocolTestManager/ptmtestlogger/Properties/Resources.resx
  ProtocolTestManager/ptmtestlogger/Resources/functions.js
  ProtocolTestManager/ptmtestlogger/Resources/index.html
  ProtocolTestManager/ptmtestlogger/Resources/testcase.html
  ProtocolTestManager/ptmtestlogger/TxtToJSON.cs
  ai-docs/ptm-guide.md
Due: none

Merged PR 16167486: Add BVT_NtlmAuth_Success test for MS-NLMP / MS-SMB2 SESSION_SETUP coverage
  TestSuites/FileServer/docs/Auth_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/NtlmAuthentication/NtlmAuthentication.cs
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
  ai-docs/protocol-specifications.md
  ai-docs/test-suites-guide.md
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16376876: Add deterministic Workgroup deployment phases
  TestSuites/FileServer/azure-automation/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Deploy-SUT.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Invoke-SutImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/domain-bicep/modules/domain-computer-extensions.bicep
  TestSuites/FileServer/azure-automation/domain-bicep/modules/domain-controller.bicep
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-CommonHelpers.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-DC.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-Driver.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Invoke-DcImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Invoke-DriverImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Check-DCStatus.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Create-CbacObjectsInDC.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Create-DNSRecords.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Create-TestAccount.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Import-GPOForClaims.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/InstallMSIAndTools.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/domainjoin.ps1
  TestSuites/FileServer/azure-automation/shared/Deploy-Helpers.psm1
  TestSuites/FileServer/azure-automation/shared/scripts/cse-bootstrap.ps1
  TestSuites/FileServer/azure-automation/tests/DeploymentOptimization.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/DscExecution.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/SecretRedaction.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/ToolInstallation.Tests.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/DSC/Deploy-SUT.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/DSC/Invoke-SutImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/DSC/SUT-Configuration.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/DSC/SUT-FeatureConfiguration.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/README.md
  TestSuites/FileServer/azure-automation/workgroup-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/workgroup-bicep/modules/workgroup-computers.bicep
  ai-docs/test-suites-guide.md
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16387055: Add deterministic Domain deployment phases
  TestSuites/FileServer/azure-automation/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Deploy-SUT.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Invoke-SutImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/SUT-Configuration.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/SUT-FeatureConfiguration.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/deploy.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/DC-Configuration.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/DC-FeatureConfiguration.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-CommonHelpers.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-DC.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-Driver.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Invoke-DcImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Invoke-DriverImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Get-RemoteFile.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/InstallMSIAndTools.ps1
  TestSuites/FileServer/azure-automation/tests/DeploymentOptimization.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/DscExecution.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/ToolInstallation.Tests.ps1
  ai-docs/test-suites-guide.md
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16389477: Update version for August 2026 release
  AssemblyInfo/.version
  AssemblyInfo/PTMAssemblyInfo.cs
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 16388078: Coalesce Driver tool reboot requirements
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-CommonHelpers.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Deploy-Driver.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/InstallMSIAndTools.ps1
  TestSuites/FileServer/azure-automation/tests/DeploymentOptimization.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/DscExecution.Tests.ps1
  TestSuites/FileServer/azure-automation/tests/ToolInstallation.Tests.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 16390191: Add FileServer OneClick release pipeline
  TestSuites/FileServer/azure-automation/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/Publish-DscPackage.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/domain-bicep/main.bicep
  TestSuites/FileServer/azure-automation/shared/Update-OneClickReleaseAssets.ps1
  TestSuites/FileServer/azure-automation/tests/ReleaseAssets.Tests.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/Publish-DscPackage.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/README.md
  TestSuites/FileServer/azure-automation/workgroup-bicep/azuredeploy.json
  TestSuites/FileServer/azure-automation/workgroup-bicep/main.bicep
  pipelines/1es/FileServer-OneClick-Release.yml
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Delete excluded files and folders
  pipelines/1es/FileServer-OneClick-Release.yml
Due: none

Merged PR 16328581: Add Signing_WrongSessionKey_Rejected negative signing test (MS-SMB2 3.3.5.2.4)
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/MS-SMB2/Smb2Decoder.cs
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/Signing/Signing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
