Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

Adding CommomAlgorithm to PTM test case categories
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/config.xml
Due: none

Updated CompareLeaseKeys.cs
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Updated QueryDirectory_FileNameInExpression_T.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_T.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

updated fix to Lease related bugs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

remove update for RDP waitTime in ptfConfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Creating TDS for CommonAlgorithm_NotingFileModified test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

PR comment fixes
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

fix PR comments
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

remove whitespaces
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

remove extra whitespace
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5808284: Add more query info cases
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-FSCC/Messages/FsccFileAlignmentInformationResponsePacket.cs
  ProtoSDK/MS-FSCC/Messages/FsccFileModeInformationRequestPacket.cs
  ProtoSDK/MS-FSCC/Messages/FsccFileModeInformationResponsePacket.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileAlignmentInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileAlternateNameInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileInternalInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileModeInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FilePositionInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Reducing scenerio details to one
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Resolving conflict
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Merged PR 5808258: Implement the test run controller
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestRun.cs
  ProtocolTestManager/PTMService/Common/Entities/TestResult.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20210316081828_InitialCreate.Designer.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20210316081828_InitialCreate.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/PTMServiceDbContextForMigrationModelSnapshot.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteRunController.cs
  ProtocolTestManager/PTMService/PTMService/appsettings.json
  ProtocolTestManager/PTMService/UnitTest/ptmservice.db
Due: none

fix PR Comments
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

another PR comment fix
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

fixing PR comments
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

DOS Wildcards Fix
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileBothDirectoryInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileDirectoryInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileFullDirectoryInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileIdBothDirectoryInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileIdFullDirectoryInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_FileNamesInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectory_FileNameInExpression_T.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

PR Fix
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

change method to private
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Upgrade PTF to 2.2.0
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPParser.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/BranchCache/src/Adapter/Adapter.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/CommonStack.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSAModel/Model/MS-FSAModel_ServerModel.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/Adapter/MS-SMB2Model_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2Model/Model/MS-SMB2Model_ServerModel.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

make DCServerComputerName allow null value
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5832838: make DCServerComputerName allow null value
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix PR comments
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding test cases for CreationTime covering FSCC Section 2.4.7, 2.4.8, 2.4.14, 2.4.19, 2.4.26 and 2.4.42
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdGlobalTxDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Making test category fsa
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdGlobalTxDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Removing unused directives
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

fix comment
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Modifying comments
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdGlobalTxDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test case design for creationtime test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Refactoring code
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdGlobalTxDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactoring code
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update according to latest td
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5832383: Add check for changetime field
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding negative test cases for filebasicinformation
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixing regression failure on 12R2
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixing regression run failure on WindowsServer2012R2
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding negative test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none
