Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Updated Config-RSAKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
Due: none

Updated Config-AuthorizedKeys.ps1
  CommonScripts/Config-AuthorizedKeys.ps1
Due: none

Merged PR 12190780: [SECURITY] Bump System.IO.Packaging from 8.0.0 to 8.0.1 in /TestSuites/MS-SMBD/src/Plugin/SMBDPlugin
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

Merged PR 12257948: Add Switch for RemoteFX in ptfconfig
  TestSuites/RDP/Client/src/Adapter/RDPRFX/RdprfxAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxCapabilityExchangeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxEncodedHeaderMessageTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxImageModeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxMUSTBehaviorNegativeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxVideoModeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

fix missing Remote FX check issue
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/S1_ResolutionChange.cs
Due: none

Merged PR 12259473: fix missing Remote FX check issue
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/S1_ResolutionChange.cs
Due: none

Updated RDP_ClientUserGuide.md
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
Due: none

Updated RDP_ServerUserGuide.md
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 12287632: Fix RDP pipeline rerun issues
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
  TestSuites/RDP/Server/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Detector/RDPDetector.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Added image29.png to /TestSuites/RDP/Server/Docs/image/RDP_ServerUserGuide
  TestSuites/RDP/Server/Docs/image/RDP_ServerUserGuide/image29.png
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Added image30.png to /TestSuites/RDP/Server/Docs/image/RDP_ServerUserGuide
  TestSuites/RDP/Server/Docs/image/RDP_ServerUserGuide/image30.png
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update RDP_ClientUserGuide.md
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
Due: none

Update RDP_ServerUserGuide
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update .Net 5 to .Net 8 in RDP_UserGuide.md
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update the required software versions in document content.
  InstallPrerequisites/Readme.md
  README.md
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
Due: none

Update TestSuiteMainSyncToGitHub.yml for Azure Pipelines
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
Due: none

Merged PR 12358239: Revert "Update TestSuiteMainSyncToGitHub.yml for Azure Pipelines"
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
Due: none

Merged PR 12367051: Configuration For 2025
  CommonScripts/domainjoin.PS1
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/CBACTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FilePermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FolderPermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/DFSC/TestSuite/DCReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/DomainReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/LinkReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/RootAndLinkReferralToDFSServer.cs
  TestSuites/FileServer/src/DFSC/TestSuite/RootReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/SysvolReferralToDC.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileFullEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileSystemInformation/FsInfo_Query_FileFsAttributeInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_QUERY_FILE_REGIONS.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Detector/FSDetector.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Information.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FSRVP/VSSOperateShadowCopySet.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNRegistration.cs
  pipelines/Integration_DotNetCoreTME_Regression.yml
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 12385730: [SECURITY] Bump System.Runtime.Caching from 8.0.0 to 9.0.0 in /TestSuites/RDP/Client/src/Plugin/RDPClientPlugin
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
Due: none

Merged PR 12385732: [SECURITY] Bump System.IO.Packaging from 8.0.0 to 8.0.1 in /TestSuites/RDP/Client/src/Plugin/RDPClientPlugin
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
Due: none

Merged PR 12397695: Update Sync to GitHub Pipelines
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
Due: none

Merged PR 12398193: Resolve GitHub conflicts
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerOrientationChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
Due: none

Merged PR 12398594: Update RDP Scripts
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerOrientationChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
Due: none

Delete NuGet.config using merge strategy
  NuGet.config
Due: none

Updated RM
  README.md
Due: none

Delete excluded files using merge strategy
  NuGet.config
Due: none

rm
  README.md
Due: none

Make all tests undert investigation inconclusive
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_BackSlash.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
  TestSuites/FileServer/src/SMB2/TestSuite/SessionMgmt/SessionMgmt.cs
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 12591248: Add support for SMB2_TRANSPORT_CAPABILITIES
  AssemblyInfo/SharedAssemblyInfo.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add SMB2 Basic test for 2025 investigation
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 12638110: Update version
  AssemblyInfo/.version
  AssemblyInfo/resource.h
Due: none

Merged PR 12649474: Set Inconclusive Tests For 2022
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileAccessed.cs
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/CommonAlgorithmTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
