Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Revert "Remove Protocol selection from main page since the credsspi crash on x64 platform."
  ProtoSDK/MS-RDPELE/Client/RdpeleClient.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Configs.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/RDPServerPlugin.csproj
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/RDPValueDetector.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Revert "Remove Credssp detection from main page"
  ProtoSDK/Sspi/SspiStructures.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Configs.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/DetectionResultControl.xaml.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/index.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/network.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/RDPValueDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove security protocol selection from ptm main page
  ProtoSDK/MS-RDPELE/Client/RdpeleClient.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Configs.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/RDPValueDetector.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Adjust the minimum widths of controls according to the minimum width of the main window to prevent UI overlapping.
  ProtocolTestManager/UI/RulePage.xaml
  ProtocolTestManager/UI/RunPage.xaml
Due: none

Fix comments
  ProtoSDK/Sspi/SspiStructures.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Types.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Move position of "How to use test suites" according to cr comments.
  README.md
Due: none

[MS-RDPEGFX] fix invalid RDPGFX_CAPVERSION_106 value
  ProtoSDK/MS-RDPEGFX/Types/RdpegfxEnumTypes.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1649: Add support to 64KB block size for LZ77 Huffman
  ProtoSDK/MS-XCA/LZ77.cs
  ProtoSDK/MS-XCA/LZ77Huffman/LZ77HuffmanCompressor.cs
  ProtoSDK/MS-XCA/LZ77Huffman/LZ77HuffmanDecompressor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Adjust the relative position of "Selected test cases".
  ProtocolTestManager/UI/RulePage.xaml
Due: none

Remove the debug information
  ProtoSDK/Sspi/SspiStructures.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add test case name to its tool tip out of the if block.
  ProtocolTestManager/Kernel/TestSuite/TestSuite.cs
Due: none

Send SMB2_ENCRYPTION_CAPABILITIES negotiate context when global encryption is enabled in server and dialect is 3.1.1
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update tutorial's name from SMB to SMB2.
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.docx
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.pdf
  README.md
Due: none

Merged PR 1602: Not assert field values defined without MUST
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_ReceiveMethod.cs
Due: none

Update the example, from SMB to FileServer
  README.md
Due: none

Update the example test suite's path
  README.md
Due: none

[MSRDPEGFX]: add ExpectChannelClosed adapter method
  ProtoSDK/MS-RDPEGFX/Server/RdpegfxServer.cs
  TestSuites/RDP/Client/src/Adapter/RDPEGFX/IRdpegfxAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPEGFX/RdpegfxAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxSurfaceToCacheToSurfaceTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1635: Add support to 4-bytes match length for plain LZ77
  ProtoSDK/MS-XCA/PlainLZ77/PlainLZ77Compressor.cs
  ProtoSDK/MS-XCA/PlainLZ77/PlainLZ77Decompressor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1672: Task 23516271: [Deploy] Ignore all auto-generated .wxs files and RDMA .h files in .gitignore
  .gitignore
Due: none

Modify the case ResilientWithPersistentHandle_OpenFromDiffClient and move it to DurableHandleV2.cs
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
  TestSuites/FileServer/src/SMB2/TestSuite/ResilientHandle/ResilientWithPersistentHandle.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Modify the project file since one file is removed.
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update error message when exporting test report
  ProtocolTestManager/UI/StringResources.Designer.cs
  ProtocolTestManager/UI/StringResources.resx
  ProtocolTestManager/UI/TestReportWindow.xaml.cs
Due: none

Recreate TestComputer1 before test.
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TraditionalcaseWin2K8R2.cs
Due: none

Modify the method for computer account object creation and add more detailed comment.
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TraditionalcaseWin2K8R2.cs
Due: none

Correct the check of index for privilege enumeration.
  TestSuites/ADFamily/src/Adapter/MS-LSAD/PrivilegeMethods.cs
Due: none

Update TD and TD paths for Winv1803.
  TestSuites/ADFamily/Setup/Data/Winv1803-TD-XML/DS/[MS-ADA1].zip
  TestSuites/ADFamily/Setup/Data/Winv1803-TD-XML/DS/[MS-ADA2].zip
  TestSuites/ADFamily/Setup/Data/Winv1803-TD-XML/DS/[MS-ADA3].zip
  TestSuites/ADFamily/Setup/Data/Winv1803-TD-XML/DS/[MS-ADSC].zip
  TestSuites/ADFamily/Setup/Data/Winv1803-TD-XML/LDS/[MS-ADLS].zip
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
Due: none

Rename the Get-OSVersion.ps1 to a unique name.
  TestSuites/ADFamily/Setup/Scripts/Config-CDC.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-DM.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-PDC.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-RODC.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-SDC.ps1
  TestSuites/ADFamily/Setup/Scripts/Config-TDC.ps1
  TestSuites/ADFamily/Setup/Scripts/Get-OSVersionForADTests.ps1
Due: none

Add TD of Winv1803 to msi package.
  TestSuites/ADFamily/src/Deploy/ADFamily-TestSuite-ServerEP.wxs
  TestSuites/ADFamily/src/Deploy/TestSuiteProduct.wxs
  TestSuites/ADFamily/src/Deploy/deploy.wixproj
Due: none

Modify the msDS-Behavior-Version of Winv1803.
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
Due: none

Move Get-OSVersionForADTests.ps1 to CommonScripts.
  CommonScripts/Get-OSVersionForADTests.ps1
Due: none

Update TDS since case ResilientWithPersistentHandle_OpenFromDiffClient is removed and a new case is added into DurableHandleV2.cs
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Update the unsupported compression algorithm to align with latest TD.
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1667: Modify the links on github
  TestSuites/FileServer/docs/FileServerUserGuide.md
  TestSuites/MS-SMB/docs/MS-SMB_ServerUserGuide.md
Due: none

Remove commented lines and add config
  TestSuites/RDP/RDPSUTControlAgent/C/config.h
  TestSuites/RDP/RDPSUTControlAgent/C/control_agent.c
  TestSuites/RDP/RDPSUTControlAgent/README.md
Due: none

Merged PR 1689: Must be configured to prevent the storage of the LAN Manager hash of passwords in GPO
  TestSuites/ADFamily/Setup/Scripts/Config-PDC.ps1
  TestSuites/ADFamily/Setup/Scripts/GptTmpl.txt
Due: none

Merged PR 1688: Do not check sid when call DRSR_DRSVerifyNames_Verify_Dsnames for site
  TestSuites/ADFamily/src/Adapter/MS-DRSR/Verifier/DRSRDataVerifier.cs
Due: none

Merged PR 1669: Enumeration values for RDPVersion are supplemented: 10.8
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1704: Enable Automatic Capture in PTM plugin
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/BranchCache/src/TestSuite/BranchCache_TestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-ADFSPIP/src/TestSuite/PTFConfig/MS-ADFSPIP_ClientTestSuite.deployment.ptfconfig
  TestSuites/MS-ADOD/src/TestSuite/MS-ADOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-AZOD/src/TestSuite/MS-AZOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: none

Merged PR 1694: Use vs_installershell.exe to substitue vs_installer.exe in InstallPrerequisites.ps1
  InstallPrerequisites/InstallVisualStudio.ps1
Due: none

Add missing category.
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
