Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

Update DotNetCore-Build.yml for Azure Pipelines
  pipelines/1es/DotNetCore-Build.yml
Due: none

Update DotNetCore-MSBuild-Build.yml for Azure Pipelines
  pipelines/1es/DotNetCore-MSBuild-Build.yml
Due: none

Update PTMServiceCI.yml for Azure Pipelines
  pipelines/1es/PTMServiceCI.yml
Due: none

Update DotNetCore-PTMCli-Build.yml for Azure Pipelines
  pipelines/DotNetCore-PTMCli-Build.yml
Due: none

Remove replicate nuget.config file
  TestSuites/RDP/Tools/RDPToolSet/NuGet.config
Due: none

update System.Management from 6.0.0 to 8.0.0
  TestSuites/ADFamily/src/MS-FRS2/FileStreamDataParser/FileStreamDataParser.csproj
Due: none

update reference version
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/Adapter/MS-FRS2_ServerAdapter.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
Due: none

Fix CodecToolSet.Core build issue
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/CodecToolSet.Core.csproj
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.sln
Due: pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merge pull request 11595364 from dependabot/nuget/ProtocolTestManager%2FPTMService/System.Text.Json-6.0.10-405340 into main
  ProtocolTestManager/DiscoveryTestLogger/DiscoveryTestLogger.csproj
  ProtocolTestManager/Kernel/Kernel.csproj
Due: none

Merge pull request 11586517 from dependabot/nuget/TestSuites%2FFileServer%2Fsrc/System.Text.Json-6.0.10-391849 into main
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merge pull request 11586518 from dependabot/nuget/TestSuites%2FFileServer%2Fsrc/System.IO.Packaging-8.0.1-391856 into main
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merge pull request 11586512 from dependabot/nuget/ProtocolTestManager%2FPTMService/System.IO.Packaging-7.0.0-391846 into main
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/PTMService/Common/Common.csproj
  ProtocolTestManager/PtmCli/PtmCli.csproj
Due: none

Fix RDP Server check OS version incorrect issue.
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merge pull request 11649575 from dependabot/nuget/TestSuites%2FMS-SMBD%2Fsrc/System.IO.Packaging-8.0.1-488898 into main
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

Add RDP 10.12 version
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merge pull request 11698312 from dependabot/nuget/TestSuites%2FMS-SMBD%2Fsrc/System.IO.Packaging-8.0.1-576560 into main
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

Merged PR 11808111: [SECURITY] Bump System.Runtime.Caching from 8.0.0 to 9.0.0 in /TestSuites/FileServer/src
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix TriggerResolutionChangeOnClient execute failed on PowerShell core.
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
Due: none

Fix Invoke-Command not run on PowerShell core
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerInitializeDisplaySettings.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerOrientationChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
Due: none

Updated RdpTestClassBase.cs
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Updated Types.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Updated TriggerResolutionChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
Due: none
