Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

add assemblyinfo
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

remove commented code
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-PublishDC/MS-ADTS-PublishDC_ServerTestSuite.cs
Due: none

update csproj
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

modify default group issue
  ProtocolTestManager/Kernel/PtfConfig/PtfConfig.cs
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
Due: none

modify navigation issue
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
Due: none

**BYPASS_SECRET_SCANNING**
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDValueDetector.cs
Due: none

update
  ProtocolTestManager/Kernel/PtfConfig/PtfConfig.cs
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
Due: none

update
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
Due: none

Changes For Certificate Validation and Credential Authentication
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-CredentialManagerWithPSRemoting.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Changes For RDP Credential Validation
  TestSuites/RDP/Client/src/Adapter/IRdpSutControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/SUTControlMessageExRDP.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RDPBCGRTypes.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
Due: none

modify bug
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

Add Credential Change and Reverse
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

update
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

update
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

Add New Commands For Control Agent
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlMessageExRDP.cs
Due: none

Add changes for PowerShell and Managed Adapter
  TestSuites/RDP/Client/src/Adapter/IRdpSutControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/SUTControlMessageExRDP.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerAddInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerReverseInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-CredentialManagerWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Add Files to Data folder and Update TerminalCLient Script
  TestSuites/RDP/Client/Setup/Data/CredentialManager_InvalidAccount.ps1
  TestSuites/RDP/Client/Setup/Data/CredentialManager_InvalidAccount_Reverse.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
Due: none

Minor Changes to Method Name
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Bump System.DirectoryServices.Protocols from 4.7.0 to 5.0.1
  ProtoSDK/Claim/Claim.csproj
  ProtoSDK/MS-ADTS-LDAP/MS-ADTS-LDAP.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6799844: [WSP] Add WSP server plugin.
  ProtoSDK/MS-WSP/Client/WspClient.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/MS-WSP_Server.sln
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Configs.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/DetectionHelper.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/DetectionInfo.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/arrow_right.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/deployment.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/domain.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/domain.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/domain_setupSUT.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/index.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/note.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Icons/supported.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Icons/undetected.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Icons/unsupported.png
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/MessageBuilder.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/WSPServerPlugin.csproj
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/WSPValueDetector.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/WspDetector.cs
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/config.xml
  TestSuites/MS-WSP/src/build.ps1
  TestSuites/MS-WSP/src/build.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Clean Up Changes
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerAddInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerReverseInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-CredentialManagerWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/SetCompressionValue.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Change Interface
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
Due: none

Merged PR 6812963: Fixes Azure RDPClient 600+ failed cases.
  ProtoSDK/Sspi/NativeMethods.cs
  ProtoSDK/Sspi/SspiUtility.cs
  TestSuites/RDP/Client/Setup/Data/DisconnectAll.bat
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Client/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPRFX/RdprfxAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerMaximizeRDPClientWindow.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Check-PSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSP.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproach.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientAutoReconnect.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnectAll.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerCloseRDPWindow.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerInputEvents.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/configure.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTControlAdapter/TriggerClientDisconnectAll.ps1
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update the corresponding dll in adfamily
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
Due: none

Remove PS Remoting Block
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerAddInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/CredentialManagerReverseInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPInvalidAccount.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachInvalidAccount.ps1
Due: none

Remove blank line
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Check OS Platform
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Remove HTTPs redirection
  ProtocolTestManager/PTMService/PTMService/Startup.cs
Due: none

Improve assert messages for QueryDir cases
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6837124: [GitHub] Add new logics to fetch GitHub PR branch.
  CommonScripts/CheckLicenseHeader.ps1
  pipelines/github/GitHubPR-Regression.yml
  pipelines/github/RDPToolSet-GitHubPR-Build.yml
Due: none

Merged PR 6837530: [GitHub] Change the PR ID to the GItHub specific PR Number.
  CommonScripts/CheckLicenseHeader.ps1
  pipelines/github/GitHubPR-Regression.yml
  pipelines/github/RDPToolSet-GitHubPR-Build.yml
Due: none

Merged PR 6796576: Include FSCTL_MARK_HANDLE tests
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-FSCC/Messages/FsccFsctlMarkHandleRequestPacket.cs
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_MARK_HANDLE.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6842741: Update TS_UD_CS_CORE and TS_UD_SC_CORE for RDP 10.10.
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Allow FileInfo_Query_FileIdInformation tests on OTHERFS
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6817496: fix duplicate file path issue
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
Due: none

Check whether file system supports 64bit file id before verify its value
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileInternalInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove Attempt Function
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: none

Call existing function instead of repeat
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
