Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs

ProtoSDK/MS-RDPEVOR: Migrate to .NET Standard 2.0
  ProtoSDK/MS-RDPEVOR/Rdpevor.csproj
  ProtoSDK/MS-RDPEVOR/Rdpevor.sln
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

ProtoSDK/MS-RDPEGFX: Migrate to .NET Standard 2.0
  ProtoSDK/MS-RDPEGFX/Codecs/RemoteFXProgressiveCodec/RfxProgressiveDecoder.cs
  ProtoSDK/MS-RDPEGFX/Codecs/RemoteFXProgressiveCodec/RfxProgressiveEncoder.cs
  ProtoSDK/MS-RDPEGFX/CompressFactory.cs
  ProtoSDK/MS-RDPEGFX/Rdpegfx.csproj
  ProtoSDK/MS-RDPEGFX/Rdpegfx.sln
  ProtoSDK/MS-RDPEGFX/Server/RdpegfxServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

FileServer/Common/Adapter: Migrate to .NET Core 3.1
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

FileServer/Common/TestSuite: Migrate to .NET Core 3.1
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

ProtoSDK/MS-RDPELE: Migrate to .NET Standard 2.0
  ProtoSDK/MS-RDPELE/Rdpele.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

ProtoSDK/MS-RDPEDYC: Migrate to .NET Standard 2.0
  ProtoSDK/MS-RDPEDYC/CompressFactory.cs
  ProtoSDK/MS-RDPEDYC/MS-RDPEDYC.sln
  ProtoSDK/MS-RDPEDYC/Rdpedyc.csproj
  ProtoSDK/MS-RDPEDYC/Server/RdpedycServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

FileServer/SMB2/Adapter: Migrate to .NET Core 3.1
  TestSuites/FileServer/src/SMB2/Adapter/MS-SMB2_ServerAdapter.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

ProtoSDK/MS-RDPEI: Migrate to .NET Standard 2.0
  ProtoSDK/MS-RDPEI/Rdpei.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

ProtoSDK/MS-SMB2: Use CancellationToken to cancel thread
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add licence header
  ProtoSDK/SspiLib/AccountCredential.cs
  ProtoSDK/SspiLib/CertContext.cs
  ProtoSDK/SspiLib/CertificateCredential.cs
  ProtoSDK/SspiLib/ClientSecurityContext.cs
  ProtoSDK/SspiLib/Consts.cs
  ProtoSDK/SspiLib/CredSspCred.cs
  ProtoSDK/SspiLib/Enums.cs
  ProtoSDK/SspiLib/IDtlsClientSecurityContext.cs
  ProtoSDK/SspiLib/IDtlsServerSecurityContext.cs
  ProtoSDK/SspiLib/MachineAccountCredential.cs
  ProtoSDK/SspiLib/SecurityBuffer.cs
  ProtoSDK/SspiLib/SecurityConfig.cs
  ProtoSDK/SspiLib/SecurityContext.cs
  ProtoSDK/SspiLib/SecurityPackageContextIssuerListInfo.cs
  ProtoSDK/SspiLib/SecurityPackageContextKeyInfo.cs
  ProtoSDK/SspiLib/SecurityPackageContextSizes.cs
  ProtoSDK/SspiLib/SecurityPackageInformation.cs
  ProtoSDK/SspiLib/ServerSecurityContext.cs
  ProtoSDK/SspiLib/SspiClientSecurityConfig.cs
  ProtoSDK/SspiLib/SspiException.cs
  ProtoSDK/SspiLib/SspiServerSecurityConfig.cs
  ProtoSDK/SspiLib/SspiStructures.cs
  ProtoSDK/SspiLib/SspiUtility.cs
  ProtoSDK/SspiService/DtlsClientSecurityContext.cs
  ProtoSDK/SspiService/DtlsServerSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

add comments for all public functions
  ProtoSDK/MS-NLMP/Server/NlmpServerSecurityContext.cs
  ProtoSDK/SspiLib/IDtlsClientSecurityContext.cs
  ProtoSDK/SspiLib/IDtlsServerSecurityContext.cs
  ProtoSDK/SspiLib/SecurityContext.cs
  ProtoSDK/SspiLib/SspiStructures.cs
  ProtoSDK/SspiLib/SspiUtility.cs
  ProtoSDK/SspiService/DtlsClientSecurityContext.cs
  ProtoSDK/SspiService/DtlsServerSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Update NTLM to support SSPI
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
  TestSuites/FileServer/src/FSA/Adapter/Smb2TransportAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add NLMP reference
  ProtoSDK/SspiService/SspiService.csproj
  TestSuites/RDP/Client/src/Deploy/TestSuiteMiscFiles.wxs
  TestSuites/RDP/Server/src/Deploy/TestSuiteMiscFiles.wxs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1714: [MS-AZOD] Retry to wait until the ADWS can respond to PowerShell commands correctly
  TestSuites/MS-AZOD/Setup/Scripts/Config-AP01.ps1
Due: none

update comments and filename
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
  TestSuites/RDP/Server/src/Deploy/TestSuiteMiscFiles.wxs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Fix Github issue https://github.com/microsoft/WindowsProtocolTestSuites/issues/229
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/BaseImage/BaseImage_AVC444v2_1.bmp
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/BaseImage/BaseImage_AVC444v2_2.bmp
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/BaseImage/BaseImage_AVC444v2_3.bmp
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/BaseImage/BaseImage_AVC444v2_4.bmp
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/BaseImage/BaseImage_AVC444v2_5.bmp
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/RDPEGFX_H264Codec_PositiveTest_AVC444v2.xml
Due: none

Update typo issue
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Add missing deployment items for rdpegfx test suite
  TestSuites/RDP/Client/src/ClientLocal.TestSettings
Due: none

Merged PR 1797: [RDPClient] Package image files into installer
  TestSuites/RDP/Client/src/Deploy/TestSuiteMiscFiles.wxs
Due: none

Support Kerberos
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/KerberosLib.csproj
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Role/KerberosRole.cs
  ProtoSDK/KerberosLib/Types/Token4121.cs
  ProtoSDK/KerberosLib/Types/TokenHeader1964_4757.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiService.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/Adapter/KerberosAuthData.cs
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update BranchCache missed reference
  TestSuites/BranchCache/src/Deploy/TestSuiteMiscFiles.wxs
Due: none

Fix NRPC bind issue
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/KerberosLib.csproj
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Types/BasicTypes.cs
  ProtoSDK/MS-KILE/Client/KerberosClientSecurityContext.cs
  ProtoSDK/MS-KILE/Client/KileClient.cs
  ProtoSDK/MS-KILE/KileDecoder.cs
  ProtoSDK/MS-KILE/KileRole.cs
  ProtoSDK/MS-KILE/KileUtility.cs
  ProtoSDK/MS-KILE/Server/KileServer.cs
  ProtoSDK/MS-KILE/Types.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/Kerberos/src/Adapter/KerberosAuthData.cs
  TestSuites/Kerberos/src/Adapter/ProtocolAdapter/KerberosTestClient.cs
  TestSuites/Kerberos/src/TestSuite/KILE/KileCrossRealmTest.cs
  TestSuites/Kerberos/src/TestSuite/KILE/KileInteractiveLogonTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1804: [RDPServer] Scripts confuse
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-Driver.ps1
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
  TestSuites/RDP/Server/Setup/Scripts/Protocol.xml
  TestSuites/RDP/Server/src/Deploy/deploy.wixproj
Due: none

Fix AD family parse domain Ip issue and add missed sequence number when sign
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/KerberosLib/Role/KerberosRole.cs
  ProtoSDK/MS-KILE/Client/KerberosClientSecurityContext.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix failed case FastOptions_HideClientNames and remove unused code
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Types/KerberosAuthenticator.cs
  ProtoSDK/KerberosLib/Types/KerberosKdcRequestBody.cs
  ProtoSDK/KerberosLib/Types/Token4121.cs
  ProtoSDK/KerberosLib/Types/TokenHeader1964_4757.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix NTLM LDAP Operate issue and kerberos test case issue
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Server/KerberosServerSecurityConfig.cs
  ProtoSDK/KerberosLib/Server/KerberosServerSecurityContext.cs
  ProtoSDK/KerberosLib/Server/KileServer.cs
  ProtoSDK/KerberosLib/Server/KileServerContext.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientSecurityContext.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update comments add add KerberosContextType
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Role/Client/KpasswdClient.cs
  ProtoSDK/KerberosLib/Role/KerberosRole.cs
  ProtoSDK/KerberosLib/Types/BasicTypes.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix NTLM LDAP Operate issue and kerberos test case issue
  ProtoSDK/KerberosLib/KerberosConnection.cs
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/KerberosLib/Role/Client/KpasswdClient.cs
  ProtoSDK/KerberosLib/Server/KerberosServerSecurityConfig.cs
  ProtoSDK/KerberosLib/Server/KerberosServerSecurityContext.cs
  ProtoSDK/KerberosLib/Server/KileServer.cs
  ProtoSDK/KerberosLib/Server/KileServerContext.cs
  ProtoSDK/KerberosLib/Types/BasicTypes.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientSecurityContext.cs
  ProtoSDK/SspiLib/Consts.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Updated RDPEGFX_H264Codec_PositiveTest_AVC444v2.xml
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/RDPEGFX_H264Codec_PositiveTest_AVC444v2.xml
Due: none

Merged PR 1801: Create Cssp SDK
  ProtoSDK/MS-CSSP/Client/CsspClient.cs
  ProtoSDK/MS-CSSP/Client/CsspClientStream.cs
  ProtoSDK/MS-CSSP/Cssp.csproj
  ProtoSDK/MS-CSSP/Server/CsspServer.cs
  ProtoSDK/MS-CSSP/Server/CsspServerStream.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  ProtoSDK/MS-RDPBCGR/Rdpbcgr.csproj
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
  ProtoSDK/Sspi/SspiStructures.cs
  ProtocolTestManager/Deploy/ProtoSDK.wxs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin.sln
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin.sln
  TestSuites/RDP/Client/src/Deploy/TestSuiteMiscFiles.wxs
  TestSuites/RDP/Client/src/RDP_Client.sln
  TestSuites/RDP/Server/src/Deploy/TestSuiteMiscFiles.wxs
  TestSuites/RDP/Server/src/Deploy/deploy.wixproj
  TestSuites/RDP/Server/src/RDP_Server.sln
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add verify KRB_AP_REP
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Types/BasicTypes.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add kerb auth case with special characters in user name
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
  TestSuites/FileServer/Setup/Scripts/ParamConfig.xml.txt
  TestSuites/FileServer/docs/Auth_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/Auth/TestSuite/AuthTestConfig.cs
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1807: [RDPClient] Turn on RDPBCGR requirement Verification for eusb/egfx/rfx test suites
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/RdpbcgrTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUSB/RdpeusbTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none
