Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

TDS Update for NotingFileModified and Set_FileBasicInformation
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Correcting senerio count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Updating TDS
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Merged PR 5874478: Update PTM Version to 4.21.5.0
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 5874467: Update TestSuite version to 4.21.5.0
  AssemblyInfo/.version
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

update for comments
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

Implement SutCommonControlAdapter for LDAP query
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/Setup/Scripts/Create-AuthEnv.ps1
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/AuthorizationTestBase.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/CBACTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FilePermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FolderPermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapterAccessor.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Implement SutCommonControlAdapter for LDAP query
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapterAccessor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes issues
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupSid.ps1
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Correct format of SutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactor code to be consistent DtypUtility.cs
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Refactor code to be consistent DtypUtility.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Rename GetGroupSidFromAccount to GetSidFromGroupName
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 5894139: Update index.html in FileServerPlugin
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Docs/index.html
Due: none

Merged PR 5894528: [32407816]: [PTM] The header name of rule group is missing
  ProtocolTestManager/Kernel/TestCaseFilter/RuleGroup.cs
Due: none

Merged PR 5893968: [32307995]: [PTM][RDPClient] Auto Detect failure in PTM
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPValueDetector.cs
Due: none

Merged PR 5894274: Update FileServer test design spec docs
  TestSuites/FileServer/docs/Auth_ServerTestDesignSpecification.md
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

up for comments
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

Update VL height by calculate from steps
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
Due: none

Update style
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
Due: none

Merged PR 5862380: [PTMService] Add running selected test case page.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/SelectedTestCasesActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/RunRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/PropertyGroupsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/SelectedTestCasesReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/PropertyGroups.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/tsconfig.json
Due: none

Add create group for workgroup env
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5888157: Add Install TestSuite page
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/ManagementAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/FileUploader.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/Header.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/InstallRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/Management.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/SelectTestSuite.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/Management.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Configurations.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/ConfigureAdapter.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Management.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/PropertyGroups.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/index.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/WeatherForecastController.cs
  ProtocolTestManager/PTMService/PTMService/WeatherForecast.cs
  ProtocolTestManager/PTMService/PTMService/web.config
Due: none

Merged PR 5907015: Set Target Cluster Share as not required
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
Due: none

Merged PR 5914980: [PTM] Fix the issues that may cause PTM crash.
  ProtocolTestManager/Kernel/TestEngine/GroupByOutcome.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/UI/RunPage.xaml.cs
  ProtocolTestManager/UI/app.manifest
Due: none

Fixes comments
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Fixes comments
  ProtoSDK/Common/DtypUtility.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 5901279: [PTM Service] Add pages for monitoring test runs and view test results.
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestCaseResultActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestResultsActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/FullWidthPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/ListResponse.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestCaseResult.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestResult.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestResultsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestCaseResult.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestResults.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
Due: none

Merged PR 5925461: Fixes testcase.LogUri is null before run cases
  ProtocolTestManager/UI/RunPage.xaml.cs
Due: none

Merged PR 5919335: Fix Filter Case Page
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/FilterTestCaseAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/RuleListPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/RuleGroup.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Configurations.ts
Due: none

Add Set/Get filter Rule feature
  ProtocolTestManager/Kernel/etc/FileServer/config.xml
  ProtocolTestManager/PTMService/Abstractions/Kernel/IConfiguration.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/Common/Types/Rule.cs
  ProtocolTestManager/PTMService/Common/Types/RuleGroup.cs
  ProtocolTestManager/PTMService/Common/Types/RuleSelectStatus.cs
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteConfigurationController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

Merged PR 5936601: Fix Filter Test Cases Page
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Configurations.ts
Due: none

Merged PR 5936694: Fix test engine run case issue
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
Due: none

Merged PR 5919951: [PTM Service] Add scripts to perform "install", "uninstall" and "run" actions.
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/PTMService/Scripts/install.bat
  ProtocolTestManager/PTMService/PTMService/Scripts/install.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/install.sh
  ProtocolTestManager/PTMService/PTMService/Scripts/run.bat
  ProtocolTestManager/PTMService/PTMService/Scripts/run.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/run.sh
  ProtocolTestManager/PTMService/PTMService/Scripts/uninstall.bat
  ProtocolTestManager/PTMService/PTMService/Scripts/uninstall.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/uninstall.sh
Due: none

Merged PR 5935941: [PTM Service] Support backend search and rerun on view results pages.
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Database/ptmservice.db
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestResultsActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestResultsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestResults.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/index.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
Due: none

Merged PR 5963855: [PTMService] Add installation steps for PTMService URLs modification.
  ProtocolTestManager/PTMService/PTMService/Scripts/install.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/run.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/uninstall.ps1
Due: none

Merged PR 5975715: [PTMService] Use concurrent dicts for shared collections.
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_Configuration.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestSuite.cs
Due: none

Merged PR 5990299: [PTMService] Disable auto detection steps when configure method is not selected.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
Due: none
