Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

Revert "Test sync from GitHub to VSO"
  Home.md
Due: none

Reboot to make auto reconnection configuration take effect
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Try to fix autoreconnection case failure in 20H1
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5508238: Remove ignore attribute of Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

test sync
  Home.md
Due: none

Test sync from GitHub to VSO
  Home.md
Due: none

Merged PR 5517561: [RDPClient] Add null-terminator to password field in RDP_SERVER_REDIRECTION_PACKET.
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
Due: none

Merged PR 5511975: Fix path issue in RDPEGFX tests
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxH264CodecTest.cs
Due: none

Add "Install Jinja2 to local path".
  pipelines/github/GitHubPR-Regression.yml
Due: none

Remove pip task.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Fix kill process issue in SUTControlAgent
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Remove /f to close the mstsc
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Merged PR 5504018: Auth related case should be inconclusive, permission failed due to ldap
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/AuthorizationTestBase.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FilePermissionTest.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/FolderPermissionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

try to fix all cases failed in linux driver
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Revert change
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5495917: [Regression] Add preceding PTF build steps and support PR automated build. -Entrance
  pipelines/Integration_DotNetCore_Regression.yml
Due: none

Merged PR 5520385: Copy test data files to TestData dir and Data dir to output Data dir for vs local debugging convenience.
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Client/src/TestSuite/TestData/RdpedispTestImage.bmp
  TestSuites/RDP/Client/src/TestSuite/TestData/RdpegfxClearCodecTestImage.bmp
  TestSuites/RDP/Client/src/TestSuite/TestData/RdpegfxH264TestData.xml
  TestSuites/RDP/Client/src/TestSuite/TestData/RdpegfxRfxProgressiveCodecTestImage.bmp
  TestSuites/RDP/Client/src/TestSuite/TestData/RdpevorTestData.xml
  TestSuites/RDP/Client/src/TestSuite/TestData/Rdprfx.bmp
  TestSuites/RDP/Client/src/TestSuite/TestData/RdprfxVideoMode.bmp
Due: none

Merged PR 5517560: Check platform compatibility of DTLS for RDPClient
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxSurfaceToCacheToSurfaceTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/S1_Connection.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/S2_AutoDetect.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S1_Connection.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S2_DataTransfer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Try to fix all linux failed issue with chaning the steps
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update PTF Version
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/BranchCache/src/Adapter/Adapter.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/CommonStack.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSAModel/Model/MS-FSAModel_ServerModel.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/Adapter/MS-SMB2Model_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2Model/Model/MS-SMB2Model_ServerModel.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Update missed Proj file
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPParser.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5503712: Add PowerShell Core and Win32-OpenSSH in Prerequisites document
  README.md
Due: none

Merged PR 5522488: Inconclusive RDPEUSB cases for interactive or DeviceNeeded
  TestSuites/RDP/Client/src/TestSuite/RDPEUSB/RdpeusbTestSuite.cs
Due: none

Merged PR 5520518: Fix RDPserver plugin issues
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/build.cmd
Due: none

Merged PR 5522726: Remove autocapture from PTM GUI
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/BranchCache/src/TestSuite/BranchCache_TestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-ADFSPIP/src/TestSuite/PTFConfig/MS-ADFSPIP_ClientTestSuite.deployment.ptfconfig
  TestSuites/MS-ADOD/src/TestSuite/MS-ADOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-AZOD/src/TestSuite/MS-AZOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-SMB/src/TestSuite/MS-SMB_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Fix script issue in yml
  pipelines/build/DotNetCore-Build-steps.yml
Due: none

Fix yml file issue
  pipelines/DotNetCore-Build.yml
Due: none

Fix typo error
  pipelines/DotNetCore-Build.yml
Due: none

Add build RDPClient Agent steps
  pipelines/DotNetCore-Build.yml
Due: none

Add RDPClient build
  pipelines/DotNetCore-Build.yml
Due: none

Fix yml file issue
  pipelines/build/DotNetCore-Build-steps.yml
Due: none

Remove yml useless scripts
  pipelines/DotNetCore-Build.yml
  pipelines/build/DotNetCore-Build-steps.yml
Due: none

Add dotnet core build yml file
  pipelines/DotNetCore-Build.yml
  pipelines/build/DotNetCore-Build-steps.yml
Due: none

Change ref repo branch name
  pipelines/DotNetCore-Build.yml
Due: none

Add trigger yml file in a new branch
  pipelines/DotNetCore-Build.yml
Due: none

Add build yml file
  pipelines/DotNetCore-Build.yml
  pipelines/build/DotNetCore-Build-steps.yml
Due: none

Fix branch name issue
  pipelines/azure-pipelines.yml
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
