Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Remove auto reconnect
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 7058998: [RDPClient] Fix the TLS tunnel creation issue.
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.Rdpeudp2Forwarder.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 7071267: PTM Service Accessibility bug fixes
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/LoadingPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
Due: none

update according to fixed TDIs and windows bug
  ProtoSDK/MS-FSCC/FsccMessage.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION_EX.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7049872: Added missing design specification for durable handle
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

fix
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION_EX.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7071932: [PTMService] Fix accessibility issues in MS-WSP doc.
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/deployment.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/domain.html
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/Docs/index.html
Due: none

Merged PR 7071538: [PTMService] Fix accessibility issues in TreePanel.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
Due: none

Resolve comments. Minor adjustments
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Correct Index Error
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Correct Lost Packet Test
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Merged PR 7097015: [FileServer] Use AutoResetEvent to confirm the receipt of notification in OplockAdapter.
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Comment resolution
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Merged PR 6998230: Include SMB2_RDMA_TRANSFORM_TYPE_ENCRYPTION tests
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerTestDesignSpecification.md
  TestSuites/MS-SMBD/src/Adapter/Smb2OverSmbdTestClient.cs
  TestSuites/MS-SMBD/src/Adapter/SmbdAdapter.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformEncryption.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

adjust registry for maximum disconnection time on server and client
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
Due: none

Remove section number
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Remove section numbers
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Merged PR 7002885: Add test cases and TDS for [MS-SMB2] Section 3.3.5.9.7
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandle.cs
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7139391: Add Network Interface Info test cases
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/SMB2/TestSuite/IOCTL/NetworkInterfaceInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7183190: Add TDS for NetwokInterfaceInfo test cases
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/IOCTL/NetworkInterfaceInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update MacOS openssl doc of FileServer in README.md
  README.md
Due: none

Updated README.md
  README.md
Due: none

Fixes comments.
  README.md
Due: none

Fixes comment.
  README.md
Due: none

Config Initiate
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 7208684: Include STATUS_AUTH_TAG_MISMATCH tests
  ProtoSDK/Common/NtStatus.cs
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerTestDesignSpecification.md
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformEncryption.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Init RDP Large Pointer Design
  TestSuites/RDP/Server/Docs/MS-RDPBCGR_ServerTestDesignSpecification.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add Diagram for test cases
  TestSuites/RDP/Server/Docs/MS-RDPBCGR_ServerTestDesignSpecification.md
  TestSuites/RDP/Server/Docs/image/MS-RDPBCGR_ServerTestDesignSpecification/RDP_Large_Pointer.png
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Typo correction
  TestSuites/RDP/Server/Docs/MS-RDPBCGR_ServerTestDesignSpecification.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Reverse config file
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add SUT Control Adapter to RDP Server Code Base
  TestSuites/RDP/Server/src/Adapter/PtfPropUtility.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Handler/SUTControlProtocolHandler.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/IRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlRequestMessage.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlResponseMessage.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlType.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlUtility.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Transport/Implementation/TCPSUTControlTransport.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Transport/Implementation/UDPSUTControlTransport.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Transport/Interface/ISUTControltransport.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

More Large Pointer SUT Control
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlCommand.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlType.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Pointer Attribute Test Case And SUT Control Adapter Implementation
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_Sequences.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/IRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

SUT Control Adpater Changes For Server Control
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Client/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Interface/IRDPControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/PostFunction.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Program.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlListener.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlMessageExRDP.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/PointerManager.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Adjustments to pointer change
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/PointerManager.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Add test to correct file
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add SUTControl Block to ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
