Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Resolve comments
  ProtoSDK/MS-SMB2/FsccMessage.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_MANAGEMENT.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update check if support compressdata
  TestSuites/FileServer/Setup/Scripts/Create-SMBShare.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Restore SMB FsccMessage
  ProtoSDK/MS-SMB2/FsccMessage.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update SMB2/FsccMessage
  ProtoSDK/MS-SMB2/FsccMessage.cs
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Increment test case count
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Merged PR 6329243: Implement RDMA transform capabilities test cases for SMB2 negotiation
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  ProtoSDK/MS-SMB2/Packets/Smb2NegotiateRequestPacket.cs
  ProtoSDK/MS-SMB2/Packets/Smb2NegotiateResponsePacket.cs
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

modify filename
  TestSuites/Kerberos/Setup/Scripts/Configure-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-PROXY.ps1
Due: none

modify path
  TestSuites/Kerberos/Setup/Scripts/Configure-PROXY.ps1
Due: none

Merged PR 6457735: Force compression on compressed share
  TestSuites/FileServer/Setup/Scripts/Create-SMBShare.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

alignment Set FileLinkInformation support logic
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileLinkInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6457738: Fix CheckSigningCompatibility
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

ignore Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6464521: Fix BVT_QueryDirectory_FileIdBothDirectoryInformation
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update TDS
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

upgrade version to 4.21.9.0
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 6476162: [FileServer] Fix VHD path in SQOS tests.
  TestSuites/FileServer/src/SQOS/TestSuite/SqosTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update readme
  README.md
Due: none

Merged PR 6490440: Update Import-GPOForClaims.ps1 to support domain like something.org
  TestSuites/FileServer/Setup/Scripts/Import-GPOForClaims.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6495174: Fixes rule name issue in ptmcli
  ProtocolTestManager/Kernel/TestCaseFilter/TestCaseFilter.cs
Due: none

Merged PR 6498929: [PTMService] Fix issues found during environment validation.
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestRun.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/Common/Profile/ProfileUtil.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_ProfileSetup.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  TestSuites/FileServer/src/FileServer.sln
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerValueDetector.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/config.xml
  TestSuites/FileServer/src/build.sh
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/config.xml
  TestSuites/RDP/Client/src/RDP_Client.sln
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/config.xml
  TestSuites/RDP/Server/src/RDP_Server.sln
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 6499041: Ignore checking PropertyValueDetector.dll for PTMGUI detect version
  ProtocolTestManager/Kernel/Utility.cs
Due: none

Merged PR 6499131: Fixes ReportFilePath value in ptmcli
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

modify ptfconfig path
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
Due: none

add Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

add ps
  TestSuites/ADFamily/src/Batch/RunADTSLDAPCases.ps1
  TestSuites/ADFamily/src/Batch/RunADTSPublishDCCases.ps1
  TestSuites/ADFamily/src/Batch/RunADTSSchemaCases.ps1
  TestSuites/ADFamily/src/Batch/RunADTSSecurityCases.ps1
  TestSuites/ADFamily/src/Batch/RunAPDSCases.ps1
  TestSuites/ADFamily/src/Batch/RunDRSR.ps1
  TestSuites/ADFamily/src/Batch/RunDRSRCases_Threshold.ps1
  TestSuites/ADFamily/src/Batch/RunDRSRCases_Win8.1.ps1
  TestSuites/ADFamily/src/Batch/RunFrs2Cases.ps1
  TestSuites/ADFamily/src/Batch/RunLSADCases.ps1
  TestSuites/ADFamily/src/Batch/RunLSATCases.ps1
  TestSuites/ADFamily/src/Batch/RunNRPCCases.ps1
  TestSuites/ADFamily/src/Batch/RunSAMRCases.ps1
Due: none

Add MS-RDPEUDP2 Design Specs and reference protocol document
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/docs/[MS-RDPEUDP2].pdf
  TestSuites/RDP/Client/docs/image/MS-RDPEUDP2_ClientTestDesignSpecification/image1.png
  TestSuites/RDP/Client/docs/image/MS-RDPEUDP2_ClientTestDesignSpecification/image2.jpeg
  TestSuites/RDP/Client/docs/image/MS-RDPEUDP2_ClientTestDesignSpecification/image3.png
Due: none

Merged PR 6592757: [FileServer] Add new platforms to the plugin.
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Detector/FSDetector.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Information.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding test cases for FSCTL_REFS_STREAM_SNAPSHOT_OPERATION_CREATE and REFS_STREAM_SNAPSHOT_OPERATION_QUERY_DELTAS
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

modify bug
  TestSuites/ADFamily/src/Batch/RunADTSSecurityCases.ps1
  TestSuites/ADFamily/src/Batch/RunDRSR.ps1
Due: none

update filter
  TestSuites/ADFamily/src/Batch/RunADTSSecurityCases.ps1
Due: none

Adding license header
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

TEST
  TestSuites/Kerberos/Setup/Scripts/Configure-DC02.ps1
Due: none

update
  TestSuites/Kerberos/Setup/Scripts/Configure-DC02.ps1
Due: none

Fixing PR comments
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

fix 2022 issue
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add fourth example given in document to test cases
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2/Rdpeudp2.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

remove useless param
  TestSuites/Kerberos/Setup/Scripts/Configure-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-PROXY.ps1
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
