Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Add stubs.
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Temp commit.
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add scripts and revised adapter logic.
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

The adminUserName is not used for local computer.
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Set file attributes with FileBasicInfomation of values -3, -1 and -2 with write operation
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Align the code with TD
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Do not search special objects.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix comment.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Use PrincipalSource to identify special objects.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Change test case incorrect category
  TestSuites/FileServer/src/ServerFailover/TestSuite/FSRVP/VSSOperateShadowCopySet.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Move KDCAddress and port settings to KerberosContext file
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/SspiLib/Consts.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/Smb2TransportAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/SmbTransportAdapter.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Fix ptfconfig and membership acquirement.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update Test Case to include test for system response to -2 value on timestamps
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5605330: Make dot visible in test case filter view
  ProtocolTestManager/Kernel/TestCaseFilter/Rule.cs
  ProtocolTestManager/Kernel/TestCaseFilter/RuleGroup.cs
  ProtocolTestManager/UI/RulePage.xaml.cs
Due: none

Merged PR 5605373: Remove InvalidLinkNameLinkReferralToDC
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/DFSC/TestSuite/LinkReferralToDC.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update Test Case Design with [MS-FSA] 2.1.5.14.2 SetFileBasicInformation test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Reimplementation.
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Updated test case to independently test ChangeTime, LastAccessTime and LastWriteTime
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Added Test Case Design details for dir test case
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Merged PR 5598690: Make InvalidRootReferralDomainToDFSServer inconclusive if DFS server is DC
  TestSuites/FileServer/src/DFSC/TestSuite/RootAndLinkReferralToDFSServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Change the adapter implementation.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revised comment.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix results serialization.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Configure SSH keys for all users on the host.
  CommonScripts/Config-AuthorizedKeys.ps1
Due: none

Re-factored code for single TestFileAttributes call
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Resolved comments from PR review session including re-factored WriteToFile to eliminate Thread.Sleep
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add missed FS cases in PTM
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileAccess/FileAccess_OpenExistingFile.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add missed fs cases in PTM
  TestSuites/FileServer/src/FSA/TestSuite/FileAccess/FileAccess_OpenExistingFile.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refine description about share permissions.
  TestSuites/FileServer/docs/File Server SUT Test Sheet.docx
  TestSuites/FileServer/docs/FileServerUserGuide.md
  TestSuites/FileServer/docs/image/FileServerUserGuide/image211.png
  TestSuites/FileServer/docs/image/FileServerUserGuide/image8.png
Due: none

Tweaks.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Extend the transport timeout since the PS adapter is rather slower.
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Replaced string with enum for TestMinusTwoTimestamp
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix the type of userSid.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove html logger, support export log to relative path and fixed same case name issue
  ProtocolTestManager/Kernel/TestEngine/GroupByOutcome.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PtmCli.sln
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/PtmCli.csproj
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

Extend the transport timeout more.
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add a section on how to set NTFS permissions with ACL strings.
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Add an image for Permission Entry dialog.
  TestSuites/FileServer/docs/FileServerUserGuide.md
  TestSuites/FileServer/docs/image/FileServerUserGuide/image10.png
Due: none

Fix number ordering.
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Fix typo in comments.
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlManagedAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Ingore timeout exceptions when the client is not waiting for incoming packets.
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
