Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Refactoring code for IsStreamSnapshotManagementImplemented
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update MS-SMB2 comment
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6585471: Add compression checks for empty compression algorithm counts
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6584079: More validation steps for SMB3.x Decryption
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/MS-SMB2/Packets/Smb2EncryptedPacket.cs
  ProtoSDK/MS-SMB2/Smb2Decoder.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Resolving PR comments
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add fourth test case
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
Due: none

Adding Windows 10 v21H1 to test suite platforms
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update SMB reference comment
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update name
  TestSuites/Kerberos/Setup/Scripts/Configure-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-PROXY.ps1
Due: none

modify case error
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Security/MS_ADTS_Security_RequirementsValidator.cs
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.ptfconfig
Due: none

Add Windows10V21H1
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_CREATE.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_QUERY_DELTAS.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update MS-SMB comment
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FsCtlTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

modify sdk version
  TestSuites/ADFamily/src/MS-FRS2/FRS2Stubs/MS-FRS2_ServerFRS2Stubs.vcxproj
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/IMS_DRSR_RpcAdapter_RpcStubs.vcxproj
Due: none

Update Negotiation.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

merge kyle's code
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

modify error
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/NativeHelpers.cs
  TestSuites/ADFamily/src/Adapter/Utilities.cs
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-Schema/UniqueID.cs
Due: none

update ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/ConfigServerRejectMD5Client.ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/RestoreNetlogonService.ps1
Due: none

Update CheckSigningCapability platform
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactoring test cases with similar bugs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

modify code
  ProtoSDK/MS-SAMR/SamrCryptography.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 6636865: [ADFamily]Fix sspi client security context -Main
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6632359: [ADFamily]Fix sspi client security context
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

modify get-service
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/PauseNetlogonService.ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/RestartNetlogonService.ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/ResumeNetlogonService.ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/StartNetlogonService.ps1
  TestSuites/ADFamily/src/Adapter/MS-NRPC/SUTControlAdapter/StopNetlogonService.ps1
Due: none

modify "Method _NewEncryptor is not found"
  ProtoSDK/CryptoLib/LMHashManaged.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

revert code
  ProtoSDK/CryptoLib/LMHashManaged.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

modify "Method _NewEncryptor is not found"
  ProtoSDK/CryptoLib/CryptoLib.csproj
  ProtoSDK/CryptoLib/LMHashManaged.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

update version
  TestSuites/ADFamily/src/MS-FRS2/FRS2Stubs/MS-FRS2_ServerFRS2Stubs.vcxproj
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/IMS_DRSR_RpcAdapter_RpcStubs.vcxproj
Due: none

update “Thread.Abort” PlatformNotSupportedException
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
Due: none

replace thread.abort
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
Due: none

modify bug
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
Due: none

fix errror(Cannot resolve IP address of (CONTOSO) from DNS)
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-Schema/ConstructedAttributes.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-Schema/SiteContainer.cs
Due: none

modify bug
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
Due: none

update
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
Due: none

Merged PR 6650925: [Kerberos]Fix test case failures related to Kerberos changes.
  ProtoSDK/KerberosLib/Asn1Code/Rfc4120/Int32.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6650960: [dotnet-fx] [Kerberos]Fix test case failures related to Kerberos changes.
  ProtoSDK/KerberosLib/Asn1Code/Rfc4120/Int32.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update enums according 21H1 alignment
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Refactor ServerSaveSessionInfo
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S10_FastPathOutputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S11_RDSTLSAuthenticationTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S3_AutoReconnectTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S4_SlowPathInputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S5_FastPathInputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S6_AutoDetectTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S7_StaticVirtualChannelTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S8_ServerRedirectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S9_HealthMonitoringTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUSB/RdpeusbTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEVOR/RdpevorTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxEncodedHeaderMessageTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxImageModeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxVideoModeTest.cs
Due: none

Merged PR 6680496: [RDPEUDP] Update property names
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.cs
  ProtoSDK/MS-RDPEUDP/Types.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S2_DataTransfer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

update
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ServerControllerAdapter.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
