Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Allow expecting of multiple packets
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

try out
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Correction
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
Due: none

Check packet loss validity
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Correct Number
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Merged PR 6837152: [RDPClient] Fix and align RDPEI test cases according to Windows simulator execution status.
  ProtoSDK/MS-RDPEI/TouchContactStateMachine.cs
  ProtoSDK/MS-RDPEI/Types.cs
  TestSuites/RDP/Client/Setup/Scripts/Set-DisplaySettings.ps1
  TestSuites/RDP/Client/Setup/Scripts/TriggerCloseRDPWindow.ps1
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/RdpeiSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/RdpeiSUTControlData.cs
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/RdpeiUtility.cs
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerContinuousTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerDismissHoveringContactPduOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerMultiTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerOneTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerPositionSpecifiedTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest_CapabilityExchange.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_Connection_BasicSettingExchangeTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_Connection_ConnectionFinalizationTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_Connection_DisconnectionTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_Connection_InitiationTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/S1_TouchInputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/S2_TouchControlTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Complete testcase with missing packet sending and acknowledgement
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Merged PR 6998221: Fixes Accessibility bug in PTMService FileUploader.tsx.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/FileUploader.tsx
Due: none

Clean Up
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Clean Up
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Add assert to credential validate block
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Requested clean up
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 6972902: PTM Service Accessibility - Fix
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/home.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestSuiteIntroduction.tsx
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Docs/deployment.html
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Docs/domain.html
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Docs/index.html
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Docs/workgroup.html
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/Docs/deployment.html
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/Docs/index.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/index.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/network.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/index.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/network.html
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 6992789: Include missing TDS
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Delete unused project file
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2/Rdpeudp2.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 7003339: [PTMService] Fix accessibility bugs.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/PopupModal.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/PropertyGroupView.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/StepPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/configureAdapter.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureAdapter.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
Due: none

Remove Credential Manager files
  TestSuites/RDP/Client/Setup/Data/CredentialManager_InvalidAccount.ps1
  TestSuites/RDP/Client/Setup/Data/CredentialManager_InvalidAccount_Reverse.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
Due: none

Remove TDS for query
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Add Scenario and Count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Use Variable to Track Credential
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 7025075: [PTMService] Fix Abort button color for accessibility.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
Due: none

Correct the chart to reflect correct scenario and test case count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Correct count of test cases
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Corrected test case count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Corrected Test Case Count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Correct Count
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Adjust disconnect time
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Increase timeout
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

revert timeout
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Increase reconnect time
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Increase timeout for disconnect
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

increase timeout for disconnect
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Increase sleep to 120 seconds
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Increase timeout to 120seconds
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add TDS for CreateFile_FindAllFiles
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7043028: Include some missing tds
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Remove WaitLogon After Reconnect
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

update
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Merged PR 6987210: Include test for SMB2_RDMA_TRANSFORM_TYPE_SIGNING
  ProtoSDK/MS-SMB2/Common/Smb2Crypto.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  ProtoSDK/MS-SMB2/Smb2Decoder.cs
  ProtoSDK/MS-SMB2/Smb2Utility.cs
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerTestDesignSpecification.md
  TestSuites/MS-SMBD/src/Adapter/Smb2OverSmbdTestClient.cs
  TestSuites/MS-SMBD/src/Adapter/SmbdAdapter.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformSigning.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Changes for bug fix
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S2_AutoReconnectTest.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
