Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Merged PR 1703: Rename enum definition to make value meaningful for RDPServer
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerDecoder.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/ClientRoleCaptureCode.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_ReceiveMethod.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1716: [Kerberos] Pass the authData in the authenticator to receive an error from the server.
  TestSuites/Kerberos/src/TestSuite/KILE/KileFastTest.cs
  TestSuites/Kerberos/src/TestSuite/RC4/Rc4EncryptTest.cs
Due: none

update host file of the client driver to support connecting linux vm by computer name
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

fix getting SUT ip address issue
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

correct the parameter name
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1624:[FileServer] Recreation of clusters failed in single-domain environment.
  TestSuites/FileServer/Setup/Scripts/Create-ServerFailoverEnv.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Ignore Forcelevel when the SUT is Linux as this tool does not support yet in Linux now.
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Replace Windows API call using MS-XCA SDK
  ProtoSDK/Claim/Claim.csproj
  ProtoSDK/Claim/Compression.cs
  ProtoSDK/MS-PAC/Message/ClientClaimsInfo.cs
  ProtoSDK/MS-PAC/Message/DeviceClaimsInfo.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1736: Add new FileServer platform 1909 and 2004
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Support aborting test suite execution in PtmCli
  ProtocolTestManager/PtmCli/Program.cs
Due: none

Merged PR 1728: [Kerberos]Enable compound identity to the file server
  TestSuites/Kerberos/Setup/Scripts/Configure-AP01.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-AP02.ps1
Due: none

Implement RC4 cipher
  ProtoSDK/CryptoLib/Crypto/CryptoUtility.cs
  ProtoSDK/CryptoLib/CryptoLib.csproj
  ProtoSDK/CryptoLib/RC4.cs
  ProtoSDK/CryptoLib/RC4CryptoServiceProvider.cs
  ProtoSDK/CryptoLib/RC4CryptoTransform.cs
  ProtoSDK/CryptoLib/RC4Managed.cs
  ProtoSDK/KerberosLib/KerberosUtility.cs
  ProtoSDK/MS-KILE/KileUtility.cs
  ProtoSDK/MS-RDPBCGR/EncryptionAlgorithm.cs
  ProtoSDK/MS-RDPELE/Client/RdpeleClient.cs
  ProtoSDK/MS-SAMR/SamrCryptography.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix typo: Deconstructor -> Destructor
  ProtoSDK/CryptoLib/MPPC/Compressor.cs
  ProtoSDK/CryptoLib/MPPC/Decompressor.cs
  ProtoSDK/CryptoLib/RC4CryptoTransform.cs
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  ProtoSDK/MS-SMB2/Server/Smb2ServerContext.cs
  ProtoSDK/RDMA/Rdma.h
  ProtoSDK/RDMA/RdmaEndpoint.cpp
  ProtoSDK/RDMA/RdmaMemoryWindow.cpp
  ProtoSDK/RDMA/RdmaProvider.cpp
  TestSuites/Kerberos/src/Adapter/ApAdapter/HttpFunctionalTestClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Implement MD4 hash algorithm
  ProtoSDK/CryptoLib/CryptoLib.csproj
  ProtoSDK/CryptoLib/MD4.cs
  ProtoSDK/CryptoLib/MD4CryptoServiceProvider.cs
  ProtoSDK/CryptoLib/MD4Managed.cs
  ProtoSDK/MS-SAMR/SamrCryptography.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1705: [ADFamily]If the caller does not have this access right, no results will be returned
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TraditionalcaseWin2K8R2.cs
Due: none

Merged PR 1722: [Kerberos] Remove the case involved with krbtgt account.
  TestSuites/Kerberos/src/TestSuite/KILE/KileInteractiveLogonTest.cs
Due: none

Merged PR 1733: [Kerberos] Test the no PAC scenario with another service that supports decryption.
  TestSuites/Kerberos/src/TestSuite/KILE/PacTestSuite.cs
Due: none

Merged PR 1748: Failed to create Failover env
  TestSuites/FileServer/Setup/Scripts/Create-ServerFailoverEnv.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove usage of DisconnectAll.signal file
  TestSuites/RDP/Client/Setup/Data/DisconnectAll.bat
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnectAll.ps1
Due: none

Merged PR 1668: Refactor hard-coded bitmask operations of TS_FP_UPDATE_PDU
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
  ProtoSDK/MS-RDPBCGR/Utility.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RDPBCGROutput.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPRFX/RdprfxAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Clean unused namespaces in Common SDK
  ProtoSDK/Claim/CTAEngine.cs
  ProtoSDK/Claim/Compression.cs
  ProtoSDK/Claim/ConstValue.cs
  ProtoSDK/Claim/Enums.cs
  ProtoSDK/Claim/Loader.cs
  ProtoSDK/Claim/Transform.cs
  ProtoSDK/Claim/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove unnecessary references
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
Due: none

Modify the cases for checking the beahviors of adding or deleting objects during an objects enumeration session.
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/Group/SamrEnumerateGroupsInDomain.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/Non-DC/Group/SamrEnumerateGroupsInDomain.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/Non-DC/User/SamrEnumerateUsersInDomain.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/User/SamrEnumerateUsersInDomain.cs
Due: none

Replace WebRequest API in KerberosLib SDK
  ProtoSDK/KerberosLib/KerberosLib.csproj
  ProtoSDK/KerberosLib/Role/Client/KKDCPClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Replace Environment.OSVersion in MS-SMB SDK
  ProtoSDK/MS-SMB/Server/SmbServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1720: [Kerberos]Set AuthorizationDataNotRequired for AuthNotRequired
  TestSuites/Kerberos/Setup/Scripts/Configure-DC01.ps1
Due: none

Merged PR 1750: Add chained compression support for SMB2 negotiate
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  ProtoSDK/MS-SMB2/Common/Smb2CompressionInfo.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1752: [Kerberos] Set the DCs to use RC4-HMAC encryption type before each RC4 test.
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter.cs
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/RestoreSupportedEncryptionTypes.ps1
  TestSuites/Kerberos/src/Adapter/IClientControlAdapter/SetSupportedEncryptionTypesAsRc4.ps1
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/ServerLocalTestRun.testrunconfig
  TestSuites/Kerberos/src/TestSuite/RC4/Rc4EncryptTest.cs
Due: none

clean up code for PR
  pipelines/Azure/AzureRegression-steps.yml
  pipelines/Azure/AzureRegression_PerENV-steps.yml
  pipelines/CodeSign/cs-TestSuite-steps.yml
  pipelines/Sync/Merge-Branch-steps.yml
  pipelines/Sync/Sync-Branch-Between-Repo-steps.yml
  pipelines/local/InstallPrerequisites-steps.yml
  pipelines/local/LocalRegression-steps.yml
  pipelines/local/LocalRegression_PerENV-steps.yml
  pipelines/local/PullRequestBuild-steps.yml
  pipelines/local/SMBD-LocalRegression-steps.yml
Due: none

Add new version and return win10 version as default
  ProtoSDK/MS-NLMP/NLMPMessages.cs
  ProtoSDK/MS-NLMP/NlmpUtility.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 1751: Align description of NetName
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1769: [MS-FSA] 2.1.5.9.21: Server 2012R2 fails FSCTL_QUERY_FILE_REGIONS request with no FILE_REGION_INPUT structure on FAT file system
  TestSuites/FileServer/src/FSA/TestSuite/TraditionalTestCases/FsControlRequest/FSCTL_QUERY_FILE_REGIONS.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1764: Add new config for chained compression
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1765: Add support to new platform and chained compression for FileServer plugin
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/DetectionResultControl.xaml.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Information.cs
Due: none

Use SSP Context Token instead of SSPI token
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Add SSPI Service for BranchCache
  TestSuites/BranchCache/src/Deploy/TestSuiteMiscFiles.wxs
Due: none

Update DTLS security context code
  ProtoSDK/SspiLib/IDtlsClientSecurityContext.cs
  ProtoSDK/SspiLib/IDtlsServerSecurityContext.cs
  ProtoSDK/SspiService/DtlsClientSecurityContext.cs
  ProtoSDK/SspiService/DtlsServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

1. Update plugin and PTM code to use new SSPI 2. Add Licence header
  ProtocolTestManager/Deploy/ProtoSDK.wxs
  ProtocolTestManager/Plugins/BranchCachePlugin/BranchCachePlugin.sln
  ProtocolTestManager/Plugins/BranchCachePlugin/BranchCachePlugin/BranchCacheDetector.cs
  ProtocolTestManager/Plugins/BranchCachePlugin/BranchCachePlugin/BranchCachePlugin.csproj
  ProtocolTestManager/Plugins/BranchCachePlugin/BranchCachePlugin/BranchCacheValueDetector.cs
  ProtocolTestManager/Plugins/BranchCachePlugin/BranchCachePlugin/Information.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin.sln
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/CreateContextDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/IoctlCodeDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/RsvdDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/SqosDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerPlugin.csproj
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Information.cs
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin.sln
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin/Information.cs
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin/KerberosDetector.cs
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin/KerberosPlugin.csproj
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin/KerberosValueDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin.sln
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPClientPlugin.csproj
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin.sln
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin.sln
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/DetectionInfo.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/Detector/SMBDClient.cs
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/SMBDPlugin.csproj
  ProtocolTestManager/Plugins/SMBDPlugin/SMBDPlugin/SMBDValueDetector.cs
Due: none

Add Comments and remove unused const defination.
  ProtoSDK/Sspi/DTLS/DtlsClientSecurityContext.cs
  ProtoSDK/Sspi/DTLS/DtlsServerSecurityContext.cs
  ProtoSDK/Sspi/NativeMethods.cs
  ProtoSDK/Sspi/SspiClientSecurityContext.cs
  ProtoSDK/Sspi/SspiServerSecurityContext.cs
  ProtoSDK/Sspi/SspiStructures.cs
  ProtoSDK/Sspi/SspiUtility.cs
  ProtoSDK/SspiLib/AccountCredential.cs
  ProtoSDK/SspiLib/CertificateCredential.cs
  ProtoSDK/SspiLib/Consts.cs
  ProtoSDK/SspiService/DtlsClientSecurityContext.cs
  ProtoSDK/SspiService/DtlsServerSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiServerSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
