Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Merged PR 5217270: [FileServer] Fix incompatible APIs used in TreeMgmt_SMB311_TREE_CONNECT_EXTENSION_PRESENT.
  ProtoSDK/Common/DtypAutoGeneratedTypes.cs
  ProtoSDK/Common/DtypAutoGeneratedTypesExtension.cs
  ProtoSDK/Common/DtypSecurityStructures.cs
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/FileServer/Setup/Scripts/Create-IscsiTarget.ps1
  TestSuites/FileServer/Setup/Scripts/Create-ServerFailoverEnv.ps1
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5235328: Update HOL tutorial
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.docx
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.pdf
Due: none

Merged PR 5277832: Add a version file to accelerate the procedure of loading the test suite's ve...
  AssemblyInfo/.version
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/PtmCli.csproj
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
  TestSuites/FileServer/src/build.ps1
  TestSuites/FileServer/src/build.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5287470: Remove thread abort in RdpeudpClient
  ProtoSDK/MS-RDPEDYC/Client/Rdpemt_DVCClientTransport.cs
  ProtoSDK/MS-RDPEUDP/Client/RdpeudpClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5292412: Reduce maximum retry count of checking PS remoting for RDPClient
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Check-PSRemoting.ps1
Due: none

Merged PR 5287868: Revert "Set RDPBCGR server socket to reuse the local address"
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5177445: Remove main branch yml files as they are old and useless
  pipelines/AzureRegression.yml
  pipelines/AzureRegression_PerEnv.yml
  pipelines/FileServer-GitHubPR-Regression.yml
  pipelines/GitHubPR-Regression_PerENV.yml
  pipelines/InstallPrerequisites.yml
  pipelines/LocalRegression.yml
  pipelines/LocalRegression_PerEnv.yml
  pipelines/PTMRegression.yml
  pipelines/RDPClient-GitHubPR-Regression.yml
  pipelines/RDPServer-GitHubPR-Regression.yml
  pipelines/SMBD-LocalRegression.yml
  pipelines/Sync-BranchToRepo.yml
  pipelines/Sync-MergeToBranches.yml
  pipelines/azure-pipelines.yml
  pipelines/cs.yml
  pipelines/csr.yml
Due: none

Merged PR 5282887: Fixes rdpclient TestData files path
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Merged PR 5282869: Fixes rdpclient S2_DataTransfer_ClientAckDelay random fail
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S1_Connection.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S2_DataTransfer.cs
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 5296921: Refactor the cleanup process of RdpeudpServer
  ProtoSDK/MS-RDPEDYC/Server/Rdpemt_DVCServerTransport.cs
  ProtoSDK/MS-RDPEUDP/Server/RdpeudpServer.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5309116: Fix merge conflict in RdpeudpTestSuite
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
Due: none

check result dir
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

update for comments
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

update
  ProtocolTestManager/PtmCli/Program.cs
Due: none

Merged PR 5202543: PTMCLi - Parameters value is not correct
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

Merged PR 5319012: Set vspath to latest vs version
  common/setVsPath.cmd
Due: none

Merged PR 5319001: Set vspath to latest vs version
  common/setVsPath.cmd
Due: none

Merged PR 5323826: [29608110]: Fix SSPI issue if auth using IP address. - WindowsProtocolTestSuites 5313340
  ProtoSDK/Common/IpUtility.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientCredential.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientSecurityContext.cs
  ProtoSDK/MS-SPNG/Client/SpngClientSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5318542: Refactor the cleanup process and catch exception from thread
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
  ProtoSDK/MS-RDPBCGR/StaticVirtualChannelManager.cs
  ProtoSDK/MS-RDPEDYC/Client/Rdpbcgr_DVCClientTransport.cs
  ProtoSDK/MS-RDPEDYC/Server/Rdpbcgr_DVCServerTransport.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Change file name
  pipelines/DotNetCore-LocalRegression.yml
Due: none

Merged PR 5313546: Use pipesinkserver to replace HtmlResultChecker
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/TestEngine/HtmlResultChecker.cs
  ProtocolTestManager/Kernel/TestEngine/Logger.cs
  ProtocolTestManager/Kernel/TestEngine/PipeSinkServer.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/ProgressBar.cs
Due: none

Merged PR 5304760: Catch exception from invoking TriggerClientDisconnectAll()
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/RdpbcgrTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUSB/RdpeusbTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEVOR/RdpevorTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 5336241: Catch exception from ThreadPool call for DTLS channel used by RDPClient
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5331110: [WSP] Replace WSP message transport by SMB2Client initiated named pipe transport.
  ProtoSDK/MS-WSP/RequestSender.cs
  ProtoSDK/MS-WSP/WSP.csproj
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCiState.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMConnect.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_CFullPropSpec.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization_Aggregate.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_RowsetProperties.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMDisconnect.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMFetchValue.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMFreeCursor.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetQueryStatus.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetQueryStatusEx.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows_FetchType.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows_SeekDescription.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMSetBindings.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspCommonTestBase.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/WspMessageHeader.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5341427: Refactor the process of loading test images in RDPClient
  TestSuites/RDP/Client/src/Adapter/PtfPropUtility.cs
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 5351964: [PTM] test not started if redirect standard output
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/ProgressBar.cs
Due: none

Add a logger for PTMCli
  ProtocolTestManager/Kernel/Common/Logger.cs
  ProtocolTestManager/Kernel/Profile/ProfileUtil.cs
  ProtocolTestManager/Kernel/StringResource.Designer.cs
  ProtocolTestManager/Kernel/StringResource.resx
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/TestEngine/TestSuiteLogManager.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteFamilies.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/Kernel/etc/TestSuiteIntro.xml
  ProtocolTestManager/PtmCli/Options.cs
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/ProgressBar.cs
Due: none

Merged PR 5359239: Add out to git ignore
  .gitignore
Due: none

Update the documents/readme accordingly
  ProtocolTestManager/Kernel/StringResource.Designer.cs
  ProtocolTestManager/Kernel/StringResource.resx
  README.md
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Merged PR 5397105: Fixes Extract-ZipFile.ps1 for 20H2 server core Kerberos DC setting
  TestSuites/Kerberos/Setup/Scripts/Extract-ZipFile.ps1
Due: none

Merged PR 5401379: rename to Integration_DotNetCore_Regression.yml
  pipelines/Integration_DotNetCore_Regression.yml
Due: none

Add missed images
  .gitignore
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure1-thumb.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure1.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure2-thumb.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure2.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure3-thumb.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure3.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure4-thumb.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/Figure4.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/CgSg.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/Eij.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/GSSIM.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/MGSSIM.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/Magij.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/GSSIM/SobelOperator.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/MSSSIM/formula.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/MSSSIM/workflow-thumb.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/MSSSIM/workflow.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq1.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq2.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq3.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq4.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq5.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq6.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq7.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/SSIM/ssim_eq8.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/mse_eq.jpg
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/Images/Resource/psnr_eq.png
Due: none

Merged PR 5402401: The value of ShareContainingSharedVHD is empty. => should be inconclusive
  TestSuites/FileServer/src/RSVD/TestSuite/RSVDTestBase.cs
  TestSuites/FileServer/src/RSVD/TestSuite/SCSIPersistentReservation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5346905: Use GetHostAddresses instead of GetHostEntry
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-SMB/Client/SmbClient.cs
  ProtoSDK/MS-SMB2/Client/Smb2ClientTransport.cs
  ProtocolTestManager/Plugins/KerberosPlugin/KerberosPlugin/ServerHelper.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/PropertyValueDetector/Common/ServerHelper.cs
  TestSuites/ADFamily/src/Adapter/MS-DRSR/DrsrHelper.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverBasic.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverExtendedTest.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNTestUtility.cs
  TestSuites/RDP/Client/src/Adapter/CommonUtility.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlListener.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove unused files and add license header
  .gitignore
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/ICodecAction.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXDecode/RFXDecodeBase.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXEncode/RFXEncodeBase.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXPDecode/RFXPDecodeBase.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXPEncode/RFXPEncodeBase.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Controllers/CodecBaseController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Controllers/HomeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Program.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Startup.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Views/Home/Index.cshtml
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/Views/Home/Privacy.cshtml
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/assets/DropzoneImages.gif
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/assets/spritemap.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/css/assets/favicon.ico
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/css/assets/icon.png
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.WebCore/wwwroot/css/dropzone.css
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
