Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Remove Nuget
  TestSuites/RDP/Tools/RDPToolSet/.nuget/NuGet.Config
  TestSuites/RDP/Tools/RDPToolSet/.nuget/NuGet.exe
  TestSuites/RDP/Tools/RDPToolSet/.nuget/NuGet.targets
Due: none

Merged PR 5373064: Sync the latest code from /RegressionRunScripts/ScriptLib folder in Helper repo
  CommonScripts/Add-DFSFolder.ps1
  CommonScripts/Create-SelfSignedCert.ps1
  CommonScripts/RestartAndRun.bat
  CommonScripts/Set-Parameter.ps1
Due: none

Merged PR 5421241: Fix: Config-ForceLevel2.ps1 failed: Unhandled exception. System.ComponentModel.Win32Exception (5): Access is denied.
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Remove useless change
  CommonScripts/Modify-ConfigFileNode.ps1
  CommonScripts/Set-Parameter.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Create-SelfSignedCertificate.sh
Due: none

Merged PR 5416830: [PTM] Check if TargetShare used FQDN when generate ServiceSaltString
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
Due: none

Merged PR 5426212: [PTM]Check if TargetShare used FQDN when generate ServiceSaltString
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
Due: none

Merged PR 5359406: Refactor RdpbcgrServer to use non-blocking IO
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

update for comments
  ProtocolTestManager/Kernel/StringResource.Designer.cs
  ProtocolTestManager/Kernel/StringResource.resx
  README.md
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Remove Newtonsoft.Json from CodecToolSet.Core as it not need
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/CodecToolSet.Core.csproj
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXEncode/RFXEncodeBase.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/RFXEncode/RFXEncodeCodecs.cs
Due: none

update RDP SUT Control Agent to net5.0
  README.md
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
  TestSuites/RDP/RDPSUTControlAgent/CSharp/build.cmd
  TestSuites/RDP/RDPSUTControlAgent/CSharp/build.ps1
  TestSuites/RDP/RDPSUTControlAgent/CSharp/build.sh
Due: none

Remove network capture from test suite since Autocapture not supported in corssplatform
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  ProtocolTestManager/ptmtestlogger/TxtToJSON.cs
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/BranchCache/src/TestSuite/BranchCache_TestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-ADFSPIP/src/TestSuite/PTFConfig/MS-ADFSPIP_ClientTestSuite.deployment.ptfconfig
  TestSuites/MS-ADOD/src/TestSuite/MS-ADOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-AZOD/src/TestSuite/MS-AZOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5440678: Revert '[PTM] test not started if redirect standard output'
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/ProgressBar.cs
Due: none

Add more error handler
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/RFXDecodeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/RFXEncodeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/RFXPDecodeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/RFXPEncodeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Startup.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Utils/ActionHelper.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/javascript.js
Due: none

Merged PR 5440570: Fixes Get-WmiObject deprecated
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
  CommonScripts/WaitFor-ComputerReady.ps1
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.sh
  TestSuites/FileServer/src/ServerFailover/Adapter/ISutControlAdapter.cs
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/DisableClusterNode.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/EnableClusterNode.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/FlushDNS.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/Get-WMIObject.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/GetClusterNodeStatus.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/GetClusterResourceOwner.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/MoveClusterResourceOwner.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/MoveSmbWitnessClient.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/RefreshNetAdapter.ps1
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNGetInterfaceList.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update according to cr comments
  ProtocolTestManager/Kernel/Common/Logger.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/TestEngine/TestSuiteLogManager.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PtmCli/Program.cs
Due: none

Commit new pipeline files for GitHub.
  pipelines/github/FileServer-GitHubPR-Regression.yml
  pipelines/github/GitHubPR-Regression.yml
Due: none

Fix variable name.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Add RDPClient and RDPServer pipeline files.
  pipelines/github/GitHubPR-Regression.yml
  pipelines/github/RDPClient-GitHubPR-Regression.yml
  pipelines/github/RDPServer-GitHubPR-Regression.yml
Due: none

Add steps to restore CSharp RDPSUTControlAgent.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Add more clear error message
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/CodecBaseController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/Controllers/RFXEncodeController.cs
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/wwwroot/js/javascript.js
Due: none

Added steps to run regression.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Clean sources before running jobs.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Fix timeout for waiting pipeline completion.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Fix a script parameter.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Handle remote authentication and info reporting.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Update password without hard code
  TestSuites/FileServer/Setup/Scripts/Create-CbacObjectsInDC.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Use lock when writing logs.
  ProtocolTestManager/Kernel/Common/Logger.cs
Due: none

Match single folder.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Refined PR trigger path filters.
  pipelines/github/FileServer-GitHubPR-Regression.yml
  pipelines/github/RDPClient-GitHubPR-Regression.yml
  pipelines/github/RDPServer-GitHubPR-Regression.yml
Due: none

Fail the build on failed tests.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Test modification.
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_Get_Volume_Data.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Verify test case in nagetive way
  TestSuites/FileServer/Setup/Scripts/Create-CbacObjectsInDC.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fix cbac script hard code password issue
  TestSuites/FileServer/Setup/Scripts/Create-CbacObjectsInDC.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5466123: Make S2_DataTransfer_ClientAckDelay inconclusive on Windows RDP
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S2_DataTransfer.cs
Due: none

Merged PR 5426491: [WSP] Fix incompatible APIs and cases for cross-platform execution.
  ProtoSDK/MS-WSP/RequestSender.cs
  ProtoSDK/MS-WSP/WSP.csproj
  TestSuites/MS-WSP/src/Adapter/IWspSutAdapter.cs
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/Adapter/SutControlAdapter/CreateFile.ps1
  TestSuites/MS-WSP/src/Adapter/SutControlAdapter/DeleteFile.ps1
  TestSuites/MS-WSP/src/Adapter/SutControlAdapter/ModifyFile.ps1
  TestSuites/MS-WSP/src/Adapter/SutControlAdapter/ModifyFileAttributes.ps1
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/Adapter/WspSutAdapter.cs
  TestSuites/MS-WSP/src/MS-WSP_Server.sln
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.ptfconfig
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_CFullPropSpec.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5445947: [WSP] Script changes for regression environment deployment.
  TestSuites/MS-WSP/Setup/Scripts/Config-Client.ps1
  TestSuites/MS-WSP/Setup/Scripts/Config-DC.ps1
  TestSuites/MS-WSP/Setup/Scripts/Config-Server.ps1
Due: none

Merged PR 5472451: Update default TLS version to 1.2 for RDPServer
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: none

Merged PR 5466249: Add the missed RDP configure.html file, fix html content display issue when generate the PTM msi
  ProtocolTestManager/Deploy/RDPServerPlugin.wxs
  ProtocolTestManager/PTMTestLogger/Resources/testcase.html
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/network.html
  ProtocolTestManager/TestCaseDiscover/TestCaseDiscover.csproj
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
