Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Investigate pipeline update
  pipelines/1es/PTFMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToVSO.yml
Due: none

Test
  pipelines/1es/PTFMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToVSO.yml
Due: none

Rename
  pipelines/1es/TestSuiteMainSynchToGitHub.yml
Due: none

Merged PR 10485350: CI/CD work
  pipelines/1es/PTFMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToVSO.yml
  pipelines/1es/TestSuiteMainSynchToGitHub.yml
Due: none

Merged PR 10497962: Add tests for FSCTL_GET_OBJECT_ID
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_GET_OBJECT_ID.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/IFSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_OBJECT_ID.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test new url
  pipelines/github/GitHubPR-Regression.yml
Due: none

More tests
  pipelines/github/GitHubPR-Regression.yml
Due: none

Update packages
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-XCA/src/TestSuite/MS-XCA_TestSuite.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update adapter packages
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPParser.csproj
  TestSuites/BranchCache/src/Adapter/Adapter.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/CommonStack.csproj
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-XCA/src/Adapter/MS-XCA_Adapter.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Update kerberos
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
Due: none

Update RDP_Client
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: none

Merged PR 10515430: Added support for logging exception stack traces in PTM Service
  ProtocolTestManager/PropertyValueDetector/Logger.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerValueDetector.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove PTF pipeline
  pipelines/1es/PTFMainSyncToGitHub.yml
Due: none

Update protoSDK
  ProtoSDK/MS-RDPEGFX/Rdpegfx.csproj
  ProtoSDK/MS-RDPRFX/Rdprfx.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Test nuget change
  pipelines/1es/DotNetCore-Build.yml
Due: none

Revert
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 10362385: Introduced instrumentation using the Event Source library.
  ProtoSDK/Asn1Base/PrimitiveTypes/Asn1Integer.cs
  ProtoSDK/Asn1Base/PrimitiveTypes/Asn1OctetString.cs
  ProtoSDK/KerberosLib/Asn1Code/Rfc4120/AP_REP.cs
  ProtoSDK/KerberosLib/Asn1Code/Rfc4120/EncryptedData.cs
  ProtoSDK/KerberosLib/Asn1Code/Rfc4120/Int32.cs
  ProtoSDK/KerberosLib/EventSources/KerberosEventSource.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/KerberosLib/Types/KerberosApResponse.cs
  ProtoSDK/README.md
  ProtoSDK/SspiLib/AccountCredential.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 10558014: Release version 4.24.4.0
  AssemblyInfo/.version
  AssemblyInfo/PTMAssemblyInfo.cs
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 10568163: Build with .NET 8
  pipelines/1es/PTMServiceCI.yml
Due: none

Merged PR 10670235: Sync to VSO from main
  pipelines/1es/TestSuiteMainSyncToVSO.yml
Due: none

Rebasing branch to resolve merge conflicts.
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
Due: none

Rebasing branch to resolve merge conflicts.
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
Due: none

Merged PR 11281009: [SECURITY] Bump @babel/traverse from 7.20.12 to 7.25.3 in /ProtocolTestManager/PTMService/PTMService/ClientApp
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
Due: none

[SECURITY] Bump Newtonsoft.Json in /ProtocolTestManager/Kernel
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/packages.config
Due: none

[SECURITY] Bump Newtonsoft.Json in /ProtocolTestManager/PtmCli
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/PtmCli/PtmCli.csproj
  ProtocolTestManager/PtmCli/packages.config
Due: none

[SECURITY] Bump Newtonsoft.Json
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Tests/CodecToolSet.Tests.csproj
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Tests/packages.config
Due: none

Add nuget.config and .npmrc file for CFS.
  .gitignore
  NuGet.config
  ProtocolTestManager/PTMService/PTMService/ClientApp/.npmrc
Due: none

Updata the build.ps1 of PTM
  ProtocolTestManager/build.ps1
Due: none

Change to local pool
  ProtocolTestManager/build.ps1
  pipelines/1es/DotNetCore-PTMCli-Build.yml
Due: none

add nuget.config to sln folder
  ProtocolTestManager/NuGet.config
Due: none

Update DotNetCore-PTMCli-Build.yml for Azure Pipelines
  pipelines/1es/DotNetCore-PTMCli-Build.yml
Due: none

Add nuget for all projects.
  TestSuites/ADFamily/src/NuGet.config
  TestSuites/BranchCache/src/NuGet.config
  TestSuites/FileServer/src/NuGet.config
  TestSuites/Kerberos/src/NuGet.config
  TestSuites/MS-ADFSPIP/src/NuGet.config
  TestSuites/MS-ADOD/src/NuGet.config
  TestSuites/MS-AZOD/src/NuGet.config
  TestSuites/MS-SMBD/src/NuGet.config
  TestSuites/MS-WSP/src/NuGet.config
  TestSuites/MS-XCA/XcaTestApp/NuGet.config
  TestSuites/MS-XCA/src/NuGet.config
  TestSuites/RDP/Client/src/NuGet.config
  TestSuites/RDP/Server/src/NuGet.config
  TestSuites/RDP/Tools/RDPToolSet/NuGet.config
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

remove other nuget and not set nuget service connection.
  ProtocolTestManager/NuGet.config
  TestSuites/ADFamily/src/NuGet.config
  TestSuites/BranchCache/src/NuGet.config
  TestSuites/FileServer/src/NuGet.config
  TestSuites/MS-ADFSPIP/src/NuGet.config
  TestSuites/MS-ADOD/src/NuGet.config
  TestSuites/MS-AZOD/src/NuGet.config
  TestSuites/MS-SMBD/src/NuGet.config
  TestSuites/MS-WSP/src/NuGet.config
  TestSuites/MS-XCA/src/NuGet.config
  TestSuites/RDP/Client/src/NuGet.config
  TestSuites/RDP/Server/src/NuGet.config
  pipelines/1es/DotNetCore-PTMCli-Build.yml
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Update DotNetCore-MSBuild-Build.yml for Azure Pipelines
  pipelines/DotNetCore-MSBuild-Build.yml
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
