Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Move SUTControlAdapter to correct group
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
Due: none

Merged PR 6854319: Test cases and TDS for FSCTL REFS STREAM SNAPSHOT OPERATION LIST, REVERT, SET SHADOWBTREE and CLEAR SHADOWBTREE
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_LIST.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_MANAGEMENT.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6879149: [FileServer] Enable AlternateDataStream cases for ReFS.
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStreamTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStream_FSCTL_GET_COMPRESSION.cs
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStream_FileInfo_Query_FileCompressionInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStream_RenameStream.cs
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStream_WriteAndRead.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

For Regression Run. Revert after running
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Edit config file for CREDSSP. Revert before merge
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Remove tab
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Remove tabs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
Due: none

Remove unused method
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
Due: none

Comment Corrections
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
Due: none

Remove similar test case
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
Due: none

Cleaning Up Config-TerminalClient
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
Due: none

Add protocol check in the test
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: none

Adjust Test Case For DirectCredSSP
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/IRdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: none

Merged PR 6700385: More test cases for ms-smb2 section 3.3.5.9.7
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandle.cs
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Comment review
  TestSuites/RDP/Client/docs/MS-RDPEUDP2_ClientTestDesignSpecification.md
Due: none

Test check ADS support.
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/IFSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/Model/BaseModel.cs
  TestSuites/FileServer/src/FSAModel/Model/IOCTL/IoCtlRequest.cord
  TestSuites/FileServer/src/FSAModel/Model/IOCTL/IoCtlRequestModel.cs
  TestSuites/FileServer/src/FSAModel/Model/LockAndUnlock/LockAndUnlockModel.cs
  TestSuites/FileServer/src/FSAModel/Model/OpenFile/OpenFile.cord
  TestSuites/FileServer/src/FSAModel/Model/QueryAndSetFileInformation/QueryAndSetFileInformation.cord
  TestSuites/FileServer/src/FSAModel/Model/QueryAndSetFileInformation/QueryAndSetFileInformationModel.cs
  TestSuites/FileServer/src/FSAModel/Model/QueryAndSetFileSystemInformation/QueryAndSetFileSystemInformation.cord
  TestSuites/FileServer/src/FSAModel/Model/QueryAndSetFileSystemInformation/QueryAndSetFileSystemInformationModel.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/IoCtlRequestTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/QueryFileSystemInformationTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/SetFileRenameInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Change to Initialisation Scripts
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: none

adjust script
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
Due: none

Add test cases only request for oplock lease level
  TestSuites/FileServer/src/SMB2/TestSuite/OpLock/OpLock.cs
  TestSuites/FileServer/src/SMB2/TestSuite/ResilientHandle/ResilientHandle.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Unify suffix of the test cases.
  TestSuites/FileServer/src/SMB2/TestSuite/ResilientHandle/ResilientHandle.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6950300: Revert 'More test cases for ms-smb2 section 3.3.5.9.7'
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandle.cs
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6888852: Add auto-reconnect and xfreerdp support for java and python of RDPSUTControlAgent.
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerSessionContext.cs
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/ParamConfig.xml
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/Java/freerdp.config
  TestSuites/RDP/RDPSUTControlAgent/Java/src/main/java/rdpsutcontrol/agent/SUTControl.java
  TestSuites/RDP/RDPSUTControlAgent/Python/RDPSUTControlAgent.py
  TestSuites/RDP/RDPSUTControlAgent/Python/settings.ini
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Changes to Authenticate Method
  ProtoSDK/MS-CSSP/Server/CsspServerStream.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6961870: [FileServer] Prevent break notifications to be consumed more than one times.
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/SMB2LeasingTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add exception catch to adapter
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
Due: none

Add TDS for FileServer Query FileName Expression
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Add Technical Design Specification
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Add No Options Packet Test Case
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Add Test Case for ACKVec and ACK flags
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Add dummy payload
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 6973366: Fixes TaskHistory.tsx PTM Service Accessibility
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
Due: none

Merged PR 6978591: Fixes contrast Accessibility bugs in PTM Service.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/Management.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
Due: none

Add Five Seconds Delay for 12R2 Windows OS
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 6978943: Fix wrong TestDesignSpec name
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Test case for lost packet
  ProtoSDK/MS-RDPEUDP2/Rdpeudp2ProtocolHandler.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Byte Correction
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Correct Dictionary Data
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Check ACKVEC values
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Assert value
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Try 2 missing packets
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/S3_DataTransfer_V2.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
