Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

Merged PR 5019327: [Azure] ADFamily_20H1 APDS Fail
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioAddAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-APDS/S01_APDS_NTMLLogonCommonValidation.cs
Due: none

Merged PR 5028080: Implement ReqConfigurableSite based on DispatchProxy
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/ReqConfigurableSite.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Fixes 5 files not pass CheckLicenseHeader.ps1
  CommonScripts/domainjoin.PS1
  TestSuites/ADFamily/Setup/Scripts/Config-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-ENDPOINT.ps1
  TestSuites/Kerberos/Setup/Scripts/Configure-UsersAndComputers.ps1
  TestSuites/MS-ADFSPIP/Setup/Scripts/Config-PROXY.PS1
Due: none

Merged PR 5015508: Remove API dependency
  ProtoSDK/Common/Common.csproj
  ProtoSDK/Common/DtypSecurityStructures.cs
  ProtoSDK/Common/DtypUtility.cs
  TestSuites/ADFamily/src/build.cmd
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/ServerLocalTestRun.testrunconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5032406: new ptmtestlogger
  ptmtestlogger/DataType.cs
  ptmtestlogger/PTMTestLogger.cs
  ptmtestlogger/PTMTestLogger.csproj
  ptmtestlogger/Properties/Resources.Designer.cs
  ptmtestlogger/Properties/Resources.resx
  ptmtestlogger/Resources/functions.js
  ptmtestlogger/Resources/index.html
  ptmtestlogger/Resources/testcase.html
  ptmtestlogger/TxtToJSON.cs
Due: none

Merged PR 5037789: [WSP Enhancement] Fix WSP package and failed cases.
  ProtocolTestManager/Plugins/WSPPlugin/WSPPlugin.sln
  ProtocolTestManager/Plugins/WSPPlugin/WSPPlugin/WSPDetector.cs
  ProtocolTestManager/Plugins/WSPPlugin/WSPPlugin/WSPPlugin.csproj
  TestSuites/MS-WSP/src/Deploy/TestSuiteCommonFiles.wxs
  TestSuites/MS-WSP/src/Deploy/TestSuiteMiscFiles.wxs
  TestSuites/MS-WSP/src/Deploy/TestSuiteProduct.wxs
  TestSuites/MS-WSP/src/Deploy/deploy.wixproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Merged PR 5042791: Add spng to PTM deploy
  ProtocolTestManager/Deploy/ProtoSDK.wxs
Due: none

Merged PR 5043562: Build scripts for TestSuites
  TestSuites/FileServer/src/build.cmd
  TestSuites/FileServer/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Replace timer by Task
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/MultipleChannel/MultipleChannelWithLeasing.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverWithLeasing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

The aggregation exception should not be caught.
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5056750: Build scripts for MS-SMBD
  TestSuites/MS-SMBD/src/build.cmd
  TestSuites/MS-SMBD/src/build.ps1
  common/setBuildTool.cmd
  common/setBuildTool.ps1
Due: none

Fix three directory lease cases
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5056706: Change .net core FileServer PTF version from 2.0.0-beta to 2.0.0
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSAModel/Model/MS-FSAModel_ServerModel.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/Adapter/MS-SMB2Model_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2Model/Model/MS-SMB2Model_ServerModel.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5056760: refactor the api
  ProtoSDK/Common/DtypSecurityStructures.cs
  ProtoSDK/Common/DtypUtility.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5066684: [28562953]: Fix KerberosAuthentication case can't run on non-joined domain driver(win/Linux)
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5056788: Add ps1 batch for FileServer and SMBD
  TestSuites/FileServer/src/Batch/RunAllTestCases.ps1
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.ps1
  TestSuites/MS-SMBD/src/Batch/RunAllTestCases.ps1
  TestSuites/MS-SMBD/src/Batch/RunTestCasesByFilter.ps1
  common/RunTestCasesByBinariesAndFilter.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5071334: add missing assembly info for file Server
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/SMB2/Adapter/MS-SMB2_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5071298: [FileServer] Fix KerbAuth_UserName_With_Special_Characters failures.
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
  TestSuites/FileServer/src/Auth/TestSuite/AuthTestConfig.cs
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5071825: copy common scripts for ms-smbd
  TestSuites/MS-SMBD/src/build.ps1
Due: none

Merged PR 5071638: Remove windows dependency for FSA model
  ProtoSDK/Common/DtypSecurityStructures.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5072023: Enlarge the default timeout value
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5067698: [28570286]: Relpace DirectoryService in AuthorizationTestBase to let it case can run in NonWindows platform
  ProtoSDK/Common/LdapExtensions.cs
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/AuthorizationTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5072341: FileServer build script - copy Data to bin
  TestSuites/FileServer/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5076834: Apply for the release version of PTF
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/BKUPParser/BKUPParser.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/BranchCache/src/Adapter/Adapter.csproj
  TestSuites/BranchCache/src/COMMON/CommonStack/CommonStack.csproj
  TestSuites/BranchCache/src/TestSuite/TestSuite.csproj
  TestSuites/Kerberos/src/Adapter/Kerberos_ServerAdapter.csproj
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
  TestSuites/MS-SMB/src/Adapter/MS-SMB_ServerAdapter.csproj
  TestSuites/MS-SMB/src/Model/MS-SMB_ServerModel.csproj
  TestSuites/MS-SMB/src/TestSuite/MS-SMB_ServerTestSuite.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: none

Update staging to main in md files
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.docx
  TestSuites/BranchCache/docs/BranchCache_UserGuide.md
  TestSuites/FileServer/docs/FileServerUserGuide.md
  TestSuites/Kerberos/docs/Kerberos_ServerUserGuide.md
  TestSuites/MS-ADFSPIP/Docs/MS-ADFSPIP_ClientUserGuide.md
  TestSuites/MS-ADOD/Docs/MS-ADOD_ODUserGuide.md
  TestSuites/MS-SMB/docs/MS-SMB_ServerUserGuide.md
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerUserGuide.md
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
Due: none

Fix RSVD failure
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/RSVD/TestSuite/RSVDTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Use Path.GetFileName to get the pure file name
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5084532: Add assembly info for product name
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
  ProtoSDK/RDMA/Rdma.rc
  TestSuites/ADFamily/src/MS-FRS2/FRS2Stubs/IMS_FRS2_RpcAdapter_RpcStubs.rc
  TestSuites/ADFamily/src/RpcStubs/MS-DRSR/IMS_DRSR_RpcAdapter_RpcStubs.rc
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Fix DFSC failures.
  TestSuites/FileServer/src/DFSC/TestSuite/DCReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/DFSCTestConfig.cs
  TestSuites/FileServer/src/DFSC/TestSuite/SysvolReferralToDC.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5084149: Add sh batch for FileServer
  TestSuites/FileServer/src/Batch/RunAllTestCases.sh
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.sh
  common/RunTestCasesByBinariesAndFilter.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5084442: Add support to specify dotnet core test suite location
  ProtoSDK/RDMA/Rdma.vcxproj
  ProtocolTestManager/Deploy/Product.wxs
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/TestSuiteIntro/CustomizedTestSuiteConfiguration.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteFamilies.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteInfo.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml.cs
  ProtocolTestManager/UI/MainWindow.xaml.cs
  ProtocolTestManager/UI/StringResources.Designer.cs
  ProtocolTestManager/UI/StringResources.resx
  ProtocolTestManager/UI/TestSuiteWindow.xaml.cs
  ProtocolTestManager/UI/UI.csproj
  ProtocolTestManager/UI/customized.json
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5089195: Update build.ps1 for fileserver
  TestSuites/FileServer/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5088746: Update ptf configuration to add the domain name to the computer name
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5094071: File Server ShareUtil.exe path in script
  TestSuites/FileServer/Setup/Scripts/Config-ForceLevel2.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5094164: Remove unused binaries in sh batch
  TestSuites/FileServer/src/Batch/RunTestCasesByFilter.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 5094877: update staging to main for smb2 pdf
  Doc/File Server SMB2 Test Suite Lab Tutorial_v2.pdf
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
