Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Merged PR 5770515: Update PTM GUI of test suite version to remove .net framework feature and update pft parameters
  ProtocolTestManager/Deploy/RDPClientPlugin.wxs
  ProtocolTestManager/Deploy/RDPServerPlugin.wxs
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/TestEngine/HtmlResultChecker.cs
  ProtocolTestManager/Kernel/TestEngine/Logger.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngineCore.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngineFramework.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteFamilies.cs
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteInfo.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Docs/domain_setupSUT.html
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Docs/workgroup_setupSUT.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/network.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPClientPlugin.csproj
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPValueDetector.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/network.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/RDPServerPlugin.csproj
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml
  ProtocolTestManager/UI/CustomizeTestSuiteWindow.xaml.cs
  ProtocolTestManager/UI/TestSuiteIntro.xml
Due: none

Merged PR 5798529: [PTM] Create the configure test cases view
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/PropertyGroupsActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/PropertyGroupView.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/Property.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/PropertyGroup.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/PropertyGroupsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/PropertyGroups.ts
Due: none

Merged PR 5838723: Add configure adapter page
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/ConfigureAdapterAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestSuiteConfigurationAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/StackStyle.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/StepPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TestSuiteInfo.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/configureAdapter.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/index.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/testsuiteinfo.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/Adapter.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/Configuration.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureAdapter.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureMethod.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/SelectConfiguration.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/ConfigureAdapterReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/PropertyGroupsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestSuiteConfigurationReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/ConfigureAdapter.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/PropertyGroups.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/index.ts
Due: none

Using Platform instead of String
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5843645: [WSP] Update PTF version to 2.2.0.
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
Due: none

Refactoring FiletimeToLong method
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactoring
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revert "Refactoring"
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactoring
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Refactoring code
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBothDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullDirectoryInformation_CreationTime.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileIdGlobalTxDirectoryInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding FSBO comment
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5832604: Implement the test result controller
  ProtocolTestManager/Common/StandardOutDetail.cs
  ProtocolTestManager/Common/TestCaseDetail.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestRun.cs
  ProtocolTestManager/PTMService/Common/Entities/TestResult.cs
  ProtocolTestManager/PTMService/Common/Types/TestCaseOverview.cs
  ProtocolTestManager/PTMService/Common/Types/TestCaseResult.cs
  ProtocolTestManager/PTMService/Common/Types/TestCaseState.cs
  ProtocolTestManager/PTMService/Common/Types/TestResultOverview.cs
  ProtocolTestManager/PTMService/Common/Types/TestResultState.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteConfigurationController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

Merged PR 5793327: [PTM] Create the filter test case view
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/FilterTestCaseAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/RuleListPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/fabric-icons-0-7bf4f0ea.woff
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/home.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/RuleGroup.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestSuiteFilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Configurations.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
Due: none

Merged PR 5843293: Fixes SMBCompression tests for enabling IsGlobalEncryptDataEnabled
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTestForChained.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5852141: Add test cases for access time and write time.
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Reverting FileInfo_Set_FileBasicInformation_File_MinusTwoSupported
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Reverting CommonAlgorithm_NotingFileModified_File_LastAccessTime
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding OS_MinusTwo_NotSupported enum in base utility
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixing regression failure
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update home page and wizard style
  ProtocolTestManager/PTMService/PTMService/ClientApp/public/images/TS_History.png
  ProtocolTestManager/PTMService/PTMService/ClientApp/public/images/TS_Run.png
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/ConfigureMethodAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/home.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureAdapter.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureMethod.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/ConfigureMethodReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
Due: none

update step font weight
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
Due: none

update step color
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/WizardNavBar.tsx
Due: none

remove unused styles
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/StepPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/configureAdapter.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
Due: none

Merged PR 5856888: [PTM] Suppress exceptions when profile is not configured.
  ProtocolTestManager/Kernel/TestSuiteIntro/TestSuiteFamilies.cs
Due: none

Add negative case
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileBasicInformation_CreationTime.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding CreationTime negative test case for value less than -2
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Adding TDS for CreationTime
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Correcting TDS texts
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

update logic for filter test cases
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/FilterTestCaseAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/RuleListPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/home.css
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestCase.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestSuiteFilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Configurations.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

update style
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
Due: none

Add Missing Test Categories
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_BackSlash.cs
  TestSuites/FileServer/src/FSA/TestSuite/Leasing/CompareLeaseKeys.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update TDS
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

update PR to add missing test categories
  TestSuites/FileServer/src/FSA/TestSuite/CreateFile/CreateFile_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Preparing for rebase
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding OS_MinusTwo enum in test case base
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfoTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Separating the postive test case into independent timestamp test case
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Reodering test case list
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

update styles
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/RuleListPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/TreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/css/home.css
Due: none

Merged PR 5862506: replace Thread.Abort as its deprecated.
  ProtoSDK/MS-RPCE/Client/RpceClientTransport.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

TDS Update for NotingFileModified and Set_FileBasicInformation
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
