Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

Merged PR 5915324: [20746892]: [PTM][RDPClient] Add a basic rule for rule group "Enable Supported Feature" and also a similar rule for rule group "Specfic Requirement"
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/config.xml
Due: none

Merged PR 6033267: [FileServer] Fix SMB2_NETNAME_NEGOTIATE_CONTEXT_ID data length.
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6016442: [PTMService] Support test report export.
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestRun.cs
  ProtocolTestManager/PTMService/Common/Types/ReportFormat.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestRun.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestResultsActions.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestResult.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestResultsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestResults.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/index.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
  ProtocolTestManager/PTMService/PTMService/Scripts/install.ps1
  ProtocolTestManager/PTMService/Storage/StorageNode.cs
Due: none

Merged PR 6063320: Add large file SMB2 Compression test cases
  ProtoSDK/MS-SMB2/Common/Smb2Compression.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTestForChained.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6063333: Update SMB2Compression large file test design specification doc
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Log resource name for test.
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverBasic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6058678: Update test data for AVC444v2
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/H264TestData/RDPEGFX_H264Codec_PositiveTest_AVC444v2.xml
Due: none

Merged PR 6025391: Add WMF 5.1 PSCore remoting for 2012R2 in readme
  README.md
Due: none

Modify the resourceName comparison method.
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverBasic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Include TDS for AES-256-GCM and AES-256-CCM
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

Merged PR 6062753: Add tests for AES-256-CCM and AES-256-GCM
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/Encryption/Encryption.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5968115: [PTMService] Add save and load profile
  ProtocolTestManager/PTMService/Abstractions/Abstractions.csproj
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Storage/IStorageNode.cs
  ProtocolTestManager/PTMService/Common/Common.csproj
  ProtocolTestManager/PTMService/Common/Profile/ProfileExportRequest.cs
  ProtocolTestManager/PTMService/Common/Profile/ProfileInfo.cs
  ProtocolTestManager/PTMService/Common/Profile/ProfileRequest.cs
  ProtocolTestManager/PTMService/Common/Profile/ProfileUtil.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMService_ProfileSetup.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/ConfigureMethodAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/ProfileExportRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/ProfileUploadRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureMethod.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/ConfigureMethodReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/ProfileService.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/index.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
  ProtocolTestManager/PTMService/Storage/StorageNode.cs
Due: none

Add RDP 10.8 clients in order to fix regression run failure in Windows Server 2022
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Add RDP 10.9 to TS_UD_SC_CORE_version_Values
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update Type.cs file
  ProtoSDK/MS-RDPBCGR/Types.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6121326: Fixes BVT_SWN_CheckProtocolVersion and FileServerFailover_FileLeasing randomly fails
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/DisableClusterNode.ps1
  TestSuites/FileServer/src/ServerFailover/Adapter/WindowsSutControlAdapter/EnableClusterNode.ps1
  TestSuites/FileServer/src/ServerFailover/TestSuite/SWN/SWNGetInterfaceList.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6059057: RDPClient Plugin
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPBCGRCapSet.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/SUTControlMessageExRDP.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/SUTControlMessge.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/TCPSUTControlTransport.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/arrow_right.png
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/configure.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/domain.png
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/index.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/network.html
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/note.png
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Docs/workgroup.png
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTControlAdapter/Check-PSRemoting.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTControlAdapter/RDPConnectWithNegotiationApproach.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTControlAdapter/TriggerClientDisconnectAll.ps1
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTSummary.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/ShellSUTControlAdapter/RDPConnectWithNegotiationApproach.sh
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/ShellSUTControlAdapter/TriggerClientDisconnectAll.sh
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Types.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/config.xml
Due: none

Merged PR 6185385: Inconclusive failed DFSC cases for workgroup environment
  TestSuites/FileServer/src/DFSC/TestSuite/DCReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/DFSCTestBase.cs
  TestSuites/FileServer/src/DFSC/TestSuite/DomainReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/RootAndLinkReferralToDFSServer.cs
  TestSuites/FileServer/src/DFSC/TestSuite/RootReferralToDC.cs
  TestSuites/FileServer/src/DFSC/TestSuite/SysvolReferralToDC.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Increased timeout
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6181232: [Task 33872182]: Update code alignment to protocol and update required check according to flags
  ProtoSDK/MS-NLMP/Client/NlmpClient.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientCredential.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6181225: [Task 33872182]: update NTLM according to TD and check required field according to the flags
  ProtoSDK/MS-NLMP/Client/NlmpClient.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6161263: [WSP] Update WSP user guide.
  TestSuites/MS-WSP/docs/MS-WSP_TestSuiteUserGuide.docx
  TestSuites/MS-WSP/docs/MS-WSP_TestSuiteUserGuide.md
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image1.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image2.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image3.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image4.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image5.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image6.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image7.png
  TestSuites/MS-WSP/docs/image/MS-WSP_TestSuiteUserGuide/image8.png
Due: none

Merged PR 6177074: [DSFC] Modify DFS target path comparison logic.
  TestSuites/FileServer/src/DFSC/TestSuite/DFSCTestUtility.cs
  TestSuites/FileServer/src/DFSC/TestSuite/RootAndLinkReferralToDFSServer.cs
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverBasic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6181131: PTMService Auto Detection Service
  ProtocolTestManager/PTMService/Abstractions/Abstractions.csproj
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/Common/Types/DetectionOutcome.cs
  ProtocolTestManager/PTMService/Common/Types/DetectionStatus.cs
  ProtocolTestManager/PTMService/Common/Types/PrerequisiteView.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/Detector.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Merged PR 6194301: Add dot directory name cases for CreateClose
  TestSuites/FileServer/src/Common/TestSuite/CommonTypes.cs
  TestSuites/FileServer/src/SMB2/TestSuite/CreateClose/CreateClose.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

1
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6205158: Update FileServer doc for CreateClose with dot directory name cases
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

1
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Common/Types/PrerequisiteView.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMService.sln
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

1
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/Detector.cs
Due: none

Merged PR 6213693: [FileServer]Add Smb2CreateContextResponse null checking for RequestLease
  TestSuites/FileServer/src/SMB2Model/Adapter/MixedOplockLease/MixedOplockLeaseAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6218932: Task 34046528: Fix Kerberos authentication failed issue
  ProtoSDK/Asn1Base/PrimitiveTypes/Asn1Integer.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6218889: [34046684]: [PTMService]: Filter out test case by selected rule on "Run Selected Test Case" step
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/PTMService/PTMService.sln
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestCase.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
Due: none

Merged PR 6190338: Fix Case BVT_VSSOperateShadowCopySet_ClusterSharePath_OwnerNode
  TestSuites/FileServer/src/ServerFailover/TestSuite/FSRVP/VSSOperateShadowCopySet.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6218572: [PTMService] Update code and scripts to unify storage configuration.
  ProtocolTestManager/PTMService/PTMService/Scripts/install.ps1
  ProtocolTestManager/PTMService/PTMService/Scripts/uninstall.ps1
  ProtocolTestManager/PTMService/PTMService/Startup.cs
  ProtocolTestManager/PTMService/PTMService/appsettings.json
Due: none

enable auto detect button
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureMethod.tsx
Due: none

enable auto detect nav
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
Due: none

1
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
Due: none

Merged PR 6218937: Task 34046528: Fix Kerberos authentication failed issue
  ProtoSDK/Asn1Base/PrimitiveTypes/Asn1Integer.cs
  ProtoSDK/Common/IpUtility.cs
  ProtoSDK/KerberosLib/KerberosContext.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/MS-NLMP/Client/NlmpClientCredential.cs
  ProtoSDK/MS-SPNG/Client/SpngClientSecurityContext.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  ProtoSDK/SspiService/SspiService.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml
