Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs

Replace SecurityIdentifier with SID in Common SDK
  ProtoSDK/MS-ADTS-LDAP/AdtsLdap/AdtsLdapBlobs.cs
  ProtoSDK/MS-ADTS-LDAP/AdtsLdap/AdtsLdapUtility.cs
  ProtoSDK/MS-DRSR/Client/DrsuapiClient.cs
  ProtoSDK/MS-SMB2/Smb2Utility.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1760: Move DC name to common ptfconfig file
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Common/TestSuite/CommonTypes.cs
  TestSuites/FileServer/src/DFSC/TestSuite/DFSCTestConfig.cs
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 1808: [RDPClient] Update scripts to enable regression run for compression
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
Due: none

Merged PR 1879: [FileServer] Retry to wait until the ADWS can respond to PowerShell commands correctly
  TestSuites/FileServer/Setup/Scripts/Create-TestAccount.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add test cases regarding _ulType
  ProtoSDK/MS-WSP/Structures/CPropertyRestriction.cs
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Refine comments.
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Merged PR 4863735: [WSP Enhancement] Add test cases for ColumnSet
  ProtoSDK/MS-WSP/DataTypes.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Update according to cr comments.
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Add a negative case for CPMCreateQuery
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
Due: none

Merged PR 4864420: Set current directory before running SMBD test cases
  TestSuites/MS-SMBD/src/Batch/RunAllTestCases.cmd
  TestSuites/MS-SMBD/src/Batch/RunBVTTestCases.cmd
Due: none

Merged PR 4874427: Fix underscore in PTM configure screen
  ProtocolTestManager/UI/ConfigPage.xaml.cs
Due: none

TestSuite/RDP/Client: Migrate to netcoreapp 3.1
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/RdpeiSUTControlAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/RdpbcgrTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEVOR/RdpevorTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Remove XrtRuntime-Adapt
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/Adapter/AdLdapClient.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/IAD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/ServerRoleCaptureCode.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Consistency.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/ConstructedAttributes.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Diagnostics.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainController.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainControllerAdd.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainControllerLoadSchema.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainControllerSearch.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Object.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Replica.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Syntax.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Security/MessageStructures.cs
  TestSuites/ADFamily/src/Adapter/MS-LSAD/AccountObjects.cs
  TestSuites/ADFamily/src/Adapter/MS-LSAD/ILSADManagedAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-LSAT/ILsatAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-LSAT/LsatAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-NRPC/IMS-NRPC_ServerAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-NRPC/MS-NRPC_ServerAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-SAMR/SAMRAdapter/ISAMRProtocolAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-SAMR/SAMRAdapter/SAMRProtocolAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/IFRS2ManagedAdapter.cs
Due: none

Merged PR 4864699: [WSP Enhancement] Add test cases for querying properties with multiple CFullPropSpec.
  ProtoSDK/MS-WSP/WspConsts.cs
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/attr1.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/attr2.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/attr3.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/contact1.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/contact2.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/contact3.contact
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/document1.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/document2.ppt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/document3.xls
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/img1.bmp
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/img2.jpg
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/img3.bmp
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/music1.m4a
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/music2.mp3
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/music3.mp3
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/video1.mp4
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/video2.mp4
  TestSuites/MS-WSP/Setup/Data/CreateQuery_CFullPropSpec/video3.mp4
  TestSuites/MS-WSP/src/Adapter/IWSPSUTAdapter.cs
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/SUTControlAdapter/CreateFile.ps1
  TestSuites/MS-WSP/src/Adapter/SUTControlAdapter/DeleteFile.ps1
  TestSuites/MS-WSP/src/Adapter/SUTControlAdapter/Get-RemoteSystemDrive.ps1
  TestSuites/MS-WSP/src/Adapter/SUTControlAdapter/ModifyFileAttributes.ps1
  TestSuites/MS-WSP/src/Adapter/SUTControlAdapter/WSPRemoteExecute-Command.ps1
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/ServerLocalTestRun.testrunconfig
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_CFullPropSpec.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Update MSTest to 2.1.0
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: none

Fail the case inconclusive when OS is 2012R2 and file system is REFS.
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_QUERY_FILE_REGIONS.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

remove xrt time in frs2
  TestSuites/ADFamily/src/MS-FRS2/Adapter/FRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/IFRS2ManagedAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/IFRS2ServerControllerAdapter.cs
  TestSuites/ADFamily/src/MS-FRS2/Adapter/MS-FRS2_ServerAdapter.csproj
Due: none

update for comments
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/ServerRoleCaptureCode.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioAddAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioCrossDomainMoveModifyDNWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDeleteWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioExtendedControlsSearch1Win2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioExtendedControlsSearch2Win2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioExtendedControlsSearch3Win2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioExtendedControlsSearch4Win2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioIntraDomainModifyDNWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyFunctionalLevelWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioQueryRootDSE_AD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioQueryRootDSE_AD_LDSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioSearchAD_LDSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-Schema/ConsistencyRules.cs
Due: none

Merged PR 4864412: Add multi-fragment support to Rdpbcgr
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientContext.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Types.cs
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RDPBCGROutput.cs
  TestSuites/RDP/Client/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDPRFX/RdprfxAdapter.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Updated README.md
  README.md
Due: none

Fix a typo.
  README.md
Due: none

update for comments
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/IAD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/Deploy/deploy.wixproj
Due: none

update IList
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDefunctWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDefunctWin2K8R2FnLevel2K3.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioDynamicWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyAD_DSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyAD_LDSWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioModifyFunctionalLevelWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioRootDSEModifyWin2K8R2.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TraditionalcaseWin2K8R2.cs
Due: none

FIX BUILD issue
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TraditionalcaseWin2K8R2.cs
Due: none

update Dictionary to IDictionary
  .gitignore
  TestSuites/ADFamily/src/Adapter/AdLdapClient.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-LDAP/AD_LDAPModelAdapter.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/ConstructedAttributes.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainController.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainControllerLoadSchema.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/DomainControllerSearch.cs
  TestSuites/ADFamily/src/Adapter/MS-ADTS-Schema/Model/Object.cs
  TestSuites/ADFamily/src/Adapter/MS-SAMR/SAMRAdapter/ServerRoleCaptureCode.cs
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-Schema/MS-ADTS-Schema_ServerTestSuite.cs
Due: none

Merged PR 4898269: Fix RDPClient connect issue
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 4879371: Retry to modify the target information to avoid unsynchronized targets due to network latency
  TestSuites/ADFamily/src/TestSuite/MS-ADTS-LDAP/Win2K8R2/TestScenarioRootDSEModifyWin2K8R2.cs
Due: none

Merged PR 4916444: [FileServer][FSA] Only use one ptfconfig for the two FSA projects
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Merged PR 4879514: Add compression test cases for SMB2 chained compression feature
  ProtoSDK/MS-SMB2/Common/Smb2Compression.cs
  ProtoSDK/MS-SMB2/Common/Smb2CompressionForChained.cs
  ProtoSDK/MS-SMB2/Common/Smb2CompressionInfo.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  ProtoSDK/MS-SMB2/Packets/Smb2ChainedCompressedPacket.cs
  ProtoSDK/MS-SMB2/Packets/Smb2CompressedPacket.cs
  ProtoSDK/MS-SMB2/Packets/Smb2NonChainedCompressedPacket.cs
  ProtoSDK/MS-SMB2/Smb2.csproj
  ProtoSDK/MS-SMB2/Smb2Decoder.cs
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTestForChained.cs
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Add new cases for aggregation.
  ProtoSDK/MS-WSP/Messages/CPMGetRowsOut.cs
  ProtoSDK/MS-WSP/Structures/CAggregSet.cs
  ProtoSDK/MS-WSP/Structures/CAggregSpec.cs
  ProtoSDK/MS-WSP/Structures/CCategSpec.cs
  ProtoSDK/MS-WSP/Structures/CColumnSet.cs
  ProtoSDK/MS-WSP/Structures/CInGroupSortAggregSets.cs
  ProtoSDK/MS-WSP/Structures/CRangeCategSpec.cs
  ProtoSDK/MS-WSP/Structures/CSortAggregSet.cs
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization_Aggregate.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 4904560: [WSP Enhancement] Add Categorization related test cases for generic grouping scenarios.
  ProtoSDK/MS-WSP/Client/WspClient.cs
  ProtoSDK/MS-WSP/Structures/CCategSpec.cs
  ProtoSDK/MS-WSP/Structures/CInGroupSortAggregSets.cs
  ProtoSDK/MS-WSP/Structures/CRangeCategSpec.cs
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/AAA/abc1.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/AAA/cda1.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/AAA/kkk1.ppt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/BBB/abc2.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/BBB/cda2.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/BBB/mmm2.xls
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/BBB/rst2.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/EEE/abc3.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/EEE/rst3.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/EEE/ttt3.doc
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/SSS/ggg4.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/abc0.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/cda0.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/kkk0.ppt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/mmm0.xls
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/rst0.txt
  TestSuites/MS-WSP/Setup/Data/CreateQuery_Categorization/ttt0.doc
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/Adapter/WspAdapter.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Updated after wspadapter is changed.
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMCreateQuery_Categorization_Aggregate.cs
Due: none

Set RDPBCGR server socket to reuse the local address
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 4888927: [WSP Enhancement] Add test cases for CPMGetRows scenario
  ProtoSDK/MS-WSP/Client/WspClient.cs
  ProtoSDK/MS-WSP/DataTypes.cs
  ProtoSDK/MS-WSP/Messages/CPMGetRowsIn.cs
  ProtoSDK/MS-WSP/Messages/CPMGetRowsOut.cs
  TestSuites/MS-WSP/src/Adapter/MessageBuilder.cs
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows_FetchType.cs
  TestSuites/MS-WSP/src/TestSuite/TraditionalCases/CPMGetRows_SeekDescription.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Add a managed protocol adapter to Create/Delete directory, Create/Delete file.
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/ISutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CheckIfShareIsAvailable.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CopyFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteFile.ps1
  TestSuites/FileServer/src/Common/TestSuite/CommonTestBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/AppInstanceId/AppInstanceIdWithLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

fix typo
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml

Update license header.
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CheckIfShareIsAvailable.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CopyFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/CreateFile.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteDirectory.ps1
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter/DeleteFile.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml
