Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

Add pointer attribute check
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_Sequences.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Remove thread sleep
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add Cursor Base Size for Server 2022 Support
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Correct Pointer Enlargment For 2022 Server
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Add pointer movement to Control Adapter
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/PointerManager.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Changes For Large Pointer Caps
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClientDecoder.cs
  ProtoSDK/MS-RDPBCGR/ConstValue.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter.cs
  TestSuites/RDP/Server/src/Adapter/RDPBCGR/RdpbcgrAdapter_Sequences.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 7362918: Fixes CredentialManagerAddInvalidAccount and CredentialManagerReverseInvalidAccount in RDPClient.
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Merged PR 7362252: [FileServer] No throw on non-Windows envs during disposing RPC client.
  ProtoSDK/MS-RPCE/Stub/RpceBindOnlyServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

up to net 6
  ProtocolTestManager/DiscoveryTestLogger/DiscoveryTestLogger.csproj
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/PTMService/Abstractions/Abstractions.csproj
  ProtocolTestManager/PTMService/Common/Common.csproj
  ProtocolTestManager/PTMService/Database/Database.csproj
  ProtocolTestManager/PTMService/DatabaseMigration/DatabaseMigration.csproj
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService.csproj
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/Storage/Storage.csproj
  ProtocolTestManager/PTMService/UnitTest/Database/DatabaseTest.cs
  ProtocolTestManager/PTMService/UnitTest/UnitTest.csproj
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  ProtocolTestManager/PtmCli/PtmCli.csproj
  ProtocolTestManager/ptmtestlogger/PTMTestLogger.csproj
Due: none

Merged PR 7406378: [WSP] Upgrade to .NET 6.
  ProtoSDK/MS-WSP/Wsp.csproj
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/Plugin/WSPServerPlugin/WSPServerPlugin.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 7406634: [PR Validation] Fix license checker.
  CommonScripts/CheckLicenseHeader.ps1
Due: none

Merged PR 7406974: [FileServer] Auto reset ChangeNotify notification event after set.
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revert "Merged PR 7083626: add tests for ReFS integrity-related control codes
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-FSCC/Messages/FsccFsctlSetIntegrityInformationExRequestPacket.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION_EX.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7396966: [FileServer] Modified some checks when GlobalEncryptData is enabled.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/Smb2TransportAdapter.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTestForChained.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTestForUnchained.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
Due: none

upgrade version to 4.22.6.0
  AssemblyInfo/.version
  AssemblyInfo/PTMAssemblyInfo.cs
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 7437399: [FileServer] Fix vNext-Preview test bugs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Query_FileFullEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileFullEaInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileSystemInformation/FsInfo_Query_FileFsAttributeInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_QUERY_FILE_REGIONS.cs
  TestSuites/FileServer/src/FSRVP/TestSuite/VSSAbortShadowCopySet.cs
  TestSuites/FileServer/src/FSRVP/TestSuite/VSSOperateShadowCopySet.cs
  TestSuites/FileServer/src/FSRVP/TestSuite/VSSSetContext.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Detector/FSDetector.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Information.cs
  TestSuites/FileServer/src/SMB2/TestSuite/IOCTL/EnumerateSnapshots.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
  TestSuites/FileServer/src/SMB2/TestSuite/SMB2TestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7443436: Check NRPC support early
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

SIS not supported in all regression envs.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/IFSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

The flgas are ingored in SMB2 protocol.
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix status.
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix.
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix the case.
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove workaround and add an assertion.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

FileNamePattern is not check. And remove other workarounds.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/QueryDirectoryTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix self-conflicting cases.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/QueryFileInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix some QueryFileInformationTestCase.
  TestSuites/FileServer/src/FSAModel/TestSuite/QueryFileInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Ignore test cases query directory on non-directory files.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/QueryDirectoryTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Server will return STATUS_BUFFER_TOO_SMALL when the buffer smaller then 1 security descriptor.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/QuerySecurityInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix unbuffered read neg case.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/ReadFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

ACCESS_VIOLATION is not a valid status code.
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/SMB2_TDIWorkaround.cs
  TestSuites/FileServer/src/FSA/Adapter/SMB_TDIWorkaround.cs
  TestSuites/FileServer/src/FSAModel/Model/OpenFile/OpenFile.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/OpenFileTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix FullEA cases.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

FileName is Unicode seq.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test if data file.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/SetFilePositionInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revert "Test if data file."
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/SetFilePositionInformationTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml
