Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs

Merged PR 5472311: [RDPClient] Add TriggerInputEvents.ps1 to simulate user input events.
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Client/Setup/Scripts/MaximizeMstsc.ps1
  TestSuites/RDP/Client/Setup/Scripts/TriggerInputEvents.ps1
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S4_SlowPathInputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S5_FastPathInputTest.cs
Due: none

Merged PR 5476615: Fixes rdp inconclusive exception
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
Due: none

Merged PR 5446055: Enable RDP client and server plugin for PTM cli
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/etc/RDP-Client/config.xml
  ProtocolTestManager/Kernel/etc/RDP-Server/config.xml
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/FileServerValueDetector.cs
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.deployment.ptfconfig
  TestSuites/BranchCache/src/TestSuite/BranchCache_TestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-ADFSPIP/src/TestSuite/PTFConfig/MS-ADFSPIP_ClientTestSuite.deployment.ptfconfig
  TestSuites/MS-ADOD/src/TestSuite/MS-ADOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-AZOD/src/TestSuite/MS-AZOD_ODTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.deployment.ptfconfig
  TestSuites/RDP/Client/src/build.ps1
  TestSuites/RDP/Client/src/build.sh
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/build.ps1
  TestSuites/RDP/Server/src/build.sh
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5476556: Modify rdpclient ps1 scripts to use pwsh remoting over ssh
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerInitializeDisplaySettings.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerMaximizeRDPClientWindow.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerOrientationChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerContinuousTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerDismissHoveringContactPduOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerMultiTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerOneTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/TriggerPositionSpecifiedTouchEventOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Check-PSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSP.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproach.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientAutoReconnect.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnect.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnectAll.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerInputEvents.ps1
Due: none

Merged PR 5480991: [RDPClient] Set the RDP version according to the SUT Windows version.
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
  TestSuites/RDP/Client/src/RDP_Client.sln
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/RdpbcgrTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPBCGR/S1_Connection_InitiationTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/RdpeiTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEI/S1_TouchInputTest.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEMT/RdpemtTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUDP/RdpeudpTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEUSB/RdpeusbTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEVOR/RdpevorTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RDPRFX/RdprfxTestSuite.cs
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 5480773: Use configured TLS version for RDPEMT tests
  ProtoSDK/MS-RDPEMT/Client/RdpemtClient.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpTLSChannel.cs
  TestSuites/RDP/Server/src/Adapter/RDPEMT/RdpemtAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Fix adapter run issue
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

Get OS type by .net core way
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Add freerdp
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Change Screenshot logic
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Program.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Merged PR 5476521: Fix random autodetect and autoreconnection case failures.
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Change screen shot size
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Remove useless code
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

Merged PR 5485678: Fix PTM yml file parameter issue
  pipelines/PTMRegression.yml
Due: none

Fix build error
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

Merged PR 5481008: [RDPClient] Fix the test run abort caused by unhandled exceptions thrown in another thread.
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Updated TxtToJSON.cs
  ProtocolTestManager/ptmtestlogger/TxtToJSON.cs
Due: none

Merged PR 5486612: Check platform compatibility of CredSSP for RDPClient
  ProtoSDK/MS-CSSP/Server/CsspServer.cs
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 5485997: Check pending state before AcceptTcpClient() to avoid block
  ProtoSDK/TransportStack/Socket/TcpServerListener.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5490146: Get IPv4 address when resolve the SUT computer name
  ProtoSDK/MS-RPCE/Client/RpceClient.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authorization/SharePermissionTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Use manual reson to trigger remote pipelines.
  pipelines/github/GitHubPR-Regression.yml
Due: none

enable tls1.2 for rdpclient
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Client/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
Due: none

Merged PR 5491125: Refine test log during connect for RDPClient
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Try to fix autoreconnection case failure in 20H1
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Support to configure the remote client terminal
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Program.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPSUTControlAgent.csproj
Due: none

Make the REMOTE_CLIENT parameter can be configured by script
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/App.config
Due: none

Merged PR 5495440: Close RDP window before killing RDP process
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/RDPClientControl.cs
Due: none

Fix SUT control agent scripts.
  TestSuites/RDP/Client/Setup/Scripts/ChangeOrientation_Template.ps1
  TestSuites/RDP/Client/Setup/Scripts/ChangeResolution_Template.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerInitializeDisplaySettings.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerMaximizeRDPClientWindow.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerOrientationChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/TriggerResolutionChangeOnClient.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSP.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithDirectCredSSPFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproach.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/RDPConnectWithNegotiationApproachFullScreen.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientAutoReconnect.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnect.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnectAll.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerInputEvents.ps1
Due: none

Revert script changes.
  TestSuites/RDP/Client/Setup/Scripts/ChangeOrientation_Template.ps1
  TestSuites/RDP/Client/Setup/Scripts/ChangeResolution_Template.ps1
Due: none

Merged PR 5495975: [RDPClient] Mark "Interactive" Rdpedisp cases as inconclusive.
  TestSuites/RDP/Client/src/TestSuite/RDPEDISP/RdpedispTestSuite.cs
Due: none

Merged PR 5495367: Add [use redirection server name] for csharp RDP file
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
Due: none

Merged PR 5496482: Support to code sign for RDPToolSet
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/CodecToolSet.Core.csproj
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core/Properties/AssemblyInfo.cs
  TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Tests/CodecToolSet.Tests.csproj
  TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web/RDPToolSet.Web.csproj
Due: none

Reboot to make auto reconnection configuration take effect
  TestSuites/RDP/Server/Setup/Scripts/PostConfig-SUT.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5499703: Avoid using alloc memory for native SSPI
  ProtoSDK/MS-CSSP/Client/CsspClientStream.cs
  ProtoSDK/MS-CSSP/Server/CsspServerStream.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
  ProtoSDK/Sspi/SspiStructures.cs
  ProtoSDK/SspiLib/Enums.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5499029: Check platform compatibility of CredSSP for RDPServer
  ProtoSDK/MS-CSSP/Client/CsspClient.cs
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5503674: Get SutOsVersion and SutBuildNumber from Linux Driver
  TestSuites/RDP/Client/Setup/Scripts/Config-LinuxDriverComputer.ps1
Due: none

Task #30941195: Fail the case in inclusive for servers not support persistent handles
  TestSuites/FileServer/src/SMB2/TestSuite/HVRS/MS-SMB2_Clarification.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

test sync
  Home.md
Due: none

Merged PR 5508238: Remove ignore attribute of Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test sync from GitHub to VSO
  Home.md
Due: none
