Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs

Merged PR 5528294: Add shell adapter scripts to package, and update the interactive messages for easy understanding
  TestSuites/RDP/Client/src/Adapter/IRdpSutControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/RdpedispSUTControlAdapter/IRdpedispSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/IRdpeiSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/RdpeiSUTControlAdapter/RdpeiSUTControlAdapter.cs
Due: none

Fix certification path issue
  TestSuites/RDP/Client/Setup/Scripts/Create-SelfSignedCertificate.sh
Due: none

quite fix powershell scripts path
  ProtocolTestManager/Kernel/Profile/ProfileUtil.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PtmCli/Program.cs
Due: none

update for comments
  ProtocolTestManager/Kernel/Profile/ProfileUtil.cs
  ProtocolTestManager/Kernel/Utility.cs
Due: none

Merged PR 5530941: Add user guide for RDPClient and RDPServer
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image11-2.PNG
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image11.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image12.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image14.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image15.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image16.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image17.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image18.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image19.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image20.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image21.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image22.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image23.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image24.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image25.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image26.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image27.png
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image7.jpg
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image8.jpg
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
  TestSuites/RDP/Server/Docs/image/RDP_ServerUserGuide/image9.png
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5534779: Remove shell adapter from PTM detect UI
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPValueDetector.cs
Due: none

Merged PR 5534870: Upgrade test suite version to 4.21.1.0 for new release
  AssemblyInfo/.version
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 5534889: Renamed image11-2.PNG to image11-2.png for rdpclient user guide
  TestSuites/RDP/Client/docs/image/RDP_ClientUserGuide/image11-2.png
Due: none

Merged PR 5534915: Upgrade PTM version
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Merged PR 5534921: Update RDPServer user guide
  TestSuites/RDP/Server/Docs/RDP_ServerUserGuide.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5534957: [RDPClient] Add missing references of SharedAssemblyInfo.
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
Due: none

Update with latest PTF version and link
  README.md
Due: none

Add RDP Codec user guide
  TestSuites/RDP/Tools/RDPToolSet/doc/RDPCodec User Guide.pdf
Due: none

change method naming convention to Pascal case
  TestSuites/FileServer/src/FSA/TestSuite/QueryDirectory/QueryDirectoryTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update doc
  TestSuites/RDP/Tools/RDPToolSet/doc/RDPCodec User Guide.pdf
Due: none

Merged PR 5546317: Add ELE into PTM msi package
  ProtocolTestManager/Deploy/ProtoSDK.wxs
Due: none

Update RDPCodec doc
  TestSuites/RDP/Tools/RDPToolSet/doc/RDPCodec User Guide.pdf
Due: none

Merged PR 5549700: [31267919]: Fix RDPServer Plugin Detect EMT failed issue
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Detector/RDPDetector.cs
Due: none

Add PipeSink for PTM
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

[MS-FSA] Add FileBasicInformation test cases with -2 timestamp in MS-FSA.
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5554062: Added RDP Client Test Suite Lab Tutorial.pdf to /Doc
  Doc/RDP Client Test Suite Lab Tutorial.pdf
Due: none

Update RDPCodec User Guide
  TestSuites/RDP/Tools/RDPToolSet/doc/RDPCodec User Guide.pdf
Due: none

update typo
  TestSuites/RDP/Tools/RDPToolSet/doc/RDPCodec User Guide.pdf
Due: none

Merged PR 5554596: Add install .NET 5 , PS core and OpenSSH for RDP
  InstallPrerequisites/InstallWin32OpenSSH.ps1
  InstallPrerequisites/PrerequisitesConfig.xml
Due: none

Merged PR 5554303: Fixes hardcoded 3389 in PTM RDPClientPlugin
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Detector/RDPDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/RDPValueDetector.cs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Types.cs
Due: none

Merged PR 5541878: Refine readme of RDP SUT control agent
  TestSuites/RDP/RDPSUTControlAgent/Java/README.md
  TestSuites/RDP/RDPSUTControlAgent/README.md
Due: none

Merged PR 5560712: Update freerdp.config path in RDPSUTControlAgent readme
  TestSuites/RDP/RDPSUTControlAgent/README.md
Due: none

Enable firewall for RDP Port with 4488
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
Due: none

Merged PR 5560453: Update RDP HOL tutorial
  Doc/Profile#1_BVTScenario_v4.20.1.0.ptm
  Doc/RDP Client Test Suite Lab Tutorial.pdf
Due: none

Fix issue in Negotiate_SMB311_Compression_CompressionAlgorithmNotSupported caused by behavior changes
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Enable 3389 port firewall
  TestSuites/RDP/Client/Setup/Scripts/Config-DriverComputer.ps1
Due: none

Make KDC Ip and port configurable
  ProtoSDK/KerberosLib/Role/Client/KerberosClient.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityConfig.cs
  ProtoSDK/KerberosLib/Role/Client/KerberosClientSecurityContext.cs
  ProtoSDK/MS-SPNG/Client/SpngClientSecurityContext.cs
  ProtoSDK/SspiLib/Consts.cs
  ProtoSDK/SspiService/SspiClientSecurityContext.cs
  TestSuites/FileServer/src/Common/Adapter/SutProtocolControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/Smb2TransportAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/SmbTransportAdapter.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update kdcAddress to IPAddress type
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosAuthentication.cs
  TestSuites/FileServer/src/Auth/TestSuite/Authentication/KerberosAuthentication/KerberosFunctionalClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Sync changes in internal PR.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Add new RDPToolSet build pipeline.
  pipelines/github/RDPToolSet-GitHubPR-Build.yml
Due: none

Merged PR 5503537: [GitHub Regression] Add pipeline files for GitHub regressions.
  pipelines/github/FileServer-GitHubPR-Regression.yml
  pipelines/github/GitHubPR-Regression.yml
  pipelines/github/RDPClient-GitHubPR-Regression.yml
  pipelines/github/RDPServer-GitHubPR-Regression.yml
  pipelines/github/RDPToolSet-GitHubPR-Build.yml
Due: none

Trigger test.
  TestSuites/RDP/Server/src/TestSuite/RDPEMT/S1_MultitransportConnectionInitiationTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5553865: [WSP] Update to use PTF 2.1.0.
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
Due: none

Align tables to GitHub flavoured style.
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Remove unused code
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml
