Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Add Comment To Registry Reset
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Add Comment To Registry Reset Respond to other comments
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add Copyright and Correct Spelling
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlCommand.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlType.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Extract QUIC on LinuxDriver check from gobal encrypt check.
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Align and optimize QUIC checks.
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Format code.
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Resolve Comments
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlMessageExRDP.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
  TestSuites/RDP/Server/Docs/MS-RDPBCGR_ServerTestDesignSpecification.md
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlCommand.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S1_ConnectionTest.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Remove comments
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

merge last
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/Adapter/IFSAAdapter.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/ChangeNotificationTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/CreateFileTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/IoCtlRequestTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add Copyright tp File
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlType.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 7643154: Adding test case and TDS for Update LastAccessTime when file is read
  TestSuites/FileServer/Setup/Scripts/Create-FSAEnv.ps1
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileAccessed.cs
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

update for comments
  TestSuites/FileServer/src/FSA/Adapter/SMB2_TDIWorkaround.cs
  TestSuites/FileServer/src/FSA/Adapter/SMB_TDIWorkaround.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/CreateFileTestCase.cs
  TestSuites/FileServer/src/FSAModel/TestSuite/IoCtlRequestTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add description to Constants and Test Cases
  ProtoSDK/MS-RDPBCGR/ConstValue.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

update for comments
  TestSuites/FileServer/src/FSAModel/TestSuite/IoCtlRequestTestCase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7676063: Fix platform auto-detect issue on Linux drivers for PTM Service
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  TestSuites/FileServer/src/Plugin/FileServerPlugin/Detector/FSDetector.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
  TestSuites/FileServer/src/Plugin/FileServerPlugin/PSRemotingSession.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add clearer comments
  ProtoSDK/MS-RDPBCGR/ConstValue.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 7748765: Update version to 4.22.8.0
  AssemblyInfo/.version
  AssemblyInfo/PTMAssemblyInfo.cs
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Add Move Pointer To Test
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/IRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/Message/SUTControlCommand.cs
  TestSuites/RDP/Server/src/Adapter/SUTControlAgent/ProtocolBasedRDPSUTControlAdapter.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Add Move Pointer Command
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/SUTControlMessageExRDP.cs
  TestSuites/RDP/RDPSUTControlAgent/CSharp/RDPSUTControlAgent/Server/RDPServerControl.cs
Due: none

Merged PR 7766477: Updated ExecutePowerShellCommand to use PowerShell Core
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PropertyValueDetector/DetectContext.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPClientPlugin.csproj
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/build.ps1
Due: none

Merged PR 7874525: Add IsHardLinksSupported property to MS-FSA and condition to FileLinkInformation test case
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileLinkInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7910287: Add test case and TDS for FSCTL_SET_INTEGRITY_INFORMATION new conditions
  ProtoSDK/MS-FSCC/FsccMessage.cs
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_SET_INTEGRITY_INFORMATION.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 7874493: Add 0, -1, -2 timestamps test case and TDS
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation_Timestamp_MinusOne.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation_Timestamp_MinusTwo.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation_Timestamp_Zero.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Create Test.txt
  Test.txt
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add 107
  ProtoSDK/MS-RDPEGFX/Types/RdpegfxEnumTypes.cs
  TestSuites/RDP/Client/src/Adapter/RDPEGFX/RdpegfxAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Add 107 Cap Set
  TestSuites/RDP/Client/src/Adapter/RDPEGFX/RdpegfxAdapter.cs
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
Due: none

Merged PR 7981351: Updated build file for RDP Server plugin to include files required for the plugin
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/RDPValueDetector.cs
  TestSuites/RDP/Server/src/build.ps1
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Change Adapter Type
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.ptfconfig
Due: none

Add brackets
  TestSuites/RDP/Client/src/TestSuite/RDPEGFX/RdpegfxTestSuite.cs
Due: none

Merged PR 8096632: [GitHub Regression] Change the pool name used in Run_Regression stage.
  pipelines/github/GitHubPR-Regression.yml
Due: none

Merged PR 8098669: Pluralize page captions + fix test count bug
  ProtocolTestManager/PTMService/PTMKernelService/TestRun.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/DefaultNavSteps.ts
Due: none

Update grammar in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Merged PR 8187247: Add LeaseEpoch to DurableHandleV2 Reconnect Smb2CreateRequestLeaseV2
  TestSuites/FileServer/src/SMB2/TestSuite/DurableHandle/DurableHandleV2.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 8193476: Include SetInformationUser2 tests for Internal4 and Internal5
  TestSuites/ADFamily/src/Adapter/MS-SAMR/Helper/SAMREnums.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/SAMR_TestSuiteCommon.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/User/SamrSetInformationUser2_Passwords.cs
Due: none

Merged PR 8194810: Include SetInformationUser2 tests for Internal4New and Internal5New
  ProtoSDK/MS-SAMR/SamrCryptography.cs
  TestSuites/ADFamily/src/TestSuite/MS-SAMR/User/SamrSetInformationUser2_Passwords.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 8387659: Bug fix for RDP Client filter on PTM Service
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/config.xml
Due: none

Merged PR 8125764: Local Regression SUT Control Agent for Main Test Suite
  TestSuites/RDP/Server/Setup/Scripts/ChangeOrientation_Template.ps1
  TestSuites/RDP/Server/Setup/Scripts/ChangeResolution_Template.ps1
  TestSuites/RDP/Server/Setup/Scripts/Config-DriverComputer.ps1
  TestSuites/RDP/Server/Setup/Scripts/Config-LinuxDriverComputer.ps1
  TestSuites/RDP/Server/Setup/Scripts/Config-TerminalClient.ps1
  TestSuites/RDP/Server/Setup/Scripts/Config-TerminalClientForRemoteAdapt.ps1
  TestSuites/RDP/Server/Setup/Scripts/Enable-USBRedirection.ps1
  TestSuites/RDP/Server/Setup/Scripts/Get-Parameter.ps1
  TestSuites/RDP/Server/Setup/Scripts/Modify-ConfigFileNode.ps1
  TestSuites/RDP/Server/Setup/Scripts/Modify-PTFConfigFileAdapter.ps1
  TestSuites/RDP/Server/Setup/Scripts/Modify-PTFConfigFileNode.ps1
  TestSuites/RDP/Server/Setup/Scripts/ParamConfig.xml
  TestSuites/RDP/Server/Setup/Scripts/Set-DisplaySettings.ps1
  TestSuites/RDP/Server/Setup/Scripts/Set-Parameter.ps1
  TestSuites/RDP/Server/Setup/Scripts/Start-Desktop.ps1
  TestSuites/RDP/Server/Setup/Scripts/WaitForSUTControlAdapterReady.ps1
  TestSuites/RDP/Server/src/Adapter/TestConfig.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Configs.cs
  TestSuites/RDP/Server/src/TestSuite/RDPBCGR/S4_OutputTest.cs
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RdpTestClassBase.cs
  pipelines/DotNetCore-Build.yml
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 8432338: Added support for auto-detecting RDEUPD2
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/RDPValueDetector.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/SUTSummary.cs
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/Types.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
