Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

add auto detect action and reducer
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/AutoDetectionData.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
Due: none

fix build
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
Due: none

add code
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

Merged PR 6227312: [PTMService] Add PTMService solution build scripts.
  ProtocolTestManager/PTMService/build.ps1
  ProtocolTestManager/PTMService/build.sh
Due: none

Merged PR 6132037: Fix Case FileServerFailover_Negative_NoEncryptionBeforeFailover_EncryptionAfterFailover failed
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverWithEncryption.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Print FailoverTimeout value
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverWithLock.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 6240188: update URL of NetworkDirectDDK
  InstallPrerequisites/PrerequisitesConfig.xml
Due: none

Merged PR 6246888: [PTMService] Intergrate RDPServer auto detection plugin into RDPServer test suite.
  ProtoSDK/MS-SPNG/Spng.csproj
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Configs.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/DetectionResultControl.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Detector/RDPDetector.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/arrow_right.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/configure.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/configure_dotnetcore.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/domain.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/index.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/network.html
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/note.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Docs/workgroup.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Icons/supported.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Icons/undetected.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Icons/unsupported.png
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/RDPServerPlugin.csproj
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/RDPValueDetector.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/Types.cs
  TestSuites/RDP/Server/src/Plugin/RDPServerPlugin/config.xml
  TestSuites/RDP/Server/src/RDP_Server.sln
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Remove debug output
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverWithLock.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Removed uneccessary value
  TestSuites/FileServer/src/ServerFailover/TestSuite/FileServerFailoverWithLock.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove Extended Logging From Codebase
  ProtoSDK/MS-RDPBCGR/Rdpbcgr.csproj
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerTransportStack.cs
  ProtoSDK/MS-RDPBCGR/StaticVirtualChannel.cs
  ProtoSDK/MS-RDPBCGR/Utility.cs
  ProtoSDK/MS-RDPEDYC/Server/RdpedycServer.cs
  ProtoSDK/MS-RDPEGFX/Server/RdpegfxServer.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpTLSChannel.cs
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.cs
  ProtoSDK/MS-RDPEUDP/Server/RdpeudpServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6225722: [PTMService] Add test suite update and removal functions to management page.
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/Common/Entities/TestSuiteInstallation.cs
  ProtocolTestManager/PTMService/Database/ptmservice.db
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20210702055520_SupportTestSuiteInstallationRemoval.Designer.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20210702055520_SupportTestSuiteInstallationRemoval.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_ProfileSetup.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_TestSuite.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/ManagementAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/PropertyGroupsAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/SelectedTestCasesAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestCaseResultAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestResultsAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/TestSuitesAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/TestSuite.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/HomePage.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/Management.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/SelectTestSuite.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TaskHistory.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestResultDetail.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/ManagementReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/PropertyGroupsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/SelectedTestCasesReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestCaseResultReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestResultsReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/TestSuitesReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Management.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/PropertyGroups.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/SelectedTestCases.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestCaseResult.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestResults.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestResultController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteManagementController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/Types.cs
  ProtocolTestManager/PTMService/UnitTest/ptmservice.db
Due: none

Merged PR 6260481: Fixes cases status when AbortExecution in RunPage
  ProtocolTestManager/Kernel/TestEngine/GroupByOutcome.cs
  ProtocolTestManager/Kernel/TestEngine/Logger.cs
  ProtocolTestManager/Kernel/TestEngine/PipeSinkServer.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/UI/MainWindow.xaml.cs
Due: none

Merged PR 6271864: [FileServer] Fix OplockAdapter related test failures on client SKUs.
  TestSuites/FileServer/src/SMB2Model/Adapter/Oplock/OplockAdapter.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

1
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureTestCase.tsx
Due: none

add auto page
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/AutoDetectionData.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

add button logic
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

add timer
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
Due: none

update for color
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
Due: none

add start and set
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Fix Autodetection backend issue
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
Due: none

Merged PR 6299972: Update FileServer build script to include plugin binaries and files into TestSuite Bin folder
  TestSuites/FileServer/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

merge start and set
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Update RdpbcgrServer.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6285447: Task 34308197: [PTMService] Load Adapters from plugin on Configure Adapter page
  ProtocolTestManager/Kernel/Common/CollectibleAssemblyLoadContext.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/etc/FileServer/config.xml
  ProtocolTestManager/Kernel/etc/RDP-Client/config.xml
  ProtocolTestManager/Kernel/etc/RDP-Server/config.xml
  ProtocolTestManager/PTMService/Abstractions/Kernel/ITestSuite.cs
  ProtocolTestManager/PTMService/Common/Types/Adapter.cs
  ProtocolTestManager/PTMService/PTMKernelService/Configuration.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/Adapter.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureAdapter.tsx
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteConfigurationController.cs
  TestSuites/FileServer/src/Plugin/FileServerPlugin/config.xml
  TestSuites/RDP/Client/src/Plugin/RDPClientPlugin/config.xml
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update RdpbcgrServerDecoder.cs
  ProtoSDK/MS-RDPBCGR/Server/RdpbcgrServerDecoder.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update StaticVirtualChannel.cs
  ProtoSDK/MS-RDPBCGR/StaticVirtualChannel.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Remove unused imports
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/DetectionResult.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/Management.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/RunSelectedCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/SelectTestSuite.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/TestSuiteRunWizard.tsx
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Clean Up
  ProtoSDK/MS-RDPBCGR/Types.cs
  ProtoSDK/MS-RDPBCGR/Utility.cs
  ProtoSDK/MS-RDPEDYC/Server/RdpedycServer.cs
  ProtoSDK/MS-RDPEGFX/Server/RdpegfxServer.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpDTLSChannel.cs
  ProtoSDK/MS-RDPEMT/SecureChannel/RdpeudpTLSChannel.cs
  ProtoSDK/MS-RDPEUDP/RdpeudpSocket.cs
  ProtoSDK/MS-RDPEUDP/Server/RdpeudpServer.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 6308979: Remove config.xml files under ProtocolTestManager\Kernel\etc for ptmservice.
  ProtocolTestManager/Kernel/etc/FileServer/config.xml
  ProtocolTestManager/Kernel/etc/RDP-Client/config.xml
  ProtocolTestManager/Kernel/etc/RDP-Server/config.xml
  ProtocolTestManager/PTMService/PTMKernelService/TestSuite.cs
  ProtocolTestManager/PTMService/PTMService/Scripts/install.ps1
Due: none

Add detect status
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Common/Types/DetectionOutcome.cs
  ProtocolTestManager/PTMService/Common/Types/DetectionStatus.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/AutoDetectionData.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Merged PR 6309724: Enable compression in adapters
  TestSuites/RDP/Client/src/Adapter/IRdpSutControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/ProtocolBasedSUTControlAdapter/ProtocolBasedRdpSUTControlAdapter.cs
  TestSuites/RDP/Client/src/Adapter/PtfPropUtility.cs
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/EditFileWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/SetCompressionValue.ps1
  TestSuites/RDP/Client/src/TestSuite/RdpTestClassBase.cs
Due: none

Merged PR 6320443: [PTMService]Update Plugin directory for ptmcli
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/Utility.cs
Due: none

update
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/AutoDetectionAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/AutoDetectionData.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/AutoDetectionReducer.ts
Due: none

add dialog
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/AutoDetection.tsx
Due: none

Merged PR 6300539: Renamed SupportedEncryptionAlgorithms to SutSupportedEncryptionAlgorithms
  TestSuites/FileServer/src/Common/Adapter/TestConfigBase.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/Encryption/Encryption.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Negotiate/Negotiation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fix AutoDetection backend service issue
  ProtocolTestManager/PTMService/Abstractions/Kernel/IAutoDetection.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_AutoDetect.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteInfoController.cs
Due: none

Update prerequisiteView response data
  ProtocolTestManager/PTMService/PTMKernelService/AutoDetection.cs
Due: none

modify .NET5.0 migration error
  TestSuites/ADFamily/src/Adapter/AD_ServerAdapter.csproj
  TestSuites/ADFamily/src/Batch/RunADTSLDAPCases.cmd
  TestSuites/ADFamily/src/Batch/RunADTSPublishDCCases.cmd
  TestSuites/ADFamily/src/Batch/RunADTSSchemaCases.cmd
  TestSuites/ADFamily/src/Batch/RunADTSSecurityCases.cmd
  TestSuites/ADFamily/src/Batch/RunAPDSCases.cmd
  TestSuites/ADFamily/src/Batch/RunAllTestCases.cmd
  TestSuites/ADFamily/src/Batch/RunAllTestCases.ps1
  TestSuites/ADFamily/src/Batch/RunAllTestCases.sh
  TestSuites/ADFamily/src/Batch/RunDRSR.ps1
  TestSuites/ADFamily/src/Batch/RunDRSRCases.cmd
  TestSuites/ADFamily/src/Batch/RunDRSRCases_Threshold.cmd
  TestSuites/ADFamily/src/Batch/RunDRSRCases_Win8.1.cmd
  TestSuites/ADFamily/src/Batch/RunFrs2Cases.cmd
  TestSuites/ADFamily/src/Batch/RunLSADCases.cmd
  TestSuites/ADFamily/src/Batch/RunLSATCases.cmd
  TestSuites/ADFamily/src/Batch/RunNRPCCases.cmd
  TestSuites/ADFamily/src/Batch/RunSAMRCases.cmd
  TestSuites/ADFamily/src/Batch/RunTestCasesByCategory.cmd
  TestSuites/ADFamily/src/Batch/RunTestCasesByFilter.ps1
  TestSuites/ADFamily/src/Batch/RunTestCasesByFilter.sh
  TestSuites/ADFamily/src/MS-FRS2/Adapter/MS-FRS2_ServerAdapter.csproj
  TestSuites/ADFamily/src/MS-FRS2/FileStreamDataParser/FileStreamDataParser.csproj
  TestSuites/ADFamily/src/TestSuite/AD_ServerTestSuite.csproj
  TestSuites/ADFamily/src/build.cmd
  TestSuites/ADFamily/src/build.ps1
  TestSuites/Kerberos/src/Batch/Domain_RunAllTestCases.cmd
  TestSuites/Kerberos/src/Batch/Domain_RunBVTTestCases.cmd
  TestSuites/Kerberos/src/Batch/Domain_RunTestCasesByCategory.cmd
  TestSuites/Kerberos/src/Batch/RunAllTestCases.ps1
  TestSuites/Kerberos/src/Batch/RunAllTestCases.sh
  TestSuites/Kerberos/src/Batch/RunTestCasesByFilter.ps1
  TestSuites/Kerberos/src/Batch/RunTestCasesByFilter.sh
  TestSuites/Kerberos/src/TestSuite/Kerberos_ServerTestSuite.csproj
  TestSuites/Kerberos/src/build.cmd
  TestSuites/Kerberos/src/build.ps1
  TestSuites/Kerberos/src/build.sh
Due: none

Merged PR 6332580: Fix ConfigureAdapter to set ScriptDirectory and ShellScriptDirectory correctly.
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureAdapter.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/ConfigureAdapterReducer.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/TestSuiteConfigurationController.cs
Due: none

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
