Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    pool:
      vmImage: windows-2022
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: PowerShell@2
      displayName: Check License Header
      inputs:
        filePath: CommonScripts/CheckLicenseHeader.ps1
  ...

Merged PR 13494169: SMBD Additions for Linux Test Run
  TestSuites/MS-SMBD/src/Batch/RunAllTestCasesLinux.ps1
  TestSuites/MS-SMBD/src/Batch/RunTestCasesByFilterLinux.ps1
  TestSuites/MS-SMBD/src/build.ps1
  common/RunTestCasesByBinariesAndFilterLinux.ps1
Due: none

Remove excluded files after merge
  TestSuites/Kerberos/src/NuGet.config
  TestSuites/MS-XCA/XcaTestApp/NuGet.config
Due: none

Merged PR 13603759: Doc Feedback Updates
  InstallPrerequisites/InstallPrerequisites.ps1
  README.md
  TestSuites/FileServer/Setup/ManualSetup.zip
  TestSuites/MS-XCA/docs/MS-XCA_TestDesignSpecification.md
  TestSuites/MS-XCA/docs/MS-XCA_TestSuiteUserGuide.md
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 13783056: Correct NugetAuthenticate
  pipelines/DotNetCore-MSBuild-Build.yml
  pipelines/DotNetCore-PTMCli-Build.yml
Due: none

Merged PR 13783143: Add NuGet authentication to build YAML files
  pipelines/1es/DotNetCore-Build.yml
  pipelines/1es/DotNetCore-MSBuild-Build.yml
  pipelines/1es/DotNetCore-PTMCli-Build.yml
  pipelines/1es/PTMServiceCI.yml
Due: none

Merged PR 13782480: Skip TS-PTMCli version comparison
  ProtocolTestManager/Kernel/Utility.cs
Due: none

Inventory drift
  es-metadata.yml
Due: none

Merged PR 14124905: CFS Handling
  pipelines/1es/DotNetCore-MSBuild-Build.yml
Due: none

Merged PR 14124836: CFS Handling
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 14155533: Fix Linux SUT failures
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  TestSuites/FileServer/src/SMB2/TestSuite/CreateClose/CreateClose.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 14506868: Add Docker Documentation for FileServer and RDP
  TestSuites/FileServer/docs/How-to-Run-Test-Suites-with-Docker-For-FileServer.md
  TestSuites/RDP/docs/How-to-Run-Test-Suites-with-Docker-For-RDP.md
Due: none

Merged PR 14585715: [3.3.5.18] SMB2 QUERY_DIRECTORY Request
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 13827637: Updated FileServerUserGuide.md
  TestSuites/FileServer/docs/FileServerUserGuide.md
Due: none

Merged PR 14674557: Adding AI workflows to WindowsProtocol
  .github/copilot-instructions.md
  .github/instructions/mslearn.instructions.md
  .github/instructions/skills.instructions.md
  .github/skills/file-server/SKILL.md
  .github/skills/file-server/references/auth.md
  .github/skills/file-server/references/common.md
  .github/skills/file-server/references/dfsc.md
  .github/skills/file-server/references/fsa.md
  .github/skills/file-server/references/fsamodel.md
  .github/skills/file-server/references/fsrvp.md
  .github/skills/file-server/references/rsvd.md
  .github/skills/file-server/references/serverfailover.md
  .github/skills/file-server/references/smb2.md
  .github/skills/file-server/references/smb2model.md
  .github/skills/file-server/references/sqos.md
  .github/skills/generate-protocol-diff/SKILL.md
Due: none

Merged PR 14767817: Add PTF multi-threading nodes
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 14832886: Add CFSClean2 to networkIsolationPolicy in pipeline
  pipelines/1es/DotNetCore-Build.yml
Due: none

Merged PR 14919975: Add CLAUDE.md with codebase overview and task workflow
  CLAUDE.md
Due: none

Merged PR 14954885: Created the agent script runner
  Invoke-CopilotFromAdo.ps1
Due: none

Merged PR 14675582: Add support for additional file system attributes and corresponding tests
  ProtoSDK/MS-FSCC/FsccMessage.cs
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileSystemInformation/FsInfo_Query_FileFsAttributeInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15037073: AI Documentation
  .gitignore
  .mcp.json
  CLAUDE.md
  ai-docs/README.md
  ai-docs/architecture-overview.md
  ai-docs/build-and-setup.md
  ai-docs/contribution-guide.md
  ai-docs/protocol-specifications.md
  ai-docs/protosdk-reference.md
  ai-docs/ptm-guide.md
  ai-docs/test-suites-guide.md
Due: none

Merged PR 15045411: Update DotNetCore-MSBuild-Build.yml to install .NET 8 SDK to fix SMBD build pipeline failure
  pipelines/1es/DotNetCore-MSBuild-Build.yml
Due: none

Merged PR 15026038: [SECURITY] Bump nth-check and @svgr/webpack in /ProtocolTestManager/PTMService/PTMService/ClientApp
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
Due: none

Merged PR 15024729: [SECURITY] Bump immutable from 4.3.7 to 4.3.8 in /ProtocolTestManager/PTMService/PTMService/ClientApp
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
Due: none

Merged PR 15073163: Updated copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Merged PR 15124134: Correct NuGet References For Public and Internal Use
  NuGet.config
  TestSuites/FileServer/src/build.ps1
  TestSuites/Kerberos/src/NuGet.config
  TestSuites/Kerberos/src/eng/NuGet.Microsoft.config
  TestSuites/MS-XCA/XcaTestApp/NuGet.config
  TestSuites/MS-XCA/XcaTestApp/eng/NuGet.Microsoft.config
  eng/NuGet.Microsoft.config
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15135338: [SECURITY] Fix nth-check vulnerability and bump dependent packages
  NuGet.config
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/ClientApp/package.json
  TestSuites/Kerberos/src/NuGet.config
  TestSuites/Kerberos/src/eng/NuGet.Microsoft.config
  TestSuites/MS-XCA/XcaTestApp/NuGet.config
  TestSuites/MS-XCA/XcaTestApp/eng/NuGet.Microsoft.config
  eng/NuGet.Microsoft.config
Due: none

Merged PR 15136786: Remove custom NuGet config from dotnet publish commands
  TestSuites/FileServer/src/build.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 14932954: IsReplayEligible Changes
  ProtoSDK/Asn1Base/Asn1Base.csproj
  ProtoSDK/Messages/Messages.csproj
  TestSuites/FileServer/azure-automation/cluster-bicep/DSC/Invoke-Node01ImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/cluster-bicep/DSC/Scripts/Config-ClusterPTFConfig.ps1
  TestSuites/FileServer/azure-automation/cluster-bicep/DSC/Scripts/Create-ServerFailoverEnv.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/DSC/Invoke-SutImperativeSteps.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Driver-Configuration.ps1
  TestSuites/FileServer/azure-automation/shared/DSC/Scripts/Execute-TestCaseByContext.ps1
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/Common/Adapter/CommonAdapter.csproj
  TestSuites/FileServer/src/Common/Adapter/Smb2FunctionalClient.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/Adapter/MS-FSA_ServerAdapter.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSAModel/Model/MS-FSAModel_ServerModel.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/Adapter/MS-SMB2_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/Replay/ReplayIsReplayEligible.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/MS-SMB2Model_ServerAdapter.csproj
  TestSuites/FileServer/src/SMB2Model/Model/MS-SMB2Model_ServerModel.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/Adapter/ServerFailoverAdapter.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
  TestSuites/MS-SMBD/src/Adapter/MS-SMBD_ServerAdapter.csproj
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.csproj
  TestSuites/MS-WSP/src/Adapter/MS-WSP_ServerAdapter.csproj
  TestSuites/MS-WSP/src/TestSuite/MS-WSP_ServerTestSuite.csproj
  TestSuites/MS-XCA/src/Adapter/MS-XCA_Adapter.csproj
  TestSuites/MS-XCA/src/TestSuite/MS-XCA_TestSuite.csproj
  TestSuites/RDP/Client/src/Adapter/RDP_ClientAdapter.csproj
  TestSuites/RDP/Client/src/TestSuite/RDP_ClientTestSuite.csproj
  TestSuites/RDP/Server/src/Adapter/RDP_ServerAdapter.csproj
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 15123966: Document Linux RDMA Setup, Test Execution, and Packet Capture Steps
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerUserGuide.md
Due: none

Merged PR 15163001: Skip cases about platform does not return STATUS_INVALID_PARAMETER in FSCTL...
  TestSuites/FileServer/src/FSA/TestSuite/FsControlRequest/FSCTL_REFS_STREAM_SNAPSHOT_MANAGEMENT.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15163678: Update Documentation For Protocols
  TestSuites/FileServer/docs/Auth_ServerTestDesignSpecification.md
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/MS-ADFSPIP/Docs/MS-ADFSPIP_ClientTestDesignSpecification.md
  TestSuites/MS-AZOD/docs/MS-AZOD_ODTestDesignSpecification.md
  TestSuites/MS-SMBD/docs/MS-SMBD_ServerTestDesignSpecification.md
  TestSuites/RDP/Client/docs/MS-RDPBCGR_ClientTestDesignSpecification.md
  TestSuites/RDP/Client/docs/RDP_ClientUserGuide.md
  TestSuites/RDP/Server/Docs/MS-RDPEDYC_ServerTestDesignSpecification.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 15177894: Update Version Number for Release
  AssemblyInfo/.version
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Delete excluded files and folders
  Invoke-CopilotFromAdo.ps1
  es-metadata.yml
  pipelines/1es/DotNetCore-Build.yml
  pipelines/1es/DotNetCore-FileServer-LinuxBuild.yml
  pipelines/1es/DotNetCore-MSBuild-Build.yml
  pipelines/1es/DotNetCore-PTMCli-Build.yml
  pipelines/1es/PTMServiceCI.yml
  pipelines/1es/TestSuiteMainSyncToGitHub.yml
  pipelines/1es/TestSuiteMainSyncToVSO.yml
Due: none

Merged PR 15178282: ReadMe Updates
  TestSuites/FileServer/azure-automation/cluster-bicep/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/README.md
  TestSuites/FileServer/azure-automation/workgroup-bicep/README.md
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 15209546: [SECURITY] Bump lodash from 4.17.23 to 4.18.1 in /ProtocolTestManager/PTMService/PTMService/ClientApp
  ProtocolTestManager/PTMService/PTMService/ClientApp/package-lock.json
Due: none

Merged PR 15311616: Add RDMA transport config item in PTFconfig file.
  TestSuites/MS-SMBD/src/Adapter/TestConfig.cs
  TestSuites/MS-SMBD/src/TestSuite/MS-SMBD_ServerTestSuite.deployment.ptfconfig
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelRemoteInvalidation.cs
  TestSuites/MS-SMBD/src/TestSuite/SMB2overSMBD/Smb2OverRdmaChannelTransformSigning.cs
Due: none

Merged PR 15314320: Improve azure-automation READMEs for clarity and ease of use
  TestSuites/FileServer/azure-automation/README.md
  TestSuites/FileServer/azure-automation/cluster-bicep/README.md
  TestSuites/FileServer/azure-automation/cluster-bicep/deploy.ps1
  TestSuites/FileServer/azure-automation/domain-bicep/README.md
  TestSuites/FileServer/azure-automation/domain-bicep/deploy.ps1
  TestSuites/FileServer/azure-automation/shared/Deploy-Helpers.psm1
  TestSuites/FileServer/azure-automation/shared/README.md
  TestSuites/FileServer/azure-automation/shared/scripts/Verify-Deployment.ps1
  TestSuites/FileServer/azure-automation/workgroup-bicep/README.md
  TestSuites/FileServer/azure-automation/workgroup-bicep/deploy.ps1
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
