Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web

Update SharedAssemblyInfo.cs.
  AssemblyInfo/SharedAssemblyInfo.cs
Due: none

Update FileServer Nuget packages.
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
  TestSuites/FileServer/src/Auth/TestSuite/Auth_ServerTestSuite.csproj
  TestSuites/FileServer/src/DFSC/TestSuite/MS-DFSC_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSAModel/TestSuite/MS-FSAModel_ServerTestSuite.csproj
  TestSuites/FileServer/src/FSRVP/TestSuite/MS-FSRVP_ServerTestSuite.csproj
  TestSuites/FileServer/src/Plugin/FileServerPlugin/FileServerPlugin.csproj
  TestSuites/FileServer/src/RSVD/TestSuite/MS-RSVD_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2/TestSuite/MS-SMB2_ServerTestSuite.csproj
  TestSuites/FileServer/src/SMB2Model/TestSuite/MS-SMB2Model_ServerTestSuite.csproj
  TestSuites/FileServer/src/SQOS/TestSuite/MS-SQOS_ServerTestSuite.csproj
  TestSuites/FileServer/src/ServerFailover/TestSuite/ServerFailoverTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Remove System.Net.Quic.dll.
  AssemblyInfo/SharedAssemblyInfo.cs
  ProtoSDK/TransportStack/TransportStack.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update SMBDPlugin nuget packages.
  TestSuites/MS-SMBD/src/Plugin/SMBDPlugin/SMBDPlugin.csproj
Due: none

Update.
  AssemblyInfo/SharedAssemblyInfo.cs
Due: none

Update fixes.
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
  ProtoSDK/TransportStack/Socket/QuicServerConnection.cs
  ProtoSDK/TransportStack/Socket/QuicServerTransport.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update.
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update fixes.
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
  ProtoSDK/TransportStack/Socket/QuicServerConnection.cs
  ProtoSDK/TransportStack/Socket/QuicServerListener.cs
  ProtoSDK/TransportStack/Socket/QuicServerTransport.cs
  ProtoSDK/TransportStack/Utilities/AsyncUtil.cs
  ProtoSDK/TransportStack/Utilities/QuicReceiveLoopVisitor.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update fixes.
  ProtoSDK/TransportStack/Socket/QuicServerTransport.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Update PropertyValueDetector.csproj to net7.0 .
  ProtocolTestManager/PropertyValueDetector/PropertyValueDetector.csproj
Due: none

Fixes comment.
  TestSuites/FileServer/src/FSA/TestSuite/AlternateDataStream/AlternateDataStreamTestCases.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Fixes comments.
  ProtoSDK/TransportStack/Socket/QuicClientTransport.cs
  ProtoSDK/TransportStack/Socket/QuicServerListener.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 8935037: add excluded case about quic
  TestSuites/FileServer/src/SMB2/TestSuite/Compression/CompressionTest.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/CreditMgmt/CreditMgmtAdapter.cs
  TestSuites/FileServer/src/SMB2Model/Adapter/ModelManagedAdapterBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 8912661: Adds logic for parsing capabilities files.
  ProtocolTestManager/PTMService/PTMKernelService/CapabilitiesConfig.cs
Due: none

add excluded cases
  TestSuites/FileServer/src/SMB2/TestSuite/CreateClose/CreateClose.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 8912796: Add status verification to SMB2 QueryFileNormalizedNameInfo test case
  TestSuites/FileServer/src/SMB2/TestSuite/Basic/SMB2Basic.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 9012595: Added support for filtering using a capabilities file to PTM CLI
  ProtocolTestManager/Kernel/Capabilities/CapabilitiesConfigReader.cs
  ProtocolTestManager/PTMService/.globalconfig
  ProtocolTestManager/PTMService/PTMKernelService/CapabilitiesConfigWriter.cs
  ProtocolTestManager/PtmCli/Options.cs
  ProtocolTestManager/PtmCli/Program.cs
  ProtocolTestManager/PtmCli/StringResources.Designer.cs
  ProtocolTestManager/PtmCli/StringResources.resx
Due: none

Merged PR 9041049: Adding version 4 of RDP Client Test Suite Tutorial
  Doc/RDP Client Test Suite Lab Tutorial v4 Mar2023.docx
  Doc/RDP Client Test Suite Lab Tutorial v4 Mar2023.pdf
Due: none

Merged PR 9060450: Use IPV4 socket for TcpClient.
  ProtoSDK/MS-RDPBCGR/Client/RdpbcgrClient.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

Merged PR 9053741: Refactor SetTimestamp functions and Add test case FileInfo_Set_FileBasicInformation_Timestamp_Zero_File_ChangeTime
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation_Timestamp_Zero.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 9087294: Fix MS-SMBD_Server_CodeQL failure.
  ProtoSDK/RDMA/Rdma.vcxproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml

Merged PR 9087431: Fix BranchCache_CodeQL failure.
  TestSuites/BranchCache/src/COMMON/BranchCacheFrameworkAdapter/BranchCacheFrameworkAdapter.csproj
  TestSuites/BranchCache/src/COMMON/ReqConfigUtility/ReqConfigUtility.csproj
  TestSuites/BranchCache/src/COMMON/SUTControlAdapter/SUTControlAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRD/Client/Adapter/PccrdClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRD/Server/Adapter/PccrdServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRR/Client/Adapter/PccrrClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRR/Server/Adapter/PccrrServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRTP/Client/Adapter/PccrtpClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCCRTP/Server/Adapter/PccrtpServerAdapter.csproj
  TestSuites/BranchCache/src/MS-PCHC/Client/Adapter/PchcClientAdapter.csproj
  TestSuites/BranchCache/src/MS-PCHC/Server/Adapter/PchcServerAdapter.csproj
Due: none

Merged PR 9053861: Added unit tests
  ProtocolTestManager/Kernel/Capabilities/CapabilitiesConfigReader.cs
  ProtocolTestManager/PTMService/PTMKernelService/CapabilitiesConfigWriter.cs
  ProtocolTestManager/PTMService/UnitTest/Kernel/CapabilitiesConfigReader/ParseTests.cs
  ProtocolTestManager/PTMService/UnitTest/Kernel/CapabilitiesConfigReader/TestCasesTests.cs
  ProtocolTestManager/PTMService/UnitTest/PTMKernelService/CapabilitiesConfigWriterTests.cs
  ProtocolTestManager/PTMService/UnitTest/UnitTest.csproj
Due: none

Merged PR 9142952: Add SHAREFLAG_ISOLATED_TRANSPORT to share flags
  ProtoSDK/MS-SMB2/Packets/SMB2Message.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 9177423: Added a page for managing a list of capabilities files
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Common/Entities/CapabilitiesConfig.cs
  ProtocolTestManager/PTMService/Database/PTMServiceDbContext.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20230621130528_SupportCapabilitiesConfiguration.Designer.cs
  ProtocolTestManager/PTMService/DatabaseMigration/Migrations/20230621130528_SupportCapabilitiesConfiguration.cs
  ProtocolTestManager/PTMService/DatabaseMigration/ptmservice.db
  ProtocolTestManager/PTMService/PTMKernelService/CapabilitiesConfigWriter.cs
  ProtocolTestManager/PTMService/PTMKernelService/Consts.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_Capabilities.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/CapabilitiesAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/Header.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/CapabilitiesFileInfo.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/CreateCapabilitiesFileRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/InstallRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/UpdateCapabilitiesFileRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureCapabilitiesConfig.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ListCapabilitiesConfig.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/CapabilitiesListReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Capabilities.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/CapabilitiesInfoController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/CapabilitiesManagementController.cs
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/PTMService/Startup.cs
  ProtocolTestManager/PTMService/UnitTest/PTMKernelService/CapabilitiesConfigWriterTests.cs
Due: none

Merged PR 9241220: Include MS-XCA Test Design Specs and User Guide
  TestSuites/MS-XCA/docs/MS-XCA_TestDesignSpecification.md
  TestSuites/MS-XCA/docs/MS-XCA_TestSuiteUserGuide.md
  TestSuites/MS-XCA/docs/[MS-XCA].pdf
  TestSuites/MS-XCA/docs/images/MS-XCA_TestDesignSpecification/MS-XCA_Environment.png
  TestSuites/MS-XCA/docs/images/MS-XCA_TestDesignSpecification/MS-XCA_Overview.png
  TestSuites/MS-XCA/src/TestSuite/Compression/Compression.cs
  TestSuites/MS-XCA/src/TestSuite/Decompression/Decompression.cs
  TestSuites/MS-XCA/src/TestSuite/MS-XCA_TestSuite.csproj
  TestSuites/MS-XCA/src/TestSuite/MS-XCA_TestSuite.deployment.ptfconfig
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77Huffman_Compressed_a_z.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77Huffman_Compressed_a_z_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77Huffman_Compressed_abc_100.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77Huffman_Compressed_abc_100_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77_Compressed_a_z.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77_Compressed_a_z_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77_Compressed_abc_100.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZ77_Compressed_abc_100_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZNT1_Compressed.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZNT1_Compressed_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZNT1_Uncompressed.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/LZNT1_Uncompressed_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/Uncompressed_a_z.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/Uncompressed_a_z_large.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/Uncompressed_abc_100.data
  TestSuites/MS-XCA/src/TestSuite/StaticData/Uncompressed_abc_100_large.data
  TestSuites/MS-XCA/src/TestSuite/XcaTestClassBase.cs
  TestSuites/MS-XCA/src/build.ps1
  TestSuites/MS-XCA/src/build.sh
  TestSuites/RDP/Server/Docs/MS-RDPBCGR_ServerTestDesignSpecification.md
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 9343270: RDP Powershell Remoting Error Fix
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/EditFileWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/Run-TaskWithPSRemoting.ps1
  TestSuites/RDP/Client/src/Adapter/SUTControlAdapter/TriggerClientDisconnectAll.ps1
Due: none

Merged PR 9357245: Add test case and TDS for Open Named Pipe
  TestSuites/FileServer/docs/MS-FSA_ServerTestDesignSpecification.md
  TestSuites/FileServer/src/FSA/Adapter/Enum.cs
  TestSuites/FileServer/src/FSA/Adapter/FSAAdapter.cs
  TestSuites/FileServer/src/FSA/TestSuite/FileAccess/FileAccess_OpenNamedPipe.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 9316780: Added user interface support for managing groups, categories and test cases for capabilities file
  ProtocolTestManager/Kernel/Capabilities/CapabilitiesConfigReader.cs
  ProtocolTestManager/PTMService/Abstractions/Kernel/IPTMKernelService.cs
  ProtocolTestManager/PTMService/Abstractions/Storage/IStorageNode.cs
  ProtocolTestManager/PTMService/Database/ptmservice.db
  ProtocolTestManager/PTMService/PTMKernelService/CapabilitiesConfigWriter.cs
  ProtocolTestManager/PTMService/PTMKernelService/PTMKernelService_Capabilities.cs
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/CapabilitiesConfigAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/CapabilitiesGroupsPanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/CapabilitiesTestCasesTreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/CapabilitiesFileInfo.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/SaveCapabilitiesFileRequest.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/ConfigureCapabilitiesConfig.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/CapabilitiesConfigReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/CapabilitiesListReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/index.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/Capabilities.ts
  ProtocolTestManager/PTMService/PTMService/Controllers/CapabilitiesInfoController.cs
  ProtocolTestManager/PTMService/PTMService/Controllers/CapabilitiesManagementController.cs
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/Storage/StorageNode.cs
Due: none

Merged PR 9350061: Added logic to validate group and category names in capabilities files
  ProtocolTestManager/Kernel/Capabilities/CapabilitiesConfigReader.cs
  ProtocolTestManager/PTMService/UnitTest/Kernel/CapabilitiesConfigReader/ParseTests.cs
Due: none

Merged PR 9386097: Added support for outputting test reports by categories in a capabilities fil...
  ProtocolTestManager/Kernel/Capabilities/CapabilitiesConfigReader.cs
  ProtocolTestManager/PTMService/UnitTest/Kernel/CapabilitiesConfigReader/ParseTests.cs
  ProtocolTestManager/PTMService/UnitTest/Kernel/CapabilitiesConfigReader/TestCasesTests.cs
  ProtocolTestManager/PTMService/UnitTest/PTMKernelService/CapabilitiesConfigWriterTests.cs
  ProtocolTestManager/PtmCli/Options.cs
  ProtocolTestManager/PtmCli/Program.cs
Due: none

Merged PR 9452212: Added support for filtering using capabilities files in PTM Service
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/actions/FilterTestCaseAction.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/components/CapabilitiesTreePanel.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/model/CapabilitiesFileInfo.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/pages/FilterTestCase.tsx
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/CapabilitiesConfigReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/reducers/FilterTestCaseReducer.ts
  ProtocolTestManager/PTMService/PTMService/ClientApp/src/services/TestSuites.ts
  ProtocolTestManager/PTMService/PTMService/PTMService.csproj
Due: none

Merged PR 9466110: Fixed issue with parameter naming in PTM CLI
  ProtocolTestManager/PtmCli/Options.cs
  ProtocolTestManager/PtmCli/Program.cs
Due: none

Merged PR 9499913: Update TestSuite version info 4.23.9.0
  AssemblyInfo/.version
  AssemblyInfo/PTMAssemblyInfo.cs
  AssemblyInfo/SharedAssemblyInfo.cs
  AssemblyInfo/resource.h
Due: none

Fixed filtering bug in PTM CLI
  ProtocolTestManager/PtmCli/Program.cs
Due: none
