Repository microsoft/WindowsProtocolTestSuites: changes, and which Azure pipelines are due for each by the changed paths.
All: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml, pipelines/github/RDPServer-GitHubPR-Regression.yml, pipelines/github/RDPToolSet-GitHubPR-Build.yml

eng/pipelines/FileServer-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch externel repo
      env:
  ...

pipelines/FileServer-GitHubPR-Regression.yml:
  jobs:
  - job: null
    displayName: Run regression
    pool:
      name: Azure Agents
    workspace:
      clean: all
    timeoutInMinutes: 0
    steps:
    - script: git clone --single-branch --progress -b $(test.helperBranch) %EXTREPO_URL% %EXTREPO_DIR% 2>&1
      displayName: Fetch external repo
      env:
  ...

pipelines/github/FileServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPServer-GitHubPR-Regression.yml:
  stages:
  - template: GitHubPR-Regression.yml

pipelines/github/RDPToolSet-GitHubPR-Build.yml:
  jobs:
  - job: null
    displayName: Build RDPToolSet
    workspace:
      clean: true
    timeoutInMinutes: 0
    steps:
    - checkout: self
    - task: DotNetCoreCLI@2
      displayName: Restore RDPToolSet
      inputs:
        command: restore
        projects: $(build.solutionFolder)/**/*.csproj
  ...

Reset transport timeout.
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Update RDP_ServerTestSuite.deployment.ptfconfig
  TestSuites/RDP/Server/src/TestSuite/RDP_ServerTestSuite.deployment.ptfconfig
Due: pipelines/github/RDPServer-GitHubPR-Regression.yml

Merged PR 5605500: Fix the issue of getting WMI object
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/Detector/FSDetector.cs
Due: none

Fix PR comments
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure_dotnetcore.html
Due: none

Add RDPClient .net core version guidline
  ProtocolTestManager/Deploy/RDPClientPlugin.wxs
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/network.html
Due: none

Fix PR comments
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/index.html
Due: none

Format code
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure_dotnetcore.html
Due: none

Add document file about PTM RDPClient
  ProtocolTestManager/Plugins/RDPClientPlugin/RDPClientPlugin/Docs/configure_dotnetcore.html
  ProtocolTestManager/Plugins/RDPServerPlugin/RDPServerPlugin/Docs/configure_dotnetcore.html
Due: none

Revised according to PR comments.
  ProtoSDK/MS-SMB2/Client/Smb2Client.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlManagedAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapterAccessor.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlDataTypes.cs
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.ptfconfig
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add missed test categroy config in file server plugin
  ProtocolTestManager/Plugins/FileServerPlugin/FileServerPlugin/config.xml
Due: none

Remove target and adminUserName parameters.
  TestSuites/FileServer/src/Common/Adapter/ISutCommonControlAdapter.cs
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroupMembers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetGroups.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserMemberships.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUserSid.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapter/GetUsers.ps1
  TestSuites/FileServer/src/Common/Adapter/SutCommonControlAdapterAccessor.cs
  TestSuites/FileServer/src/SMB2/TestSuite/TreeMgmt/TreeMgmt.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5633285: [GitHub] Add a build verification pipeline for GitHub pull request
  CommonScripts/CheckLicenseHeader.ps1
  pipelines/github/GitHubPR-Regression.yml
  pipelines/github/RDPToolSet-GitHubPR-Build.yml
Due: none

Merged PR 5647636: Fix lease test case issue
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5652914: Create solution for new PTM service
  .gitignore
  ProtocolTestManager/PTMService/PTMService/PTMService.sln
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/.env
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/.eslintrc.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/README.md
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/package-lock.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/package.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/public/favicon.ico
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/public/index.html
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/public/manifest.json
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/App.test.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/App.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/Counter.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/FetchData.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/Home.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/Layout.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/NavMenu.css
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/components/NavMenu.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/custom.css
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/index.tsx
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/react-app-env.d.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/registerServiceWorker.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/store/Counter.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/store/WeatherForecasts.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/store/configureStore.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/src/store/index.ts
  ProtocolTestManager/PTMService/PTMService/PTMService/ClientApp/tsconfig.json
  ProtocolTestManager/PTMService/PTMService/PTMService/Controllers/WeatherForecastController.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/PTMService.csproj
  ProtocolTestManager/PTMService/PTMService/PTMService/Pages/Error.cshtml
  ProtocolTestManager/PTMService/PTMService/PTMService/Pages/Error.cshtml.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Pages/_ViewImports.cshtml
  ProtocolTestManager/PTMService/PTMService/PTMService/Program.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/Properties/launchSettings.json
  ProtocolTestManager/PTMService/PTMService/PTMService/Startup.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/WeatherForecast.cs
  ProtocolTestManager/PTMService/PTMService/PTMService/appsettings.Development.json
  ProtocolTestManager/PTMService/PTMService/PTMService/appsettings.json
Due: none

Fixing regression run failure on FAT32 and ReFS
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Revised remoting config scritps according to regression runs.
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
Due: none

Fix scripts.
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
Due: none

Add tasks to copy keys when users log on.
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
Due: none

Format commands.
  CommonScripts/Config-AuthorizedKeys.ps1
  CommonScripts/Config-RSAKeys.ps1
Due: none

Replace OPEN_IF with CREATE for file creation
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Adding log in the final else statement for clarity
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Creating new test case category for Common Algorithms
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/CommonAlgorithmTestCases.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Algorithm_Noting_FIleModified
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test case and test case utility
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Separating test for -2 timestamp value as independent test case
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add check for operating systems that don't support -2
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test -2 timestamp value against files only
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add check for ReFS unsupported operating systems
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add positive test cases for file systems
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Test case for FSA
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/DirectoryAccess_FindAllFiles.cs
  TestSuites/FileServer/src/FSA/TestSuite/MS-FSA_ServerTestSuite.csproj
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add CommonAlgorithm to TestCategories
  TestSuites/FileServer/src/Common/Adapter/TestCategories.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Add test case logic
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Create more test cases for FSA protocol
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/DirectoryAccess_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

confirm found files array size
  TestSuites/FileServer/src/Common/TestSuite/CommonTestSuite.deployment.ptfconfig
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/DirectoryAccess_FindAllFiles.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5624816: Add identity into PipeSink and set pipename as Guid to let it unique
  ProtocolTestManager/Kernel/AppConfig.cs
  ProtocolTestManager/Kernel/Profile/ProfileUtil.cs
  ProtocolTestManager/Kernel/Utility.cs
Due: none

Merged PR 5653075: Add new lease test cases for lease key
  TestSuites/FileServer/docs/FileServerTestDesignSpecification.md
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/DirectoryLeasingExtendedTest.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/FileLeasing.cs
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/SMB2LeasingTestBase.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Merged PR 5670275: Use test logger to discover test cases
  ProtocolTestManager/Common/Common.csproj
  ProtocolTestManager/Common/TestCaseInfo.cs
  ProtocolTestManager/DiscoveryTestLogger/DiscoveryTestLogger.cs
  ProtocolTestManager/DiscoveryTestLogger/DiscoveryTestLogger.csproj
  ProtocolTestManager/Kernel/Kernel.csproj
  ProtocolTestManager/Kernel/TestEngine/TestEngine.cs
  ProtocolTestManager/Kernel/TestSuite/TestSuite.cs
  ProtocolTestManager/Kernel/Utility.cs
  ProtocolTestManager/PtmCli.sln
  ProtocolTestManager/PtmCli/PtmCli.csproj
Due: none

Add test case for [MS-FSA] section 2.1.4.17
  TestSuites/FileServer/src/FSA/TestSuite/CommonAlgorithm/Algorithm_Noting_FileModified.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Implement algorithm to compare lease keys
  TestSuites/FileServer/src/SMB2/TestSuite/Leasing/CompareLeaseKeys.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Set category to UnexpectedFields for negative test case
  TestSuites/FileServer/src/FSA/TestSuite/FileInformation/FileInfo_Set_FileBasicInformation.cs
Due: eng/pipelines/FileServer-GitHubPR-Build.yml, pipelines/FileServer-GitHubPR-Regression.yml, pipelines/github/FileServer-GitHubPR-Regression.yml

Path conditions:
  eng/pipelines/FileServer-GitHubPR-Build.yml: any of: TestSuites/FileServer, ProtoSDK, but not: TestSuites/FileServer/docs
  pipelines/FileServer-GitHubPR-Regression.yml: any of: TestSuites/FileServer, ProtoSDK/Asn1Base, ProtoSDK/MS-CIFS, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/MS-DFSC, ProtoSDK/FileAccessService, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/Sspi, ProtoSDK/MS-SWN, ProtoSDK/TransportStack, but not: TestSuites/FileServer/docs
  pipelines/github/FileServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Claim, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/FileAccessService, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CIFS, ProtoSDK/MS-DFSC, ProtoSDK/MS-FSCC, ProtoSDK/MS-Fsrvp, ProtoSDK/MS-Nlmp, ProtoSDK/MS-PAC, ProtoSDK/MS-Rpce, ProtoSDK/MS-RSVD, ProtoSDK/MS-SMB, ProtoSDK/MS-SMB2, ProtoSDK/MS-SQOS, ProtoSDK/MS-SRVS, ProtoSDK/MS-SWN, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/FileServer, but not: TestSuites/FileServer/docs
  pipelines/github/RDPServer-GitHubPR-Regression.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/Messages, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/Sspi, ProtoSDK/TransportStack, TestSuites/RDP/Server, but not: TestSuites/RDP/Server/docs
  pipelines/github/RDPToolSet-GitHubPR-Build.yml: any of: ProtoSDK/Asn1Base, ProtoSDK/Common, ProtoSDK/CryptoLib, ProtoSDK/KerberosLib, ProtoSDK/Messages, ProtoSDK/MS-CSSP, ProtoSDK/MS-NLMP, ProtoSDK/MS-RDPBCGR, ProtoSDK/MS-RDPEDYC, ProtoSDK/MS-RDPEFS, ProtoSDK/MS-RDPEGFX, ProtoSDK/MS-RDPEMT, ProtoSDK/MS-RDPEUDP, ProtoSDK/MS-RDPRFX, ProtoSDK/MS-SPNG, ProtoSDK/Sspi, ProtoSDK/SspiLib, ProtoSDK/SspiService, ProtoSDK/TransportStack, TestSuites/RDP/Tools/RDPToolSet/CodecToolSet.Core, TestSuites/RDP/Tools/RDPToolSet/RDPToolSet.Web
